In [2]:
import numpy as np
import pandas as pd
import requests
import json
from sqlalchemy import create_engine
import MySQLdb
from maps_data_extraction import *
from tqdm.notebook import tqdm_notebook
tqdm_notebook.pandas()
import osmnx as ox
ox.config(log_console=True, use_cache=True)

In [3]:
engine = create_engine('mysql+mysqldb://root:d12d12@127.0.0.1/zoopla_houses', echo=False)
df_coordinates = pd.read_sql('Select latitude, longitude FROM zoopla_houses;', engine)

In [ ]:
df_coordinates

In [ ]:
df_stations = pd.read_csv('data_temp/tube_stations.csv', index_col = 0)
df_stations.sort_values('id', inplace = True)
df_stations.reset_index(drop = True, inplace = True)
df_stations.drop(['display_name', 'zone', 'total_lines', 'rail'], axis = 1, inplace = True)
df_stations

In [ ]:
engine = create_engine('mysql+mysqldb://root:d12d12@127.0.0.1/zoopla_houses', echo=False)
#df_stations.to_sql('tube_stations', con=engine)
df_stations = pd.read_sql('Select latitude, longitude, name FROM tube_stations;', engine)
df_stations

In [ ]:
df_coordinates['closest_station'] = df_coordinates.progress_apply(lambda x: closest_station(x['latitude'], x['longitude'], df_stations, x.index), axis = 1)
df_coordinates

In [ ]:
df_coordinates.to_csv('coordinates_walking_temp.csv')

In [ ]:
df_coordinates = pd.read_csv('coordinates_walking_temp.csv', index_col=0)
df_coordinates.sample(10)

In [ ]:
df_coordinates['closest_station_name'] = df_coordinates['closest_station'].apply(lambda x: ast.literal_eval(x)[0])
df_coordinates['closest_station_distance_sec'] = df_coordinates['closest_station'].apply(lambda x: round(ast.literal_eval(x)[1]))
df_coordinates.drop(['closest_station','latitude','longitude'], axis = 1, inplace = True)
df_coordinates.sample(10)

In [ ]:
df_coordinates.to_sql('closest_station', con=engine)

In [4]:
df = pd.read_sql('Select * FROM zoopla_houses;', engine)

In [5]:
display(df.shape)
display(df.sample(5))

(18443, 29)

,level_0,index,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,...,numBathrooms,numLivingRooms,firstPublishedDate,firstPublishedPrice,balcony_terrace,parking,garden,closest_station_name,closest_station_distance_sec,pub_restaurant
1730,1730,1730,Hackney,2021-05-05,Kinleigh Folkard & Hayward - Clerkenwell Sales,1,"Garner Street, London E2",0,0,pre-owned,...,2,0,2021-05-05,650000.0,0,1,0,Bethnal Green,802,21
2187,2187,2187,Hammersmith,2021-06-03,John D Wood & Co. - Parsons Green Sales,0,"Ackmar Road, Parsons Green, Fulham, London SW6",0,0,pre-owned,...,2,1,2021-06-03,975000.0,0,0,0,Parsons Green,134,19
14663,14663,14663,Enfield,2021-06-08,Range Homes,1,"Winsford Terrace, Great Cambridge Road, London...",0,0,pre-owned,...,2,1,2021-06-08,600000.0,0,0,1,Wood Green,2279,7
8858,8858,8858,Wandsworth,2021-05-13,Aspire - Battersea,1,"Sangora Road, Wandsworth, London SW11",0,0,new,...,1,1,2021-05-13,500000.0,0,0,0,Clapham South,1780,29
11010,11010,11010,Barnet,2021-07-02,Squires Estates,0,"Beaufort Square, Colindale, London NW9",0,0,pre-owned,...,3,1,2021-07-02,820000.0,0,1,1,Colindale,640,3

In [6]:
def amenities_get(latitude, longitude):
    education = 0
    health = 0
    entertainment = 0
    shop = 0
    tags = {'amenity': ['college', 'kindergarten', 'school', 'university', 'clinic', 'doctors', 'hospital', 'cinema', 'theatre', 'events_venue'],'shop': ['supermarket']}
    data = ox.geometries_from_point(center_point=(latitude,longitude), dist=500, tags=tags)
    data.reset_index(inplace=True)
    try:
        amenities = data.groupby('amenity').count()
        try:
            education = education + amenities[amenities.index == 'college']['osmid'][0]
        except IndexError:
            education = education

        try:
            education = education + amenities[amenities.index == 'kindergarten']['osmid'][0]
        except IndexError:
            education = education

        try:
            education = education + amenities[amenities.index == 'school']['osmid'][0]
        except IndexError:
            education = education
        
        try:
            education = education + amenities[amenities.index == 'university']['osmid'][0]
        except IndexError:
            education = education

        try:
            health = health + amenities[amenities.index == 'clinic']['osmid'][0]
        except IndexError:
            health = health

        try:
            health = health + amenities[amenities.index == 'doctors']['osmid'][0]
        except IndexError:
            health = health

        try:
            health = health + amenities[amenities.index == 'hospital']['osmid'][0]
        except IndexError:
            health = health
        
        try:
            entertainment = entertainment + amenities[amenities.index == 'cinema']['osmid'][0]
        except IndexError:
            entertainment = entertainment

        try:
            entertainment = entertainment + amenities[amenities.index == 'theatre']['osmid'][0]
        except IndexError:
            entertainment = entertainment

        try:
            entertainment = entertainment + amenities[amenities.index == 'events_venue']['osmid'][0]
        except IndexError:
            entertainment = entertainment
    except KeyError:
        education = education
        health = health
        entertainment = entertainment

    try:
        shops = data.groupby('shop').count()
        try:
            shop = shop + shops[shops.index == 'supermarket']['osmid'][0]
        except IndexError:
            shop = shop
    except KeyError:
        shop = shop

    result_list = [education, health, entertainment, shop]
    return result_list

In [ ]:
tags = {'amenity': ['restaurant', 'pub']}

for i in range(15,19):
    chunk = df[(i-1)*1000:i*1000].copy()
    chunk['pub_restaurant'] = chunk.progress_apply(lambda x: ox.geometries_from_point(center_point=(x['latitude'],x['longitude']), dist=500, tags=tags).shape[0], axis = 1)
    chunk.to_csv('data_temp/rest_pub/pub_' + str(i) + '.csv')

chunk = df[18000:].copy()
chunk['pub_restaurant'] = chunk.progress_apply(lambda x: ox.geometries_from_point(center_point=(x['latitude'],x['longitude']), dist=500, tags=tags).shape[0], axis = 1)
chunk.to_csv('data_temp/rest_pub/pub_' + str(19) + '.csv')

In [ ]:
df = pd.DataFrame()
for i in range(1,20):
    temp_df = pd.read_csv('data_temp/rest_pub/pub_' + str(i) + '.csv', index_col=0)
    df = df.append(temp_df)

display(df.sample(5))
display(df.shape)

In [ ]:
df.to_sql('zoopla_houses', if_exists='replace', con=engine)

In [9]:
for i in tqdm_notebook(range(50,185)):
    chunk = df[(i-1)*100:i*100].copy()
    chunk['amenities_shop'] = chunk.progress_apply(lambda x: amenities_get(x['latitude'],x['longitude']), axis = 1)
    chunk.to_csv('data_temp/all_amenities/all_amenities_' + str(i) + '.csv')

chunk = df[18400:].copy()
chunk['education'] = chunk.progress_apply(lambda x: amenities_get(x['latitude'],x['longitude']), axis = 1)
chunk.to_csv('data_temp/all_amenities/all_amenities_' + str(185) + '.csv')

/home/diego/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

  0%|          | 0/135 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]

  0%|          | 0/100 [00:00<?, ?it/s]