# Zoopla Data Ingestion

The purpose of this Notebook is to extract and wrangle zoopla data to finally input in a SQL file for further analysis.

Within the Notebook there are several steps:

1. Extract the basic information and individual link for all the search pages of each borough search.
2. Scrape the JSON file of each individual house and parse it to extract the interesting information.
3. Wrangle the data to get an structured DataFrame.
4. Extract from the text features as much information as possible.
5. Drop the useless features.
6. Drop the records with not enough data.
7. Save the database in a SQL server.

In [164]:
import requests
from bs4 import BeautifulSoup as soup
import numpy as np
import pandas as pd
import math
import json
import time
import re
from datetime import datetime, date, timedelta
from DataIngestZoopla import number_of_search_pages
from DataIngestZoopla import get_borough_url
from DataIngestZoopla import get_main_house_details
from DataIngestZoopla import get_house_inner_details
from DataIngestZoopla import sq_m_features_find
from DataIngestZoopla import sq_ft_features_find
from DataIngestZoopla import extract_feature
import ast
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import MySQLdb

## 1. Basic information extraction

First I load the list of London Boroughs and the keys to make the search links.

As the search links had not a complete sense, I preferred to create them manually.

In [91]:
df_boroughs = pd.read_csv('list_of_boroughs.csv')

Then using the custom functions get_borough_url and number_of_search_pages I extract the links and number of pages for each page in each borough search.

In [92]:
df_boroughs = pd.DataFrame(df_dict)
df_boroughs['borough_url'] = df_boroughs.apply(lambda x: get_borough_url(x['london_brough_links_1']\
                                                                         ,x['london_brough_links_2']), 
                                               axis = 1)
df_boroughs[['pages','house_num']] = df_boroughs['borough_url'].apply(lambda x: number_of_search_pages(x))
df_boroughs

NameError: name 'df_dict' is not defined

Using the list of boroughs with its link for the first search page I use the custom function get_main_house_details to scrape from each search page the link and listed date of each house.

As there are many old ads, I filter to get just the ones less than 6 months old.

In [15]:
for i in range(0,df_boroughs.shape[0]):
    data_link, data_listed = get_main_house_details(df_boroughs['borough_url'][i],df_boroughs['pages'][i],
                                                    df_boroughs['house_num'][i])
    print(len(data_link))
    if i == 0:
        df_houses = pd.DataFrame({'Link':data_link,'Listed':data_listed},
                     columns = ['Link','Listed'])
        df_houses['Borough'] = df_boroughs['borough_name'][i]
    else:
        df_houses_temp = pd.DataFrame({'Link':data_link,'Listed':data_listed},
                     columns = ['Link','Listed'])
        df_houses_temp['Borough'] = df_boroughs['borough_name'][i]
        df_houses = df_houses.append(df_houses_temp)
        
df_houses['date_listed'] = df_houses['Listed'].apply(lambda x: datetime.strptime(x.split(' ')[-3][:-2]\
                                                                                 + '-' + x.split(' ')[-2]\
                                                                                 + '-' + x.split(' ')[-1],
                                                                                 '%d-%b-%Y'))
df_houses_to_get = df_houses[df_houses['date_listed'] > pd.to_datetime(date.today() - timedelta(days=180))]

Request 1 of 115
Request 2 of 115
Request 3 of 115
Request 4 of 115
Request 5 of 115
Request 6 of 115
Request 7 of 115
Request 8 of 115
Request 9 of 115
Request 10 of 115
Request 11 of 115
Request 12 of 115
Request 13 of 115
Request 14 of 115
Request 15 of 115
Request 16 of 115
Request 17 of 115
Request 18 of 115
Request 19 of 115
Request 20 of 115
Request 21 of 115
Request 22 of 115
Request 23 of 115
Request 24 of 115
Request 25 of 115
Request 26 of 115
Request 27 of 115
Request 28 of 115
Request 29 of 115
Request 30 of 115
Request 31 of 115
Request 32 of 115
Request 33 of 115
Request 34 of 115
Request 35 of 115
Request 36 of 115
Request 37 of 115
Request 38 of 115
Request 39 of 115
Request 40 of 115
Request 41 of 115
Request 42 of 115
Request 43 of 115
Request 44 of 115
Request 45 of 115
Request 46 of 115
Request 47 of 115
Request 48 of 115
Request 49 of 115
Request 50 of 115
Request 51 of 115
Request 52 of 115
Request 53 of 115
Request 54 of 115
Request 55 of 115
Request 56 of 115
Request 57 of 115
Request 58 of 115
Request 59 of 115
Request 60 of 115
Request 61 of 115
Request 62 of 115
Request 63 of 115
Request 64 of 115
Request 65 of 115
Request 66 of 115
Request 67 of 115
Request 68 of 115
Request 69 of 115
Request 70 of 115
Request 71 of 115
Request 72 of 115
Request 73 of 115
Request 74 of 115
Request 75 of 115
Request 76 of 115
Request 77 of 115
Request 78 of 115
Request 79 of 115
Request 80 of 115
Request 81 of 115
Request 82 of 115
Request 83 of 115
Request 84 of 115
Request 85 of 115
Request 86 of 115
Request 87 of 115
Request 88 of 115
Request 89 of 115
Request 90 of 115
Request 91 of 115
Request 92 of 115
Request 93 of 115
Request 94 of 115
Request 95 of 115
Request 96 of 115
Request 97 of 115
Request 98 of 115
Request 99 of 115
Request 100 of 115
Request 101 of 115
Request 102 of 115
Request 103 of 115
Request 104 of 115
Request 105 of 115
Request 106 of 115
Request 107 of 115
Request 108 of 115
Request 109 of 115
Request 110 of 115
Request 111 of 115
Request 112 of 115
Request 113 of 115
Request 114 of 115
Request 115 of 115
2859
Request 1 of 67
Request 2 of 67
Request 3 of 67
Request 4 of 67
Request 5 of 67
Request 6 of 67
Request 7 of 67
Request 8 of 67
Request 9 of 67
Request 10 of 67
Request 11 of 67
Request 12 of 67
Request 13 of 67
Request 14 of 67
Request 15 of 67
Request 16 of 67
Request 17 of 67
Request 18 of 67
Request 19 of 67
Request 20 of 67
Request 21 of 67
Request 22 of 67
Request 23 of 67
Request 24 of 67
Request 25 of 67
Request 26 of 67
Request 27 of 67
Request 28 of 67
Request 29 of 67
Request 30 of 67
Request 31 of 67
Request 32 of 67
Request 33 of 67
Request 34 of 67
Request 35 of 67
Request 36 of 67
Request 37 of 67
Request 38 of 67
Request 39 of 67
Request 40 of 67
Request 41 of 67
Request 42 of 67
Request 43 of 67
Request 44 of 67
Request 45 of 67
Request 46 of 67
Request 47 of 67
Request 48 of 67
Request 49 of 67
Request 50 of 67
Request 51 of 67
Request 52 of 67
Request 53 of 67
Request 54 of 67
Request 55 of 67
Request 56 of 67
Request 57 of 67
Request 58 of 67
Request 59 of 67
Request 60 of 67
Request 61 of 67
Request 62 of 67
Request 63 of 67
Request 64 of 67
Request 65 of 67
Request 66 of 67
Request 67 of 67
1666
Request 0 of 59
Request 1 of 59
Request 2 of 59
Request 3 of 59
Request 4 of 59
Request 5 of 59
Request 6 of 59
Request 7 of 59
Request 8 of 59
Request 9 of 59
Request 10 of 59
Request 11 of 59
Request 12 of 59
Request 13 of 59
Request 14 of 59
Request 15 of 59
Request 16 of 59
Request 17 of 59
Request 18 of 59
Request 19 of 59
Request 20 of 59
Request 21 of 59
Request 22 of 59
Request 23 of 59
Request 24 of 59
Request 25 of 59
Request 26 of 59
Request 27 of 59
Request 28 of 59
Request 29 of 59
Request 30 of 59
Request 31 of 59
Request 32 of 59
Request 33 of 59
Request 34 of 59
Request 35 of 59
Request 36 of 59
Request 37 of 59
Request 38 of 59
Request 39 of 59
Request 40 of 59
Request 41 of 59
Request 42 of 59
Request 43 of 59
Request 44 of 59
Request 45 of 59
Request 46 of 59
Request 47 of 59
Request 48 of 59
Request 49 of 59
Request 50 of 59
Request 51 of 59
Request 52 of 59
Request 53 of 59
Request 54 of 59
Request 55 of 59
Request 56 of 59
Request 57 of 59
Request 58 of 59
Request 59 of 59

## 2. Individual information extraction

Once I have all the individual links I scrape the JSON file of each house and extract the useful features.

The output of this operation would be a DataFrame with all the features and all the houses.

In [175]:
df_houses_details = get_house_inner_details(df_houses_to_get['Link'],
                                            df_houses_to_get['date_listed'],
                                            df_houses_to_get['Borough'])
df_houses_result = df_houses_to_get.join(df_houses_details)
df_houses_wrangling = df_houses_result.copy()

,Link,Listed,Borough,date_listed,agency_name,agency_phone,chain_free,address,isRetirementHome,isSharedOwnership,...,firstPublished,lastSale,firstPublishedDate,firstPublishedPrice,lastSaleDate,lastSaleNewBuild,lastSalePrice,sq_ft,sq_ft_num,sq_m_feat
0,/for-sale/details/59016388/,Listed on 26th Jun 2021,Camden,2021-06-26,Keatons - Kentish Town,020 8033 5916,True,"Cliff Court, Cliff Road, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-26 16:52:13,285000.0,None,None,NaN,None,None,NaN
1,/for-sale/details/59014076/,Listed on 26th Jun 2021,Camden,2021-06-26,London Habitat,020 8033 8980,False,"Rose Joan Mews, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-26 11:32:09,1150000.0,None,None,NaN,[over 1400sqft],1400,130.0
2,/for-sale/details/59013561/,Listed on 26th Jun 2021,Camden,2021-06-26,Next Property,020 8022 0180,False,"Leather Lane, Farringdon EC1N",False,False,...,None,None,None,NaN,None,None,NaN,None,None,NaN
3,/for-sale/details/59012418/,Listed on 26th Jun 2021,Camden,2021-06-26,Foxtons - Camden,020 3463 6980,False,"North Villas, Camden, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-26 00:05:11,850000.0,None,None,NaN,None,None,NaN
4,/for-sale/details/59012325/,Listed on 25th Jun 2021,Camden,2021-06-25,AbbeySpring London,020 3544 2531,True,"Goldhurst Terrace, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 23:35:16,1100000.0,2017-10-13,False,655000.0,None,None,NaN
5,/for-sale/details/59011798/,Listed on 25th Jun 2021,Camden,2021-06-25,Hunters - West Hampstead,020 3542 2160,False,"Kylemore Road, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 22:01:56,2350000.0,None,None,NaN,None,None,NaN
6,/for-sale/details/59010843/,Listed on 25th Jun 2021,Camden,2021-06-25,Hamptons - City Sales,020 3463 2556,True,"Woburn Court, Bernard Street, London WC1N",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 19:47:54,1250000.0,None,None,NaN,[1171 sq ft],1171,109.0
7,/for-sale/details/59010666/,Listed on 25th Jun 2021,Camden,2021-06-25,Savills - Marylebone & Fitzrovia,020 8022 3384,False,"Goodge Street, Fitzrovia, London W1T",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 19:21:38,1350000.0,1996-01-22,False,209000.0,None,None,NaN
8,/for-sale/details/59010250/,Listed on 25th Jun 2021,Camden,2021-06-25,Niche Estates,020 8033 4236,True,"Prince Of Wales Road, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 18:13:10,1200000.0,None,None,NaN,None,None,NaN
9,/for-sale/details/59010209/,Listed on 25th Jun 2021,Camden,2021-06-25,Foxtons - Clerkenwell,020 3463 2552,False,"Kings Cross Road, King's Cross, London WC1X",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 18:07:40,575000.0,None,None,NaN,None,None,NaN
10,/for-sale/details/59010195/,Listed on 25th Jun 2021,Camden,2021-06-25,Foxtons - Camden,020 3463 6980,False,"Queens Crescent, Camden, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 18:06:16,775000.0,None,None,NaN,None,None,NaN
11,/for-sale/details/59010194/,Listed on 25th Jun 2021,Camden,2021-06-25,Foxtons - Camden,020 3463 6980,False,"Euston Street, Euston, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 18:06:16,799950.0,None,None,NaN,None,None,NaN
12,/for-sale/details/59010164/,Listed on 25th Jun 2021,Camden,2021-06-25,Hamptons - West Hampstead Sales,020 3463 2723,False,"Alexandra Mansions, 347 West End Lane, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 17:57:03,625000.0,None,None,NaN,None,None,NaN
13,/for-sale/details/59009838/,Listed on 25th Jun 2021,Camden,2021-06-25,Dexters - Cricklewood,020 7794 7710,True,"Shoot Up Hill, London NW2",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 16:58:22,500000.0,2019-02-11,False,665000.0,None,None,NaN
14,/for-sale/details/59009776/,Listed on 25th Jun 2021,Camden,2021-06-25,The Cloister,020 8115 9868,False,"Warren Street, London W1T",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 16:51:04,1450000.0,None,None,NaN,None,None,NaN
15,/for-sale/details/59008485/,Listed on 25th Jun 2021,Camden,2021-06-25,Keatons - Kentish Town,020 8033 5916,False,"Rhyl Street, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 16:34:18,475000.0,2013-10-18,False,380000.0,None,None,NaN
16,/for-sale/details/59008310/,Listed on 25th Jun 2021,Camden,2021-06-25,Vita Properties,020 3463 0656,False,"Priory Terrace, South Hampstead, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 16:22:16,775000.0,2004-07-14,False,280000.0,None,None,NaN
17,/for-sale/details/59007933/,Listed on 25th Jun 2021,Camden,2021-06-25,Dexters - Dartmouth Park,020 7284 0101,False,"North Road, London N7",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 15:57:41,400000.0,None,None,NaN,None,None,NaN
18,/for-sale/details/59007507/,Listed on 25th Jun 2021,Camden,2021-06-25,Compass Residential,020 8115 2259,False,"Malden Road, Chalk Farm NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 15:41:11,550000.0,None,None,NaN,None,None,NaN
19,/for-sale/details/59007318/,Listed on 25th Jun 2021,Camden,2021-06-25,Portico - Highbury,020 3641 5352,True,"Portpool Lane, London EC1N",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 15:27:32,580000.0,None,None,NaN,None,None,NaN
20,/for-sale/details/59006889/,Listed on 25th Jun 2021,Camden,2021-06-25,Chestertons - Kentish Town,020 8115 2496,False,"Bartholomew Villas, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 15:00:32,595000.0,1997-09-12,False,98000.0,None,None,NaN
21,/for-sale/details/59006789/,Listed on 25th Jun 2021,Camden,2021-06-25,Hamptons - West Hampstead Sales,020 3463 2723,False,"Shoot Up Hill, London NW2",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 14:51:13,2500000.0,None,None,NaN,None,None,NaN
22,/for-sale/details/59006541/,Listed on 25th Jun 2021,Camden,2021-06-25,Wayne and Silver,020 3641 4279,False,"Redington Gardens, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 14:31:46,1450000.0,None,None,NaN,None,None,NaN
23,/for-sale/details/59006217/,Listed on 25th Jun 2021,Camden,2021-06-25,Winkworth - Kentish Town,020 8115 4640,False,"Beacon Hill, London N7",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 14:07:59,425000.0,2001-02-16,False,135000.0,None,None,NaN
24,/for-sale/details/59006191/,Listed on 25th Jun 2021,Camden,2021-06-25,Strettons Auctions,020 8022 5209,False,"153B Sumatra Road, West Hampstead, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 14:06:34,620000.0,None,None,NaN,None,None,NaN
25,/for-sale/details/59006154/,Listed on 25th Jun 2021,Camden,2021-06-25,Foxtons - Camden,020 3463 6980,False,"Carlow Street, Camden, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 14:05:22,525000.0,None,None,NaN,None,None,NaN
26,/for-sale/details/59006085/,Listed on 25th Jun 2021,Camden,2021-06-25,Willtons Estates,020 8022 1826,False,"Fellows Road, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 14:00:33,510000.0,None,None,NaN,None,None,NaN
27,/for-sale/details/59005994/,Listed on 25th Jun 2021,Camden,2021-06-25,Keatons - Kentish Town,020 8033 5916,False,"Grafton Terrace, Kentish Town, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 13:55:33,500000.0,None,None,NaN,None,None,NaN
28,/for-sale/details/59005934/,Listed on 25th Jun 2021,Camden,2021-06-25,TK International,020 3478 2905,False,"Spaniards End, Hampstead NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 13:49:20,7750000.0,None,None,NaN,None,None,NaN
29,/for-sale/details/59005710/,Listed on 25th Jun 2021,Camden,2021-06-25,Sandfords - Regent's Park,020 3463 9600,False,"Park Road, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 13:34:56,1495000.0,2020-01-10,False,1207000.0,None,None,NaN
30,/for-sale/details/59005253/,Listed on 25th Jun 2021,Camden,2021-06-25,Parkheath - West & South Hampstead,020 3478 2902,False,"Fairhazel Gardens, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 12:57:19,900000.0,2014-08-19,False,795000.0,[1069 sq ft / 99.3 sq m],1069,99.0
31,/for-sale/details/59005173/,Listed on 25th Jun 2021,Camden,2021-06-25,Gravitas Residential,020 3641 3563,False,"Princess Park Apartments, Prince Of Wales Road...",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 12:49:09,485000.0,None,None,NaN,None,None,NaN
32,/for-sale/details/56749885/,Listed on 25th Jun 2021,Camden,2021-06-25,Naylius McKenzie,020 3463 2625,True,"Haverstock Hill, Belsize Park, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 12:29:25,700000.0,None,None,NaN,None,None,NaN
33,/for-sale/details/59004742/,Listed on 25th Jun 2021,Camden,2021-06-25,Paramount,020 8166 7708,False,"Shoot Up Hill, Mapesbury NW2",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 12:17:38,550000.0,2011-08-08,False,244000.0,None,None,NaN
34,/for-sale/details/59004585/,Listed on 25th Jun 2021,Camden,2021-06-25,Mile Kensal Rise,020 8115 8759,True,"Minster Road, London NW2",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 12:03:54,835000.0,None,None,NaN,None,None,NaN
35,/for-sale/details/59003328/,Listed on 25th Jun 2021,Camden,2021-06-25,Dexters - Hampstead,020 7435 9822,False,"Hermitage Gardens, London NW2",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 10:28:11,1750000.0,2005-12-01,False,670000.0,None,None,NaN
36,/for-sale/details/59003204/,Listed on 25th Jun 2021,Camden,2021-06-25,House Collective,020 3641 6615,False,"Eton Avenue, Belsize Park, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-25 10:19:36,2500000.0,2005-07-29,False,340000.0,None,None,NaN
37,/for-sale/details/59002605/,Listed on 25th Jun 2021,Camden,2021-06-25,Robert Cooper & Co,020 8128 4968,False,"Rochester Road, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-25 09:35:30,1599950.0,None,None,NaN,None,None,NaN
38,/for-sale/details/58999571/,Listed on 24th Jun 2021,Camden,2021-06-24,Hunters - West Hampstead,020 3542 2160,False,"Gascony Avenue, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 22:03:50,825000.0,None,None,NaN,None,None,NaN
39,/for-sale/details/58999297/,Listed on 24th Jun 2021,Camden,2021-06-24,Jorgensen Turner,020 3544 6129,True,"Snowman House, London NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 21:18:57,275000.0,None,None,NaN,None,None,NaN
40,/for-sale/details/58998715/,Listed on 24th Jun 2021,Camden,2021-06-24,Chestertons - St John's Wood,020 8115 2475,False,"Balcombe Street, Marylebone, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 19:45:18,565000.0,2012-02-10,False,315000.0,None,None,NaN
41,/for-sale/details/58998206/,Listed on 24th Jun 2021,Camden,2021-06-24,Foxtons - Camden,020 3463 6980,False,"William Road, Euston, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 18:04:32,699995.0,None,None,NaN,None,None,NaN
42,/for-sale/details/58368192/,Listed on 24th Jun 2021,Camden,2021-06-24,Rochester Place Ltd,020 3463 0681,False,"Malden Road, Chalk Farm NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 17:12:45,450000.0,None,None,NaN,None,None,NaN
43,/for-sale/details/58997625/,Listed on 24th Jun 2021,Camden,2021-06-24,Keatons - Kentish Town,020 8033 5916,False,"Burghley Road, Kentish Town, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 16:50:11,500000.0,None,None,NaN,None,None,NaN
44,/for-sale/details/58008282/,Listed on 24th Jun 2021,Camden,2021-06-24,Goldschmidt & Howland - West Hampstead,020 3551 9697,False,"Finchley Road, West Hampstead, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 16:27:41,450000.0,None,None,NaN,None,None,NaN
45,/for-sale/details/58995913/,Listed on 24th Jun 2021,Camden,2021-06-24,Salter Rex,020 8022 0765,True,"Holmes Road, London NW5",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 16:02:44,625000.0,None,None,NaN,None,None,NaN
46,/for-sale/details/58995484/,Listed on 24th Jun 2021,Camden,2021-06-24,Heathgate,020 3478 3634,False,"Arkwright Road, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 15:32:16,950000.0,2008-05-01,False,550000.0,None,None,NaN
47,/for-sale/details/58995260/,Listed on 24th Jun 2021,Camden,2021-06-24,Jeremy Bass Estate Agents,020 8033 5193,False,"Chalcot Road, Primrose Hill, London NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 15:16:47,1500000.0,None,None,NaN,None,None,NaN
48,/for-sale/details/58995156/,Listed on 24th Jun 2021,Camden,2021-06-24,Chestertons - Covent Garden,020 8115 2504,False,"Phoenix Street, London WC2H",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 15:08:08,1499000.0,None,None,NaN,None,None,NaN
49,/for-sale/details/58539253/,Listed on 24th Jun 2021,Camden,2021-06-24,Vita Properties,020 3463 0656,False,"Winchester Road, Belsize Park, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 15:03:34,1800000.0,2018-10-11,False,1315000.0,None,None,NaN
50,/for-sale/details/58994965/,Listed on 24th Jun 2021,Camden,2021-06-24,Heathgate,020 3478 3634,False,"St. Cuthbert's Road, West Hampstead NW2",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 14:51:31,449000.0,2018-08-17,False,700000.0,None,None,NaN
51,/for-sale/details/58994210/,Listed on 24th Jun 2021,Camden,2021-06-24,Amberden Estates,020 3478 2903,False,"Primrose Gardens, Belsize Park NW3, London,",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 14:10:04,875000.0,None,None,NaN,None,None,NaN
52,/for-sale/details/58993974/,Listed on 24th Jun 2021,Camden,2021-06-24,Hurford Salvi Carr - Clerkenwell & City Sales,020 8033 5781,False,"Fetter Lane, London EC4A",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 13:54:32,1499000.0,None,None,NaN,[1352 sq ft - 126 sq m],1352,126.0
53,/for-sale/details/58993589/,Listed on 24th Jun 2021,Camden,2021-06-24,Marsh & Parsons - Marylebone & Mayfair,020 7768 1159,False,"57A Lisson Street, London NW1",False,False,...,None,None,None,NaN,None,None,NaN,None,None,NaN
54,/for-sale/details/58992601/,Listed on 24th Jun 2021,Camden,2021-06-24,Wayne and Silver,020 3641 4279,False,"Finchley Road, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 11:56:11,1450000.0,2016-01-05,False,1000000.0,None,None,NaN
55,/for-sale/details/58992330/,Listed on 24th Jun 2021,Camden,2021-06-24,Elegant Homes London,020 8033 8691,False,"Platts Lane, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 11:33:51,1200000.0,None,None,NaN,None,None,NaN
56,/for-sale/details/58991792/,Listed on 24th Jun 2021,Camden,2021-06-24,ML Estates,020 3641 4806,True,"Lymington Road, West Hampstead NW6",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 10:47:52,700000.0,2015-11-13,False,699950.0,None,None,NaN
57,/for-sale/details/58990450/,Listed on 24th Jun 2021,Camden,2021-06-24,LDG,020 8033 8849,False,"University Street, Bloomsbury, London WC1E",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...",None,2021-06-24 09:01:40,690000.0,None,None,NaN,None,None,NaN
58,/for-sale/details/52180599/,Listed on 24th Jun 2021,Camden,2021-06-24,Litchfields - Hampstead Garden Suburb,020 3641 4301,False,"Heathway Court, Finchley Road, London NW3",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 08:36:17,499999.0,2015-10-09,False,400000.0,None,None,NaN
59,/for-sale/details/58990093/,Listed on 24th Jun 2021,Camden,2021-06-24,Camden Bus Estate Agents,020 3544 3894,True,"Mornington Crescent, Camden Town NW1",False,False,...,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",2021-06-24 08:25:34,480000.0,2017-10-27,False,470000.0,None,None,NaN

## 3. Data Wrangling

The first item of data wrangling is to extract and convert the floor area from its dictionary and convert to m^2 if necessary.

In [86]:
df_houses_wrangling['floorArea'].fillna(value = np.nan, inplace = True)
df_houses_wrangling['floor_area_amount'] = df_houses_wrangling['floorArea'].apply(lambda x: None if 
                                                                                  pd.isnull(x) 
                                                                        else eval(x)['value'])
df_houses_wrangling['floor_area_units'] = df_houses_wrangling['floorArea'].apply(lambda x: None if 
                                                                                  pd.isnull(x) 
                                                                        else eval(x)['unitsLabel'])
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: None if 
                                                                  pd.isnull(x['floor_area_amount']) else
                                                                  ((round(x['floor_area_amount']/10.7639)) 
                                                                  if (x['floor_area_units'] == 'sq. ft') 
                                                                  else x['floor_area_amount']), axis = 1)

Now, to extract some basic information such as amount of beds, baths, etc. from its dictionary.

In [87]:
# temporally to delete empty lines
df_houses_wrangling.drop(df_houses_wrangling[df_houses_wrangling['RoomCount'].isnull()].index, 
                         inplace = True, axis = 0)
df_houses_wrangling[df_houses_wrangling['RoomCount'].isnull()]

Empty DataFrame
Columns: [Link, Listed, Borough, date_listed, agency_name, agency_phone, chain_free, address, isRetirementHome, isSharedOwnership, listingCondition, listingStatus, RoomCount, price, propertyType, isAuction, priceHistory, floorArea, tenure, detailedDescription, features, furnishedState, title, latitude, longitude, statusSummary, floor_area_amount, floor_area_units, floor_area_msq]
Index: []

[0 rows x 29 columns]

In [88]:
df_houses_wrangling['numBedrooms'] = df_houses_wrangling['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(ast.literal_eval(x)['numBedrooms']) 
                                                                        else ast.literal_eval(x)['numBedrooms'])
df_houses_wrangling['numBathrooms'] = df_houses_wrangling['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(ast.literal_eval(x)['numBathrooms']) 
                                                                        else ast.literal_eval(x)['numBathrooms'])
df_houses_wrangling['numLivingRooms'] = df_houses_wrangling['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(ast.literal_eval(x)['numLivingRooms']) 
                                                                        else ast.literal_eval(x)['numLivingRooms'])

Next step is to extract historical information. In this case the dictionary varies depending on the information available, so it is important to avoid errors trying to use None values.

In [89]:
df_houses_wrangling['firstPublished'] = df_houses_wrangling['priceHistory'].apply(lambda x: None if 
                                                                                  pd.isnull(x) 
                                                                        else eval(x)['firstPublished'])
df_houses_wrangling['lastSale'] = df_houses_wrangling['priceHistory'].apply(lambda x: None if 
                                                                            pd.isnull(x) 
                                                                            else ast.literal_eval(x)['lastSale'])
df_houses_wrangling['firstPublishedDate'] = df_houses_wrangling['firstPublished'].apply(lambda x: None if 
                                                                                    pd.isnull(x) 
                                                                    else x['firstPublishedDate'])
df_houses_wrangling['firstPublishedPrice'] = df_houses_wrangling['firstPublished'].apply(lambda x: None 
                                                                                if pd.isnull(x) 
                                                                            else x['priceLabel'])
df_houses_wrangling['lastSaleDate'] = df_houses_wrangling['lastSale'].apply(lambda x: None 
                                                                            if pd.isnull(x) 
                                                                            else x['date'])
df_houses_wrangling['lastSaleNewBuild'] = df_houses_wrangling['lastSale'].apply(lambda x: None 
                                                                                if pd.isnull(x) 
                                                                            else x['newBuild'])
df_houses_wrangling['lastSalePrice'] = df_houses_wrangling['lastSale'].apply(lambda x: None 
                                                                             if pd.isnull(x) 
                                                                             else x['price'])
df_houses_wrangling['firstPublishedPrice'] = df_houses_wrangling['firstPublishedPrice'].apply(lambda x:None 
                                                                                              if pd.isnull(x)\
                                                                 else int(x.replace(',','').split('')[-1]))

## 4. Feature Extraction

From features data we can try to extract floor are information, as currently this feature is full of empty records but it is very important.

I will use the functions I created to extract any feature that contains the words sq ft or sq m in some way.

In [90]:
df_houses_wrangling['sq_m_feat_from_ft'] = df_houses_wrangling['features'].apply(lambda x: None if pd.isnull(x)
                                                                                else sq_ft_features_find(x))

df_houses_wrangling['sq_m_feat_from_m'] = df_houses_wrangling['features'].apply(lambda x: None if pd.isnull(x)
                                                                                else sq_m_features_find(x))

In [91]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50675 entries, 0 to 50739
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 50675 non-null  object
 1   Listed               50675 non-null  object
 2   Borough              50675 non-null  object
 3   date_listed          50675 non-null  object
 4   agency_name          50675 non-null  object
 5   agency_phone         50628 non-null  object
 6   chain_free           50675 non-null  object
 7   address              50675 non-null  object
 8   isRetirementHome     50675 non-null  object
 9   isSharedOwnership    50675 non-null  object
 10  listingCondition     50675 non-null  object
 11  listingStatus        50675 non-null  object
 12  RoomCount            50675 non-null  object
 13  price                50675 non-null  float64
 14  propertyType         48731 non-null  object
 15  isAuction            50675 non-null  object
 16  priceHistory         49244 non-null  object
 17  floorArea            8224 non-null   object
 18  tenure               32411 non-null  object
 19  detailedDescription  50669 non-null  object
 20  features             45195 non-null  object
 21  furnishedState       953 non-null    object
 22  title                50675 non-null  object
 23  latitude             50675 non-null  float64
 24  longitude            50675 non-null  float64
 25  statusSummary        2015 non-null   object
 26  floor_area_amount    8166 non-null   float64
 27  floor_area_units     8224 non-null   object
 28  floor_area_msq       8166 non-null   float64
 29  numBedrooms          50675 non-null  int64
 30  numBathrooms         50675 non-null  int64
 31  numLivingRooms       50675 non-null  int64
 32  firstPublished       49238 non-null  object
 33  lastSale             21209 non-null  object
 34  firstPublishedDate   49238 non-null  object
 35  firstPublishedPrice  49238 non-null  float64
 36  lastSaleDate         21209 non-null  object
 37  lastSaleNewBuild     21209 non-null  object
 38  lastSalePrice        21209 non-null  float64
 39  sq_m_feat_from_ft    5650 non-null   float64
 40  sq_m_feat_from_m     1603 non-null   float64
dtypes: float64(9), int64(3), object(29)
memory usage: 16.2+ MB

One the difficulties I am finding is to fill the floor size feature, even though I believe it is a feature of great importance there is very little houses with that information as it is. In fact, just around the 20% so far.

I tried to extract this information from the features object by extracting any number related with sq ft or sq m, let's see how it improves the previous percentage.

In [92]:
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_ft'] 
                                                                     if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_m'] 
                                                                    if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)

In [93]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50675 entries, 0 to 50739
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 50675 non-null  object
 1   Listed               50675 non-null  object
 2   Borough              50675 non-null  object
 3   date_listed          50675 non-null  object
 4   agency_name          50675 non-null  object
 5   agency_phone         50628 non-null  object
 6   chain_free           50675 non-null  object
 7   address              50675 non-null  object
 8   isRetirementHome     50675 non-null  object
 9   isSharedOwnership    50675 non-null  object
 10  listingCondition     50675 non-null  object
 11  listingStatus        50675 non-null  object
 12  RoomCount            50675 non-null  object
 13  price                50675 non-null  float64
 14  propertyType         48731 non-null  object
 15  isAuction            50675 non-null  object
 16  priceHistory         49244 non-null  object
 17  floorArea            8224 non-null   object
 18  tenure               32411 non-null  object
 19  detailedDescription  50669 non-null  object
 20  features             45195 non-null  object
 21  furnishedState       953 non-null    object
 22  title                50675 non-null  object
 23  latitude             50675 non-null  float64
 24  longitude            50675 non-null  float64
 25  statusSummary        2015 non-null   object
 26  floor_area_amount    8166 non-null   float64
 27  floor_area_units     8224 non-null   object
 28  floor_area_msq       12608 non-null  float64
 29  numBedrooms          50675 non-null  int64
 30  numBathrooms         50675 non-null  int64
 31  numLivingRooms       50675 non-null  int64
 32  firstPublished       49238 non-null  object
 33  lastSale             21209 non-null  object
 34  firstPublishedDate   49238 non-null  object
 35  firstPublishedPrice  49238 non-null  float64
 36  lastSaleDate         21209 non-null  object
 37  lastSaleNewBuild     21209 non-null  object
 38  lastSalePrice        21209 non-null  float64
 39  sq_m_feat_from_ft    5650 non-null   float64
 40  sq_m_feat_from_m     1603 non-null   float64
dtypes: float64(9), int64(3), object(29)
memory usage: 16.2+ MB

The situation has improved and now there is a better percentage (26%), even though still not great.

Let's try now with the description, applying a similar method.

In [94]:
df_houses_wrangling['sq_m_feat_from_dft'] = df_houses_wrangling['detailedDescription'].apply(lambda x: None 
                                                                                             if pd.isnull(x) 
                                                                                    else sq_ft_features_find(x))

df_houses_wrangling['sq_m_feat_from_dm'] = df_houses_wrangling['detailedDescription'].apply(lambda x: None 
                                                                                            if pd.isnull(x) 
                                                                                     else sq_m_features_find(x))

In [95]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50675 entries, 0 to 50739
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 50675 non-null  object
 1   Listed               50675 non-null  object
 2   Borough              50675 non-null  object
 3   date_listed          50675 non-null  object
 4   agency_name          50675 non-null  object
 5   agency_phone         50628 non-null  object
 6   chain_free           50675 non-null  object
 7   address              50675 non-null  object
 8   isRetirementHome     50675 non-null  object
 9   isSharedOwnership    50675 non-null  object
 10  listingCondition     50675 non-null  object
 11  listingStatus        50675 non-null  object
 12  RoomCount            50675 non-null  object
 13  price                50675 non-null  float64
 14  propertyType         48731 non-null  object
 15  isAuction            50675 non-null  object
 16  priceHistory         49244 non-null  object
 17  floorArea            8224 non-null   object
 18  tenure               32411 non-null  object
 19  detailedDescription  50669 non-null  object
 20  features             45195 non-null  object
 21  furnishedState       953 non-null    object
 22  title                50675 non-null  object
 23  latitude             50675 non-null  float64
 24  longitude            50675 non-null  float64
 25  statusSummary        2015 non-null   object
 26  floor_area_amount    8166 non-null   float64
 27  floor_area_units     8224 non-null   object
 28  floor_area_msq       12608 non-null  float64
 29  numBedrooms          50675 non-null  int64
 30  numBathrooms         50675 non-null  int64
 31  numLivingRooms       50675 non-null  int64
 32  firstPublished       49238 non-null  object
 33  lastSale             21209 non-null  object
 34  firstPublishedDate   49238 non-null  object
 35  firstPublishedPrice  49238 non-null  float64
 36  lastSaleDate         21209 non-null  object
 37  lastSaleNewBuild     21209 non-null  object
 38  lastSalePrice        21209 non-null  float64
 39  sq_m_feat_from_ft    5650 non-null   float64
 40  sq_m_feat_from_m     1603 non-null   float64
 41  sq_m_feat_from_dft   10501 non-null  float64
 42  sq_m_feat_from_dm    1911 non-null   float64
dtypes: float64(11), int64(3), object(29)
memory usage: 17.0+ MB

In [96]:
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_dft'] 
                                                                     if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_dm'] 
                                                                    if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)

In [97]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50675 entries, 0 to 50739
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 50675 non-null  object
 1   Listed               50675 non-null  object
 2   Borough              50675 non-null  object
 3   date_listed          50675 non-null  object
 4   agency_name          50675 non-null  object
 5   agency_phone         50628 non-null  object
 6   chain_free           50675 non-null  object
 7   address              50675 non-null  object
 8   isRetirementHome     50675 non-null  object
 9   isSharedOwnership    50675 non-null  object
 10  listingCondition     50675 non-null  object
 11  listingStatus        50675 non-null  object
 12  RoomCount            50675 non-null  object
 13  price                50675 non-null  float64
 14  propertyType         48731 non-null  object
 15  isAuction            50675 non-null  object
 16  priceHistory         49244 non-null  object
 17  floorArea            8224 non-null   object
 18  tenure               32411 non-null  object
 19  detailedDescription  50669 non-null  object
 20  features             45195 non-null  object
 21  furnishedState       953 non-null    object
 22  title                50675 non-null  object
 23  latitude             50675 non-null  float64
 24  longitude            50675 non-null  float64
 25  statusSummary        2015 non-null   object
 26  floor_area_amount    8166 non-null   float64
 27  floor_area_units     8224 non-null   object
 28  floor_area_msq       18443 non-null  float64
 29  numBedrooms          50675 non-null  int64
 30  numBathrooms         50675 non-null  int64
 31  numLivingRooms       50675 non-null  int64
 32  firstPublished       49238 non-null  object
 33  lastSale             21209 non-null  object
 34  firstPublishedDate   49238 non-null  object
 35  firstPublishedPrice  49238 non-null  float64
 36  lastSaleDate         21209 non-null  object
 37  lastSaleNewBuild     21209 non-null  object
 38  lastSalePrice        21209 non-null  float64
 39  sq_m_feat_from_ft    5650 non-null   float64
 40  sq_m_feat_from_m     1603 non-null   float64
 41  sq_m_feat_from_dft   10501 non-null  float64
 42  sq_m_feat_from_dm    1911 non-null   float64
dtypes: float64(11), int64(3), object(29)
memory usage: 17.0+ MB

Using the description feature, the situation improves to almost 40%, but I don't think it is possible to improve further. If that is the case, I will drop the rows without floor area information. 

In that case I will drop the null values rows. Between 15k and 20k is a good sample of houses to make a reliable study,

In [98]:
df_houses_wrangling2 = df_houses_wrangling.copy()

In [99]:
df_houses_wrangling2.columns

Index(['Link', 'Listed', 'Borough', 'date_listed', 'agency_name',
       'agency_phone', 'chain_free', 'address', 'isRetirementHome',
       'isSharedOwnership', 'listingCondition', 'listingStatus', 'RoomCount',
       'price', 'propertyType', 'isAuction', 'priceHistory', 'floorArea',
       'tenure', 'detailedDescription', 'features', 'furnishedState', 'title',
       'latitude', 'longitude', 'statusSummary', 'floor_area_amount',
       'floor_area_units', 'floor_area_msq', 'numBedrooms', 'numBathrooms',
       'numLivingRooms', 'firstPublished', 'lastSale', 'firstPublishedDate',
       'firstPublishedPrice', 'lastSaleDate', 'lastSaleNewBuild',
       'lastSalePrice', 'sq_m_feat_from_ft', 'sq_m_feat_from_m',
       'sq_m_feat_from_dft', 'sq_m_feat_from_dm'],
      dtype='object')

In [100]:
df_houses_wrangling2 = df_houses_wrangling2.drop(['Link','Listed','agency_phone','RoomCount','priceHistory',
                                                 'floorArea','floor_area_amount','floor_area_units',
                                                  'firstPublished','lastSale','sq_m_feat_from_ft',
                                                  'sq_m_feat_from_m','sq_m_feat_from_dft','sq_m_feat_from_dm'],
                                                axis = 1)
df_houses_wrangling2 = df_houses_wrangling2[df_houses_wrangling2['floor_area_msq'].notnull()].reset_index(drop = True)
df_houses_wrangling2

,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,listingStatus,price,...,statusSummary,floor_area_msq,numBedrooms,numBathrooms,numLivingRooms,firstPublishedDate,firstPublishedPrice,lastSaleDate,lastSaleNewBuild,lastSalePrice
0,Camden,2021-06-30,Savills - Margaret Street RDS,True,"Postmark, Mount Pleasant, London WC1X",False,False,new,for_sale,1330000.0,...,Just added,85.0,2,2,1,2021-06-30 23:07:17,1330000.0,None,None,NaN
1,Camden,2021-06-30,TK International,False,"Holly Bush Vale, Hampstead Village NW3",False,False,pre-owned,for_sale,695000.0,...,Just added,47.0,1,1,1,2021-06-30 18:06:20,695000.0,2018-02-21,False,465000.0
2,Camden,2021-06-30,Knight Frank - Hampstead Sales,False,"Frognal Lane, London NW3",False,False,pre-owned,for_sale,595000.0,...,Just added,49.0,1,1,1,2021-06-30 16:29:58,595000.0,None,None,NaN
3,Camden,2021-06-30,Barnard Marcus - Auctions,False,"Cosway Street, London NW1",False,False,pre-owned,for_sale,1750000.0,...,Just added,234.0,7,7,0,2021-06-30 16:28:37,1750000.0,None,None,NaN
4,Camden,2021-06-30,Amberden Estates,False,"Parliament Hill, London NW3",False,False,pre-owned,for_sale,4995000.0,...,Just added,321.0,7,2,0,2021-06-30 16:04:51,4995000.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18438,Waltham Forest,2021-02-01,Linus Jackson Property Agent,True,"Church Road, London E10",False,False,pre-owned,for_sale,335000.0,...,NaN,58.0,2,1,1,2021-02-01 16:49:35,350000.0,None,None,NaN
18439,Waltham Forest,2021-02-01,Quatremain & Co,False,"Walnut Court, Woodmill Road, London E5",False,False,pre-owned,for_sale,300000.0,...,NaN,46.0,2,1,1,2021-02-01 14:08:26,350000.0,2007-12-06,False,240000.0
18440,Waltham Forest,2021-01-28,The Stow Brothers,False,"Belgrave Road, London E11",False,False,pre-owned,for_sale,342995.0,...,NaN,15.0,2,1,1,2021-01-28 15:16:47,349995.0,2011-03-18,False,152000.0
18441,Waltham Forest,2021-01-28,The Stow Brothers E4,False,"Parade Gardens, London E4",False,False,pre-owned,for_sale,395000.0,...,NaN,26.0,2,1,1,2021-01-28 09:46:03,395000.0,None,None,NaN
18442,Waltham Forest,2021-01-27,Trevlyn Properties Ltd,False,"Blackhorse Road, Walthamstow E17",False,False,pre-owned,for_sale,409999.0,...,NaN,58.0,1,1,1,2021-01-27 14:18:51,409999.0,None,None,NaN

In [101]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              18443 non-null  object
 1   date_listed          18443 non-null  object
 2   agency_name          18443 non-null  object
 3   chain_free           18443 non-null  object
 4   address              18443 non-null  object
 5   isRetirementHome     18443 non-null  object
 6   isSharedOwnership    18443 non-null  object
 7   listingCondition     18443 non-null  object
 8   listingStatus        18443 non-null  object
 9   price                18443 non-null  float64
 10  propertyType         17848 non-null  object
 11  isAuction            18443 non-null  object
 12  tenure               11915 non-null  object
 13  detailedDescription  18443 non-null  object
 14  features             17085 non-null  object
 15  furnishedState       788 non-null    object
 16  title                18443 non-null  object
 17  latitude             18443 non-null  float64
 18  longitude            18443 non-null  float64
 19  statusSummary        699 non-null    object
 20  floor_area_msq       18443 non-null  float64
 21  numBedrooms          18443 non-null  int64
 22  numBathrooms         18443 non-null  int64
 23  numLivingRooms       18443 non-null  int64
 24  firstPublishedDate   17872 non-null  object
 25  firstPublishedPrice  17872 non-null  float64
 26  lastSaleDate         6522 non-null   object
 27  lastSaleNewBuild     6522 non-null   object
 28  lastSalePrice        6522 non-null   float64
dtypes: float64(6), int64(3), object(20)
memory usage: 4.1+ MB

I will get rid of furnished state and status summary as they do not give much information and almost all records are missing.

In [102]:
df_houses_wrangling2 = df_houses_wrangling2.drop(['furnishedState','statusSummary'],
                                                axis = 1)

In [103]:
df_houses_wrangling2['listingStatus'].value_counts()

for_sale            18431
sold                    6
sale_under_offer        6
Name: listingStatus, dtype: int64

Listing status feature also gives very little information and completely useless for the purpose of the study.

In [104]:
df_houses_wrangling2 = df_houses_wrangling2.drop(['listingStatus'],
                                                axis = 1)

In [105]:
df_houses_wrangling2['propertyType'].value_counts()

flat                      13089
terraced                   1471
semi_detached               919
detached                    682
maisonette                  569
studio                      479
end_terrace                 300
town_house                  107
mews                         52
land                         36
bungalow                     29
block_of_flats               25
detached_bungalow            20
cottage                      16
link_detached                10
houseboat                    10
semi_detached_bungalow        9
parking                       8
lodge                         5
retail                        5
barn_conversion               3
country_house                 1
chalet                        1
finca                         1
villa                         1
Name: propertyType, dtype: int64

I will complete the missing values of property type seting them as "Other".

In the future I will have to deal with the fact that there are many different categorical options.

In [106]:
df_houses_wrangling2['propertyType'].fillna(value = 'Other', inplace = True)

In [107]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              18443 non-null  object
 1   date_listed          18443 non-null  object
 2   agency_name          18443 non-null  object
 3   chain_free           18443 non-null  object
 4   address              18443 non-null  object
 5   isRetirementHome     18443 non-null  object
 6   isSharedOwnership    18443 non-null  object
 7   listingCondition     18443 non-null  object
 8   price                18443 non-null  float64
 9   propertyType         18443 non-null  object
 10  isAuction            18443 non-null  object
 11  tenure               11915 non-null  object
 12  detailedDescription  18443 non-null  object
 13  features             17085 non-null  object
 14  title                18443 non-null  object
 15  latitude             18443 non-null  float64
 16  longitude            18443 non-null  float64
 17  floor_area_msq       18443 non-null  float64
 18  numBedrooms          18443 non-null  int64
 19  numBathrooms         18443 non-null  int64
 20  numLivingRooms       18443 non-null  int64
 21  firstPublishedDate   17872 non-null  object
 22  firstPublishedPrice  17872 non-null  float64
 23  lastSaleDate         6522 non-null   object
 24  lastSaleNewBuild     6522 non-null   object
 25  lastSalePrice        6522 non-null   float64
dtypes: float64(6), int64(3), object(17)
memory usage: 3.7+ MB

In [108]:
df_houses_wrangling2['tenure'].value_counts()

leasehold            7873
freehold             2627
share_of_freehold    1412
feudal                  3
Name: tenure, dtype: int64

I will try now to complete tenure feature missing values using features and description features. This time will be more simple as we just need to find a mention to any of the 4 options.

In [109]:
patterns = [r'(leasehold)',
            r'(lease)',
            r'(freehold)',
            r'(share.of.freehold)',
            r'(feudal)',
            r'(leaseholder)',
            r'(freeholder)',
            r'(commonhold)']

df_houses_wrangling2['tenure_from_feat'] = df_houses_wrangling2['features'].apply(lambda x: None if pd.isnull(x) 
                                                                                else extract_feature(x,patterns))
df_houses_wrangling2['tenure_from_desc'] = df_houses_wrangling2['detailedDescription'].apply(lambda x: None 
                                                                                             if pd.isnull(x) 
                                                                                else extract_feature(x,patterns))
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              18443 non-null  object
 1   date_listed          18443 non-null  object
 2   agency_name          18443 non-null  object
 3   chain_free           18443 non-null  object
 4   address              18443 non-null  object
 5   isRetirementHome     18443 non-null  object
 6   isSharedOwnership    18443 non-null  object
 7   listingCondition     18443 non-null  object
 8   price                18443 non-null  float64
 9   propertyType         18443 non-null  object
 10  isAuction            18443 non-null  object
 11  tenure               11915 non-null  object
 12  detailedDescription  18443 non-null  object
 13  features             17085 non-null  object
 14  title                18443 non-null  object
 15  latitude             18443 non-null  float64
 16  longitude            18443 non-null  float64
 17  floor_area_msq       18443 non-null  float64
 18  numBedrooms          18443 non-null  int64
 19  numBathrooms         18443 non-null  int64
 20  numLivingRooms       18443 non-null  int64
 21  firstPublishedDate   17872 non-null  object
 22  firstPublishedPrice  17872 non-null  float64
 23  lastSaleDate         6522 non-null   object
 24  lastSaleNewBuild     6522 non-null   object
 25  lastSalePrice        6522 non-null   float64
 26  tenure_from_feat     1313 non-null   object
 27  tenure_from_desc     5419 non-null   object
dtypes: float64(6), int64(3), object(19)
memory usage: 3.9+ MB

In [110]:
df_houses_wrangling2['tenure'] = df_houses_wrangling2.apply(lambda x: x['tenure_from_feat'] 
                                                                     if pd.isnull(x['tenure'])
                                                                    else x['tenure'], axis = 1)
df_houses_wrangling2['tenure'] = df_houses_wrangling2.apply(lambda x: x['tenure_from_desc'] 
                                                                     if pd.isnull(x['tenure'])
                                                                    else x['tenure'], axis = 1)
df_houses_wrangling2['tenure'].value_counts()

leasehold            7943
freehold             2976
lease                1583
share_of_freehold    1412
feudal                  3
Name: tenure, dtype: int64

In [111]:
tenure_map = {'lease':'leasehold','feudal':'Other'}
df_houses_wrangling2['tenure'].replace(tenure_map, inplace = True)
df_houses_wrangling2['tenure'] = df_houses_wrangling2['tenure'].fillna('Other')
df_houses_wrangling2['tenure'].value_counts()

leasehold            9526
Other                4529
freehold             2976
share_of_freehold    1412
Name: tenure, dtype: int64

In [112]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              18443 non-null  object
 1   date_listed          18443 non-null  object
 2   agency_name          18443 non-null  object
 3   chain_free           18443 non-null  object
 4   address              18443 non-null  object
 5   isRetirementHome     18443 non-null  object
 6   isSharedOwnership    18443 non-null  object
 7   listingCondition     18443 non-null  object
 8   price                18443 non-null  float64
 9   propertyType         18443 non-null  object
 10  isAuction            18443 non-null  object
 11  tenure               18443 non-null  object
 12  detailedDescription  18443 non-null  object
 13  features             17085 non-null  object
 14  title                18443 non-null  object
 15  latitude             18443 non-null  float64
 16  longitude            18443 non-null  float64
 17  floor_area_msq       18443 non-null  float64
 18  numBedrooms          18443 non-null  int64
 19  numBathrooms         18443 non-null  int64
 20  numLivingRooms       18443 non-null  int64
 21  firstPublishedDate   17872 non-null  object
 22  firstPublishedPrice  17872 non-null  float64
 23  lastSaleDate         6522 non-null   object
 24  lastSaleNewBuild     6522 non-null   object
 25  lastSalePrice        6522 non-null   float64
 26  tenure_from_feat     1313 non-null   object
 27  tenure_from_desc     5419 non-null   object
dtypes: float64(6), int64(3), object(19)
memory usage: 3.9+ MB

In [113]:
patterns = [r'(terrace)',
            r'(balcony)',
            r'(roof.deck)']

df_houses_wrangling2['balcony_terrace'] = df_houses_wrangling2['features'].apply(lambda x: False if pd.isnull(x) 
                                                            else (True if pd.notnull(extract_feature(x,patterns)) 
                                                            else False))
df_houses_wrangling2['balcony_terrace'] = df_houses_wrangling2.apply(lambda x: False 
                                                if pd.isnull(x['detailedDescription']) 
                                                else (True if x['balcony_terrace'] == True 
                                                else (True 
                                                if pd.notnull(extract_feature(x['detailedDescription'],patterns)) 
                                                else False)), 
                                                axis = 1)
df_houses_wrangling2['balcony_terrace'].value_counts()

False    9901
True     8542
Name: balcony_terrace, dtype: int64

In [114]:
patterns = [r'(car.park)',
            r'(carpark)',
            r'(parking)']

df_houses_wrangling2['parking'] = df_houses_wrangling2['features'].apply(lambda x: False if pd.isnull(x) 
                                                            else (True if pd.notnull(extract_feature(x,patterns)) 
                                                            else False))
df_houses_wrangling2['parking'] = df_houses_wrangling2.apply(lambda x: False 
                                                if pd.isnull(x['detailedDescription']) 
                                                else (True if x['parking'] == True 
                                                else (True 
                                                if pd.notnull(extract_feature(x['detailedDescription'],patterns)) 
                                                else False)), 
                                                axis = 1)
df_houses_wrangling2['parking'].value_counts()

False    12404
True      6039
Name: parking, dtype: int64

In [115]:
patterns = [r'(garden)',
            r'(backyard)',
           r'(back.yard)',
           r'(patio)']

df_houses_wrangling2['garden'] = df_houses_wrangling2['features'].apply(lambda x: False if pd.isnull(x) 
                                                            else (True if pd.notnull(extract_feature(x,patterns)) 
                                                            else False))
df_houses_wrangling2['garden'] = df_houses_wrangling2.apply(lambda x: False 
                                                if pd.isnull(x['detailedDescription']) 
                                                else (True if x['garden'] == True 
                                                else (True 
                                                if pd.notnull(extract_feature(x['detailedDescription'],patterns)) 
                                                else False)), 
                                                axis = 1)
df_houses_wrangling2['garden'].value_counts()

True     10196
False     8247
Name: garden, dtype: int64

In [116]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              18443 non-null  object
 1   date_listed          18443 non-null  object
 2   agency_name          18443 non-null  object
 3   chain_free           18443 non-null  object
 4   address              18443 non-null  object
 5   isRetirementHome     18443 non-null  object
 6   isSharedOwnership    18443 non-null  object
 7   listingCondition     18443 non-null  object
 8   price                18443 non-null  float64
 9   propertyType         18443 non-null  object
 10  isAuction            18443 non-null  object
 11  tenure               18443 non-null  object
 12  detailedDescription  18443 non-null  object
 13  features             17085 non-null  object
 14  title                18443 non-null  object
 15  latitude             18443 non-null  float64
 16  longitude            18443 non-null  float64
 17  floor_area_msq       18443 non-null  float64
 18  numBedrooms          18443 non-null  int64
 19  numBathrooms         18443 non-null  int64
 20  numLivingRooms       18443 non-null  int64
 21  firstPublishedDate   17872 non-null  object
 22  firstPublishedPrice  17872 non-null  float64
 23  lastSaleDate         6522 non-null   object
 24  lastSaleNewBuild     6522 non-null   object
 25  lastSalePrice        6522 non-null   float64
 26  tenure_from_feat     1313 non-null   object
 27  tenure_from_desc     5419 non-null   object
 28  balcony_terrace      18443 non-null  bool
 29  parking              18443 non-null  bool
 30  garden               18443 non-null  bool
dtypes: bool(3), float64(6), int64(3), object(19)
memory usage: 4.0+ MB

First published date shows a small amount of missing values. I will fill them using its value in date_listed, basically asuming that the house is the first time published. I will do the same for price.

First I need to convert the feature in datetime of the same format as date_listed.

In [132]:
df_houses_wrangling2['firstPublishedDate'] = df_houses_wrangling2['firstPublishedDate'].apply(lambda x: None 
                                                                                              if pd.isnull(x)
                                                                                             else x.split(' ')[0])
df_houses_wrangling2['firstPublishedDate']

0        2021-06-30
1        2021-06-30
2        2021-06-30
3        2021-06-30
4        2021-06-30
            ...
18438    2021-02-01
18439    2021-02-01
18440    2021-01-28
18441    2021-01-28
18442    2021-01-27
Name: firstPublishedDate, Length: 18443, dtype: object

In [141]:
df_houses_wrangling2['firstPublishedDate'] = df_houses_wrangling2['firstPublishedDate'].fillna(df_houses_wrangling2['date_listed'])

In [145]:
df_houses_wrangling2['firstPublishedPrice'] = df_houses_wrangling2['firstPublishedPrice'].fillna(df_houses_wrangling2['price'])

In [148]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18443 entries, 0 to 18442
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              18443 non-null  object
 1   date_listed          18443 non-null  object
 2   agency_name          18443 non-null  object
 3   chain_free           18443 non-null  object
 4   address              18443 non-null  object
 5   isRetirementHome     18443 non-null  object
 6   isSharedOwnership    18443 non-null  object
 7   listingCondition     18443 non-null  object
 8   price                18443 non-null  float64
 9   propertyType         18443 non-null  object
 10  isAuction            18443 non-null  object
 11  tenure               18443 non-null  object
 12  detailedDescription  18443 non-null  object
 13  features             17085 non-null  object
 14  title                18443 non-null  object
 15  latitude             18443 non-null  float64
 16  longitude            18443 non-null  float64
 17  floor_area_msq       18443 non-null  float64
 18  numBedrooms          18443 non-null  int64
 19  numBathrooms         18443 non-null  int64
 20  numLivingRooms       18443 non-null  int64
 21  firstPublishedDate   18443 non-null  object
 22  firstPublishedPrice  18443 non-null  float64
 23  lastSaleDate         6522 non-null   object
 24  lastSaleNewBuild     6522 non-null   object
 25  lastSalePrice        6522 non-null   float64
 26  tenure_from_feat     1313 non-null   object
 27  tenure_from_desc     5419 non-null   object
 28  balcony_terrace      18443 non-null  bool
 29  parking              18443 non-null  bool
 30  garden               18443 non-null  bool
dtypes: bool(3), float64(6), int64(3), object(19)
memory usage: 4.0+ MB

Now I will drop the used features and also last sale, as it shows too many missing values and also it provides very little information.

In [149]:
df_houses_wrangling2.drop(['detailedDescription','features','lastSaleDate','lastSaleNewBuild',
                           'lastSalePrice','tenure_from_feat','tenure_from_desc'],
                         inplace = True,
                         axis = 1)
df_houses_wrangling2

,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,price,propertyType,...,longitude,floor_area_msq,numBedrooms,numBathrooms,numLivingRooms,firstPublishedDate,firstPublishedPrice,balcony_terrace,parking,garden
0,Camden,2021-06-30,Savills - Margaret Street RDS,True,"Postmark, Mount Pleasant, London WC1X",False,False,new,1330000.0,flat,...,-0.112205,85.0,2,2,1,2021-06-30,1330000.0,True,False,False
1,Camden,2021-06-30,TK International,False,"Holly Bush Vale, Hampstead Village NW3",False,False,pre-owned,695000.0,flat,...,-0.179551,47.0,1,1,1,2021-06-30,695000.0,False,True,True
2,Camden,2021-06-30,Knight Frank - Hampstead Sales,False,"Frognal Lane, London NW3",False,False,pre-owned,595000.0,flat,...,-0.187055,49.0,1,1,1,2021-06-30,595000.0,False,False,True
3,Camden,2021-06-30,Barnard Marcus - Auctions,False,"Cosway Street, London NW1",False,False,pre-owned,1750000.0,block_of_flats,...,-0.165689,234.0,7,7,0,2021-06-30,1750000.0,False,False,True
4,Camden,2021-06-30,Amberden Estates,False,"Parliament Hill, London NW3",False,False,pre-owned,4995000.0,semi_detached,...,-0.162663,321.0,7,2,0,2021-06-30,4995000.0,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18438,Waltham Forest,2021-02-01,Linus Jackson Property Agent,True,"Church Road, London E10",False,False,pre-owned,335000.0,flat,...,-0.016124,58.0,2,1,1,2021-02-01,350000.0,False,False,False
18439,Waltham Forest,2021-02-01,Quatremain & Co,False,"Walnut Court, Woodmill Road, London E5",False,False,pre-owned,300000.0,flat,...,-0.050792,46.0,2,1,1,2021-02-01,350000.0,False,False,False
18440,Waltham Forest,2021-01-28,The Stow Brothers,False,"Belgrave Road, London E11",False,False,pre-owned,342995.0,flat,...,0.023347,15.0,2,1,1,2021-01-28,349995.0,False,True,True
18441,Waltham Forest,2021-01-28,The Stow Brothers E4,False,"Parade Gardens, London E4",False,False,pre-owned,395000.0,flat,...,-0.015026,26.0,2,1,1,2021-01-28,395000.0,True,True,True
18442,Waltham Forest,2021-01-27,Trevlyn Properties Ltd,False,"Blackhorse Road, Walthamstow E17",False,False,pre-owned,409999.0,flat,...,-0.041873,58.0,1,1,1,2021-01-27,409999.0,True,False,True

In [171]:
engine = create_engine('mysql+mysqldb://root:d12d12@127.0.0.1/zoopla_houses', echo=False)

In [172]:
df_houses_wrangling2.to_sql('zoopla_houses', con=engine)