In [23]:
import numpy as np
import pandas as pd
import requests
import json
from sqlalchemy import create_engine
import MySQLdb
from maps_data_extraction import *
from tqdm.notebook import tqdm_notebook
tqdm_notebook.pandas()
import osmnx as ox
ox.config(log_console=True, use_cache=True)
import ast

2021-10-12 17:14:40 Configured OSMnx 1.1.1
2021-10-12 17:14:40 HTTP response caching is on

In [2]:
engine = create_engine('mysql+mysqldb://root:d12d12@127.0.0.1/zoopla_houses', echo=False)
df_coordinates = pd.read_sql('Select latitude, longitude FROM zoopla_houses;', engine)

In [3]:
df_coordinates

        latitude  longitude
0      51.523426  -0.112205
1      51.556667  -0.179551
2      51.553540  -0.187055
3      51.521541  -0.165689
4      51.556968  -0.162663
...          ...        ...
18438  51.563102  -0.016124
18439  51.565151  -0.050792
18440  51.566047   0.023347
18441  51.603862  -0.015026
18442  51.586884  -0.041873

[18443 rows x 2 columns]

In [ ]:
df_stations = pd.read_csv('data_temp/tube_stations.csv', index_col = 0)
df_stations.sort_values('id', inplace = True)
df_stations.reset_index(drop = True, inplace = True)
df_stations.drop(['display_name', 'zone', 'total_lines', 'rail'], axis = 1, inplace = True)
df_stations

In [ ]:
engine = create_engine('mysql+mysqldb://root:d12d12@127.0.0.1/zoopla_houses', echo=False)
#df_stations.to_sql('tube_stations', con=engine)
df_stations = pd.read_sql('Select latitude, longitude, name FROM tube_stations;', engine)
df_stations

In [ ]:
df_coordinates['closest_station'] = df_coordinates.progress_apply(lambda x: closest_station(x['latitude'], x['longitude'], df_stations, x.index), axis = 1)
df_coordinates

In [ ]:
df_coordinates.to_csv('coordinates_walking_temp.csv')

In [ ]:
df_coordinates = pd.read_csv('coordinates_walking_temp.csv', index_col=0)
df_coordinates.sample(10)

In [ ]:
df_coordinates['closest_station_name'] = df_coordinates['closest_station'].apply(lambda x: ast.literal_eval(x)[0])
df_coordinates['closest_station_distance_sec'] = df_coordinates['closest_station'].apply(lambda x: round(ast.literal_eval(x)[1]))
df_coordinates.drop(['closest_station','latitude','longitude'], axis = 1, inplace = True)
df_coordinates.sample(10)

In [ ]:
df_coordinates.to_sql('closest_station', con=engine)

In [3]:
df = pd.read_sql('Select * FROM zoopla_houses;', engine)

In [4]:
display(df.shape)
display(df.sample(5))

(18443, 29)

,level_0,index,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,...,numBathrooms,numLivingRooms,firstPublishedDate,firstPublishedPrice,balcony_terrace,parking,garden,closest_station_name,closest_station_distance_sec,pub_restaurant
17122,17122,17122,Newham,2021-06-04,EBL Investment,1,"41 Lyeel Street, London, Canary Wharf E14",0,0,new,...,1,1,2021-06-04,410000.0,1,1,1,Canning Town,283,11
17932,17932,17932,Richmond upon Thames,2021-04-23,Chestertons - Richmond,0,"St. Margarets Road, St Margarets, Twickenham TW1",0,0,pre-owned,...,3,3,2021-04-23,1650000.0,0,1,1,Richmond,1685,2
3644,3644,3644,Kensington and Chelsea,2021-06-18,Knight Frank - South Kensington Sales,0,"Wallgrave Road, London SW5",0,0,pre-owned,...,1,2,2021-06-18,1650000.0,1,0,1,Earl's Court,377,51
3005,3005,3005,Islington,2021-05-19,Ellis & Co - Islington,0,"Kings Quarter, 170 Copenhagen Street, King's C...",0,0,pre-owned,...,1,1,2021-05-19,600000.0,1,0,0,King's Cross St. Pancras,716,35
12734,12734,12734,Brent,2021-04-13,Daniels - Dollis Hill & Neasden,0,"Tanfield Avenue, London NW2",0,0,pre-owned,...,6,2,2021-04-13,1100000.0,0,0,0,Neasden,747,1

In [31]:
def amenities_get(latitude, longitude):
    education = 0
    health = 0
    entertainment = 0
    shop = 0
    tags = {'amenity': ['college', 'kindergarten', 'school', 'university', 'clinic', 'doctors', 'hospital', 'cinema', 'theatre', 'events_venue'],'shop': ['supermarket']}
    data = ox.geometries_from_point(center_point=(latitude,longitude), dist=500, tags=tags)
    data.reset_index(inplace=True)
    try:
        amenities = data.groupby('amenity').count()
        try:
            education = education + amenities[amenities.index == 'college']['osmid'][0]
        except IndexError:
            education = education

        try:
            education = education + amenities[amenities.index == 'kindergarten']['osmid'][0]
        except IndexError:
            education = education

        try:
            education = education + amenities[amenities.index == 'school']['osmid'][0]
        except IndexError:
            education = education
        
        try:
            education = education + amenities[amenities.index == 'university']['osmid'][0]
        except IndexError:
            education = education

        try:
            health = health + amenities[amenities.index == 'clinic']['osmid'][0]
        except IndexError:
            health = health

        try:
            health = health + amenities[amenities.index == 'doctors']['osmid'][0]
        except IndexError:
            health = health

        try:
            health = health + amenities[amenities.index == 'hospital']['osmid'][0]
        except IndexError:
            health = health
        
        try:
            entertainment = entertainment + amenities[amenities.index == 'cinema']['osmid'][0]
        except IndexError:
            entertainment = entertainment

        try:
            entertainment = entertainment + amenities[amenities.index == 'theatre']['osmid'][0]
        except IndexError:
            entertainment = entertainment

        try:
            entertainment = entertainment + amenities[amenities.index == 'events_venue']['osmid'][0]
        except IndexError:
            entertainment = entertainment
    except KeyError:
        education = education
        health = health
        entertainment = entertainment

    try:
        shops = data.groupby('shop').count()
        try:
            shop = shop + shops[shops.index == 'supermarket']['osmid'][0]
        except IndexError:
            shop = shop
    except KeyError:
        shop = shop

    result_list = [education, health, entertainment, shop]
    return result_list

In [ ]:
tags = {'amenity': ['restaurant', 'pub']}

for i in range(15,19):
    chunk = df[(i-1)*1000:i*1000].copy()
    chunk['pub_restaurant'] = chunk.progress_apply(lambda x: ox.geometries_from_point(center_point=(x['latitude'],x['longitude']), dist=500, tags=tags).shape[0], axis = 1)
    chunk.to_csv('data_temp/rest_pub/pub_' + str(i) + '.csv')

chunk = df[18000:].copy()
chunk['pub_restaurant'] = chunk.progress_apply(lambda x: ox.geometries_from_point(center_point=(x['latitude'],x['longitude']), dist=500, tags=tags).shape[0], axis = 1)
chunk.to_csv('data_temp/rest_pub/pub_' + str(19) + '.csv')

In [ ]:
df = pd.DataFrame()
for i in range(1,20):
    temp_df = pd.read_csv('data_temp/rest_pub/pub_' + str(i) + '.csv', index_col=0)
    df = df.append(temp_df)

display(df.sample(5))
display(df.shape)

In [ ]:
df.to_sql('zoopla_houses', if_exists='replace', con=engine)

In [32]:
#for i in tqdm_notebook(range(150,185)):
#    chunk = df[(i-1)*100:i*100].copy()
#    chunk['amenities_shop'] = chunk.progress_apply(lambda x: amenities_get(x['latitude'],x['longitude']), axis = 1)
#    chunk.to_csv('data_temp/all_amenities/all_amenities_' + str(i) + '.csv')

chunk = df[18400:].copy()
chunk['amenities_shop'] = chunk.progress_apply(lambda x: amenities_get(x['latitude'],x['longitude']), axis = 1)
chunk.to_csv('data_temp/all_amenities/all_amenities_' + str(185) + '.csv')

  0%|          | 0/43 [00:00<?, ?it/s]

2021-10-12 17:17:40 Created bbox 500 m from (51.557464, -0.013628): 51.56196060167747,51.55296739832254,-0.006395590612847954,-0.020860409387152043
2021-10-12 17:17:40 Projected GeoDataFrame to +proj=utm +zone=30 +ellps=WGS84 +datum=WGS84 +units=m +no_defs +type=crs
2021-10-12 17:17:40 Projected GeoDataFrame to epsg:4326
2021-10-12 17:17:40 Requesting data within polygon from API in 1 request(s)
2021-10-12 17:17:40 Resolved overpass-api.de to 178.63.48.217
2021-10-12 17:17:40 Pausing 0 seconds before making HTTP POST request
2021-10-12 17:17:40 Post https://overpass-api.de/api/interpreter?data=%5Bout%3Ajson%5D%5Btimeout%3A180%5D%3B%28%28node%5B%27amenity%27%3D%27college%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27college%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27college%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27kindergarten%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27kindergarten%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27kindergarten%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27school%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27school%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27school%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27university%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27university%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27university%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27clinic%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27clinic%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27clinic%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27doctors%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27doctors%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27doctors%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27hospital%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27hospital%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27hospital%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27cinema%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27cinema%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27cinema%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27theatre%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27theatre%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27theatre%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27amenity%27%3D%27events_venue%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27amenity%27%3D%27events_venue%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27amenity%27%3D%27events_venue%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28node%5B%27shop%27%3D%27supermarket%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28way%5B%27shop%27%3D%27supermarket%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%28relation%5B%27shop%27%3D%27supermarket%27%5D%28poly%3A%2751.552967+-0.020860+51.552967+-0.006396+51.561961+-0.006396+51.561961+-0.020860+51.552967+-0.020860%27%29%3B%28._%3B%3E%3B%29%3B%29%3B%29%3Bout%3B with timeout=180
2021-10-12 17:17:40 Resolved overpass-api.de to 178.63.48.217
2021-10-12 17:18:04 Downloaded 0.7kB from overpass-api.de
2021-10-12 17:18:04 Resolved overpass-api.de to 178.63.48.217
2021-10-12 17:18:04 overpass-api.de returned 504: retry in 60 secs

KeyboardInterrupt:

In [7]:
df_pre = pd.read_sql('Select * FROM zoopla_houses;', engine)
df_pre.shape

(18443, 29)

In [33]:
df = pd.DataFrame()
for i in range(1,186):
    temp_df = pd.read_csv('data_temp/all_amenities/all_amenities_' + str(i) + '.csv', index_col=0)
    df = df.append(temp_df)

display(df.sample(5))
display(df.shape)

,level_0,index,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,...,numLivingRooms,firstPublishedDate,firstPublishedPrice,balcony_terrace,parking,garden,closest_station_name,closest_station_distance_sec,pub_restaurant,amenities_shop
18098,18098,18098,Richmond upon Thames,2021-01-26,Jackson-Stops - Teddington,1,"High Street, Teddington TW11",0,0,pre-owned,...,1,2021-01-26,425000.0,0,0,1,Richmond,4204,26,"[4, 2, 0, 2]"
15203,15203,15203,Haringey,2021-03-15,"Purplebricks, Head Office",1,"Methuen Park, London N10",0,0,pre-owned,...,1,2021-03-15,400000.0,0,0,0,Chesham,1484,17,"[3, 3, 1, 5]"
4513,4513,4513,Kensington and Chelsea,2021-01-29,John D Wood & Co. - Kensington Sales,0,"Marlborough Court, Pembroke Road, London W8",0,0,pre-owned,...,3,2021-01-29,1995000.0,1,0,1,Earl's Court,337,49,"[6, 6, 0, 4]"
5109,5109,5109,Lambeth,2021-04-13,LiFE Residential - South Bank,1,"One Blackfriars, Blackfriars Road SE1",0,0,new,...,1,2021-04-13,2050000.0,0,0,0,Blackfriars,393,61,"[7, 2, 5, 0]"
1982,1982,1982,Hackney,2021-01-21,Winkworth - Harringay,0,"Alexandra Grove, London N4",0,0,pre-owned,...,1,2021-01-21,585000.0,1,0,0,Manor House,410,4,"[3, 2, 0, 1]"

(18443, 30)

In [34]:
df.drop(['level_0', 'index'], axis = 1, inplace = True)

In [36]:
df['education'] = df['amenities_shop'].apply(lambda x: ast.literal_eval(x)[0])
df['health'] = df['amenities_shop'].apply(lambda x: ast.literal_eval(x)[1])
df['entertainment'] = df['amenities_shop'].apply(lambda x: ast.literal_eval(x)[2])
df['supermarkt'] = df['amenities_shop'].apply(lambda x: ast.literal_eval(x)[3])
df.head()

,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,price,propertyType,...,parking,garden,closest_station_name,closest_station_distance_sec,pub_restaurant,amenities_shop,education,health,entertainment,supermarkt
0,Camden,2021-06-30,Savills - Margaret Street RDS,1,"Postmark, Mount Pleasant, London WC1X",0,0,new,1330000.0,flat,...,0,0,Chancery Lane,455,101,"[11, 6, 1, 2]",11,6,1,2
1,Camden,2021-06-30,TK International,0,"Holly Bush Vale, Hampstead Village NW3",0,0,pre-owned,695000.0,flat,...,1,1,Hampstead,127,30,"[11, 0, 3, 0]",11,0,3,0
2,Camden,2021-06-30,Knight Frank - Hampstead Sales,0,"Frognal Lane, London NW3",0,0,pre-owned,595000.0,flat,...,0,1,West Hampstead,759,9,"[8, 0, 0, 2]",8,0,0,2
3,Camden,2021-06-30,Barnard Marcus - Auctions,0,"Cosway Street, London NW1",0,0,pre-owned,1750000.0,block_of_flats,...,0,1,Edgware Road (B),288,66,"[24, 4, 1, 5]",24,4,1,5
4,Camden,2021-06-30,Amberden Estates,0,"Parliament Hill, London NW3",0,0,pre-owned,4995000.0,semi_detached,...,0,1,Belsize Park,792,14,"[4, 2, 0, 1]",4,2,0,1

In [37]:
df.drop(['amenities_shop'], axis = 1, inplace = True)

In [38]:
df.to_sql('zoopla_houses', if_exists='replace', con=engine)