# Zoopla Data Ingestion

The purpose of this Notebook is to extract and wrangle zoopla data to finally input in a SQL file for further analysis.

Within the Notebook there are several steps:

1. Extract the basic information and individual link for all the search pages of each borough search.
2. Scrape the JSON file of each individual house and parse it to extract the interesting information.
3. Wrangle the data to get an structured DataFrame.
4. Extract from the text features as much information as possible.
5. Drop the useless features.
6. Drop the records with not enough data.
7. Save the database in a SQL server.

In [1]:
import requests
from bs4 import BeautifulSoup as soup
import numpy as np
import pandas as pd
import math
import json
import time
import re
from datetime import datetime, date, timedelta
from DataIngestZoopla import number_of_search_pages
from DataIngestZoopla import get_borough_url
from DataIngestZoopla import get_main_house_details
from DataIngestZoopla import get_house_inner_details
from DataIngestZoopla import sq_m_features_find
from DataIngestZoopla import sq_ft_features_find
from DataIngestZoopla import extract_feature
import ast
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import MySQLdb

## 1. Basic information extraction

First I load the list of London Boroughs and the keys to make the search links.

As the search links had not a complete sense, I preferred to create them manually.

In [12]:
df_boroughs = pd.read_csv('data_temp/list_of_boroughs.csv', index_col = 0)

Then using the custom functions get_borough_url and number_of_search_pages I extract the links and number of pages for each page in each borough search.

In [15]:
#df_boroughs = pd.DataFrame(df_dict)
df_boroughs['borough_url'] = df_boroughs.apply(lambda x: get_borough_url(x['london_brough_links_1']\
                                                                         ,x['london_brough_links_2']), 
                                               axis = 1)
df_boroughs[['pages','house_num']] = df_boroughs['borough_url'].apply(lambda x: number_of_search_pages(x))
df_boroughs

,borough_name,london_brough_links_1,london_brough_links_2,borough_url,pages,house_num
0,Camden,camden-london-borough,Camden (London Borough),https://www.zoopla.co.uk/for-sale/property/cam...,103,2556
1,Greenwich,greenwich-royal-borough,Greenwich (Royal Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/gre...,57,1415
2,Hackney,hackney-london-borough,Hackney (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/hac...,70,1731
3,Hammersmith,hammersmith-and-fulham-london-borough,Hammersmith and Fulham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/ham...,80,1987
4,Islington,islington-london-borough,Islington (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/isl...,90,2248
5,Kensington and Chelsea,kensington-and-chelsea-royal-borough,Kensington and Chelsea (Royal Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/ken...,149,3710
6,Lambeth,lambeth-london-borough,Lambeth (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/lam...,113,2802
7,Lewisham,lewisham-london-borough,Lewisham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/lew...,68,1679
8,Southwark,southwark-london-borough,Southwark (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/sou...,95,2361
9,Tower Hamlets,tower-hamlets-london-borough,Tower Hamlets (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/tow...,152,3785
10,Wandsworth,wandsworth-london-borough,Wandsworth (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wan...,150,3727
11,Westminster,westminster-london-borough,Westminster (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wes...,219,5472
12,Barking,barking-and-dagenham-london-borough,Barking and Dagenham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bar...,15,361
13,Barnet,barnet-london-borough,Barnet (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bar...,130,3241
14,Bexley,bexley-london-borough,Bexley (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bex...,21,523
15,Brent,brent-london-borough,Brent (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bre...,111,2767
16,Bromley,bromley-london-borough,Bromley (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bro...,45,1108
17,Croydon,croydon-london-borough,Croydon (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/cro...,92,2292
18,Ealing,ealing-london-borough,Ealing (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/eal...,116,2878
19,Enfield,enfield-london-borough,Enfield (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/enf...,45,1118
20,Haringey,haringey-london-borough,Haringey (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/har...,53,1318
21,Harrow,harrow-london-borough,Harrow (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/har...,51,1255
22,Havering,havering-london-borough,havering-london-borough,https://www.zoopla.co.uk/for-sale/property/hav...,33,805
23,Hillingdon,hillingdon-london-borough,Hillingdon (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/hil...,64,1576
24,Hounslow,hounslow-london-borough,Hounslow (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/hou...,67,1675
25,Kingston upon Thames,kingston-upon-thames-royal-borough,Kingston upon Thames (Royal Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/kin...,46,1149
26,Merton,merton-london-borough,Merton (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/mer...,53,1312
27,Newham,newham-london-borough,Newham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/new...,67,1664
28,Redbridge,redbridge-london-borough,Redbridge (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/red...,39,955
29,Richmond upon Thames,richmond-upon-thames-london-borough,Richmond upon Thames (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/ric...,62,1535
30,Sutton,sutton-london-borough,Sutton (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/sut...,33,818
31,Waltham Forest,waltham-forest-london-borough,Waltham Forest (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wal...,34,846

In [17]:
#df_boroughs = df_boroughs[df_boroughs['borough_name'] == 'Westminster']
#df_boroughs.reset_index(inplace = True, drop = True)
df_boroughs

,borough_name,london_brough_links_1,london_brough_links_2,borough_url,pages,house_num
0,Westminster,westminster-london-borough,Westminster (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wes...,219,5472

Using the list of boroughs with its link for the first search page I use the custom function get_main_house_details to scrape from each search page the link and listed date of each house.

As there are many old ads, I filter to get just the ones less than 6 months old.

In [18]:
for i in range(0,df_boroughs.shape[0]):
    data_link, data_listed = get_main_house_details(df_boroughs['borough_url'][i],df_boroughs['pages'][i],
                                                    df_boroughs['house_num'][i])
    print(len(data_link))
    if i == 0:
        df_houses = pd.DataFrame({'Link':data_link,'Listed':data_listed},
                     columns = ['Link','Listed'])
        df_houses['Borough'] = df_boroughs['borough_name'][i]
    else:
        df_houses_temp = pd.DataFrame({'Link':data_link,'Listed':data_listed},
                     columns = ['Link','Listed'])
        df_houses_temp['Borough'] = df_boroughs['borough_name'][i]
        df_houses = df_houses.append(df_houses_temp)
        
df_houses['date_listed'] = df_houses['Listed'].apply(lambda x: datetime.strptime(x.split(' ')[-3][:-2]\
                                                                                 + '-' + x.split(' ')[-2]\
                                                                                 + '-' + x.split(' ')[-1],
                                                                                 '%d-%b-%Y'))
df_houses_to_get = df_houses[df_houses['date_listed'] > pd.to_datetime(date.today() - timedelta(days=180))]

Request 1 of 219
Request 2 of 219
Request 3 of 219
Request 4 of 219
Request 5 of 219
Request 6 of 219
Request 7 of 219
Request 8 of 219
Request 9 of 219
Request 10 of 219
Request 11 of 219
Request 12 of 219
Request 13 of 219
Request 14 of 219
Request 15 of 219
Request 16 of 219
Request 17 of 219
Request 18 of 219
Request 19 of 219
Request 20 of 219
Request 21 of 219
Request 22 of 219
Request 23 of 219
Request 24 of 219
Request 25 of 219
Request 26 of 219
Request 27 of 219
Request 28 of 219
Request 29 of 219
Request 30 of 219
Request 31 of 219
Request 32 of 219
Request 33 of 219
Request 34 of 219
Request 35 of 219
Request 36 of 219
Request 37 of 219
Request 38 of 219
Request 39 of 219
Request 40 of 219
Request 41 of 219
Request 42 of 219
Request 43 of 219
Request 44 of 219
Request 45 of 219
Request 46 of 219
Request 47 of 219
Request 48 of 219
Request 49 of 219
Request 50 of 219
Request 51 of 219
Request 52 of 219
Request 53 of 219
Request 54 of 219
Request 55 of 219
Request 56 of 219
Request 57 of 219
Request 58 of 219
Request 59 of 219
Request 60 of 219
Request 61 of 219
Request 62 of 219
Request 63 of 219
Request 64 of 219
Request 65 of 219
Request 66 of 219
Request 67 of 219
Request 68 of 219
Request 69 of 219
Request 70 of 219
Request 71 of 219
Request 72 of 219
Request 73 of 219
Request 74 of 219
Request 75 of 219
Request 76 of 219
Request 77 of 219
Request 78 of 219
Request 79 of 219
Request 80 of 219
Request 81 of 219
Request 82 of 219
Request 83 of 219
Request 84 of 219
Request 85 of 219
Request 86 of 219
Request 87 of 219
Request 88 of 219
Request 89 of 219
Request 90 of 219
Request 91 of 219
Request 92 of 219
Request 93 of 219
Request 94 of 219
Request 95 of 219
Request 96 of 219
Request 97 of 219
Request 98 of 219
Request 99 of 219
Request 100 of 219
Request 101 of 219
Request 102 of 219
Request 103 of 219
Request 104 of 219
Request 105 of 219
Request 106 of 219
Request 107 of 219
Request 108 of 219
Request 109 of 219
Request 110 of 219
Request 111 of 219
Request 112 of 219
Request 113 of 219
Request 114 of 219
Request 115 of 219
Request 116 of 219
Request 117 of 219
Request 118 of 219
Request 119 of 219
Request 120 of 219
Request 121 of 219
Request 122 of 219
Request 123 of 219
Request 124 of 219
Request 125 of 219
Request 126 of 219
Request 127 of 219
Request 128 of 219
Request 129 of 219
Request 130 of 219
Request 131 of 219
Request 132 of 219
Request 133 of 219
Request 134 of 219
Request 135 of 219
Request 136 of 219
Request 137 of 219
Request 138 of 219
Request 139 of 219
Request 140 of 219
Request 141 of 219
Request 142 of 219
Request 143 of 219
Request 144 of 219
Request 145 of 219
Request 146 of 219
Request 147 of 219
Request 148 of 219
Request 149 of 219
Request 150 of 219
Request 151 of 219
Request 152 of 219
Request 153 of 219
Request 154 of 219
Request 155 of 219
Request 156 of 219
Request 157 of 219
Request 158 of 219
Request 159 of 219
Request 160 of 219
Request 161 of 219
Request 162 of 219
Request 163 of 219
Request 164 of 219
Request 165 of 219
Request 166 of 219
Request 167 of 219
Request 168 of 219
Request 169 of 219
Request 170 of 219
Request 171 of 219
Request 172 of 219
Request 173 of 219
Request 174 of 219
Request 175 of 219
Request 176 of 219
Request 177 of 219
Request 178 of 219
Request 179 of 219
Request 180 of 219
Request 181 of 219
Request 182 of 219
Request 183 of 219
Request 184 of 219
Request 185 of 219
Request 186 of 219
Request 187 of 219
Request 188 of 219
Request 189 of 219
Request 190 of 219
Request 191 of 219
Request 192 of 219
Request 193 of 219
Request 194 of 219
Request 195 of 219
Request 196 of 219
Request 197 of 219
Request 198 of 219
Request 199 of 219
Request 200 of 219
Request 201 of 219
Request 202 of 219
Request 203 of 219
Request 204 of 219
Request 205 of 219
Request 206 of 219
Request 207 of 219
Request 208 of 219
Request 209 of 219
Request 210 of 219
Request 211 of 219
Request 212 of 219
Request 213 of 219
Request 214 of 219
Request 215 of 219
Request 216 of 219
Request 217 of 219
Request 218 of 219
Request 219 of 219
5472

## 2. Individual information extraction

Once I have all the individual links I scrape the JSON file of each house and extract the useful features.

The output of this operation would be a DataFrame with all the features and all the houses.

In [29]:
df_houses_wrangling = df_houses_wrangling.append(df_houses_result, ignore_index = True)
display(df_houses_wrangling.shape)
display(df_houses_wrangling.tail())

(3109, 26)

,Link,Listed,Borough,date_listed,agency_name,agency_phone,chain_free,address,isRetirementHome,isSharedOwnership,...,priceHistory,floorArea,tenure,detailedDescription,features,furnishedState,title,latitude,longitude,statusSummary
3104,/for-sale/details/58455264/,Listed on 30th Apr 2021,Westminster,2021-04-30,Chancellors - St John's Wood,020 3463 9321,False,"Marylands Road, Maida Vale W9",False,False,...,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",share_of_freehold,<strong>Property Description</strong><br><br>A...,[Share of Freehold Term 99 years from 25/12/19...,None,2 bed flat for sale,51.524086,-0.193717,NaN
3105,/for-sale/details/58454817/,Listed on 30th Apr 2021,Westminster,2021-04-30,Douglas & Gordon - Pimlico & Westminster,020 8115 3280,False,"Lupus Street, London SW1V",False,False,...,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,This is a fantastic opportunity to purchase a ...,"[2 bedrooms, 1 bathroom, 1 reception room, Kit...",None,2 bed flat for sale,51.487842,-0.142065,NaN
3106,/for-sale/details/58454735/,Listed on 30th Apr 2021,Westminster,2021-04-30,"Purplebricks, Head Office",024 7511 8874,False,"Charlwood Street, Pimlico SW1V",False,False,...,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,** Highly sought after ** First floor ** Doubl...,[Stunning one bedroom first floor period conve...,None,1 bed flat for sale,51.488548,-0.140049,NaN
3107,/for-sale/details/58453238/,Listed on 30th Apr 2021,Westminster,2021-04-30,Wilfords London Ltd,020 3463 0403,False,"Vincent Square, Westminster SW1P",False,False,...,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,Vincent Square provides the ideal Westminster ...,"[Lift, Porter, Share of Freehold, Off Street P...",None,3 bed flat for sale,51.493718,-0.136655,NaN
3108,/for-sale/details/58453108/,Listed on 30th Apr 2021,Westminster,2021-04-30,Knight Frank - Marylebone Sales,020 3641 3434,False,"Marathon House, London NW1",False,False,...,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",None,A bright newly refurbished two-bedroom apartme...,"[2 bedrooms, 1 reception room, 2 bathrooms, Li...","{'__typename': 'Label', 'name': 'unfurnished',...",2 bed flat for sale,51.521900,-0.160800,NaN

In [28]:
df_houses_to_get_temp = df_houses_to_get[2000:]
df_houses_details = get_house_inner_details(df_houses_to_get_temp['Link'],
                                            df_houses_to_get_temp['date_listed'],
                                            df_houses_to_get_temp['Borough'])
df_houses_to_get_temp.reset_index(inplace = True, drop = True)
df_houses_result = df_houses_to_get_temp.join(df_houses_details)
#df_houses_wrangling = df_houses_result.copy()

Request 0 of 1108
Request 1 of 1108
Request 2 of 1108
Request 3 of 1108
Request 4 of 1108
Request 5 of 1108
Request 6 of 1108
Request 7 of 1108
Request 8 of 1108
Request 9 of 1108
Request 10 of 1108
Request 11 of 1108
Request 12 of 1108
Request 13 of 1108
Request 14 of 1108
Request 15 of 1108
Request 16 of 1108
Request 17 of 1108
Request 18 of 1108
Request 19 of 1108
Request 20 of 1108
Request 21 of 1108
Request 22 of 1108
Request 23 of 1108
Request 24 of 1108
Request 25 of 1108
Request 26 of 1108
Request 27 of 1108
Request 28 of 1108
Request 29 of 1108
Request 30 of 1108
Request 31 of 1108
Request 32 of 1108
Request 33 of 1108
Request 34 of 1108
Request 35 of 1108
Request 36 of 1108
Request 37 of 1108
Request 38 of 1108
Request 39 of 1108
Request 40 of 1108
Request 41 of 1108
Request 42 of 1108
Request 43 of 1108
Request 44 of 1108
Request 45 of 1108
Request 46 of 1108
Request 47 of 1108
Request 48 of 1108
Request 49 of 1108
Request 50 of 1108
Request 51 of 1108
Request 52 of 1108
Request 53 of 1108
Request 54 of 1108
Request 55 of 1108
Request 56 of 1108
Request 57 of 1108
Request 58 of 1108
Request 59 of 1108
Request 60 of 1108
Request 61 of 1108
Request 62 of 1108
Request 63 of 1108
Request 64 of 1108
Request 65 of 1108
Request 66 of 1108
Request 67 of 1108
Request 68 of 1108
Request 69 of 1108
Request 70 of 1108
Request 71 of 1108
Request 72 of 1108
Request 73 of 1108
Request 74 of 1108
Request 75 of 1108
Request 76 of 1108
Request 77 of 1108
Request 78 of 1108
Request 79 of 1108
Request 80 of 1108
Request 81 of 1108
Request 82 of 1108
Request 83 of 1108
Request 84 of 1108
Request 85 of 1108
Request 86 of 1108
Request 87 of 1108
Request 88 of 1108
Request 89 of 1108
Request 90 of 1108
Request 91 of 1108
Request 92 of 1108
Request 93 of 1108
Request 94 of 1108
Request 95 of 1108
Request 96 of 1108
Request 97 of 1108
Request 98 of 1108
Request 99 of 1108
Request 100 of 1108
Request 101 of 1108
Request 102 of 1108
Request 103 of 1108
Request 104 of 1108
Request 105 of 1108
Request 106 of 1108
Request 107 of 1108
Request 108 of 1108
Request 109 of 1108
Request 110 of 1108
Request 111 of 1108
Request 112 of 1108
Request 113 of 1108
Request 114 of 1108
Request 115 of 1108
Request 116 of 1108
Request 117 of 1108
Request 118 of 1108
Request 119 of 1108
Request 120 of 1108
Request 121 of 1108
Request 122 of 1108
Request 123 of 1108
Request 124 of 1108
Request 125 of 1108
Request 126 of 1108
Request 127 of 1108
Request 128 of 1108
Request 129 of 1108
Request 130 of 1108
Request 131 of 1108
Request 132 of 1108
Request 133 of 1108
Request 134 of 1108
Request 135 of 1108
Request 136 of 1108
Request 137 of 1108
Request 138 of 1108
Request 139 of 1108
Request 140 of 1108
Request 141 of 1108
Request 142 of 1108
Request 143 of 1108
Request 144 of 1108
Request 145 of 1108
Request 146 of 1108
Request 147 of 1108
Request 148 of 1108
Request 149 of 1108
Request 150 of 1108
Request 151 of 1108
Request 152 of 1108
Request 153 of 1108
Request 154 of 1108
Request 155 of 1108
Request 156 of 1108
Request 157 of 1108
Request 158 of 1108
Request 159 of 1108
Request 160 of 1108
Request 161 of 1108
Request 162 of 1108
Request 163 of 1108
Request 164 of 1108
Request 165 of 1108
Request 166 of 1108
Request 167 of 1108
Request 168 of 1108
Request 169 of 1108
Request 170 of 1108
Request 171 of 1108
Request 172 of 1108
Request 173 of 1108
Request 174 of 1108
Request 175 of 1108
Request 176 of 1108
Request 177 of 1108
Request 178 of 1108
Request 179 of 1108
Request 180 of 1108
Request 181 of 1108
Request 182 of 1108
Request 183 of 1108
Request 184 of 1108
Request 185 of 1108
Request 186 of 1108
Request 187 of 1108
Request 188 of 1108
Request 189 of 1108
Request 190 of 1108
Request 191 of 1108
Request 192 of 1108
Request 193 of 1108
Request 194 of 1108
Request 195 of 1108
Request 196 of 1108
Request 197 of 1108
Request 198 of 1108
Request 199 of 1108
Request 200 of 1108
Request 201 of 1108
Request 202 of 1108
Request 203 of 1108
Request 204 of 1108
Request 205 of 1108
Request 206 of 1108
Request 207 of 1108
Request 208 of 1108
Request 209 of 1108
Request 210 of 1108
Request 211 of 1108
Request 212 of 1108
Request 213 of 1108
Request 214 of 1108
Request 215 of 1108
Request 216 of 1108
Request 217 of 1108
Request 218 of 1108
Request 219 of 1108
Request 220 of 1108
Request 221 of 1108
Request 222 of 1108
Request 223 of 1108
Request 224 of 1108
Request 225 of 1108
Request 226 of 1108
Request 227 of 1108
Request 228 of 1108
Request 229 of 1108
Request 230 of 1108
Request 231 of 1108
Request 232 of 1108
Request 233 of 1108
Request 234 of 1108
Request 235 of 1108
Request 236 of 1108
Request 237 of 1108
Request 238 of 1108
Request 239 of 1108
Request 240 of 1108
Request 241 of 1108
Request 242 of 1108
Request 243 of 1108
Request 244 of 1108
Request 245 of 1108
Request 246 of 1108
Request 247 of 1108
Request 248 of 1108
Request 249 of 1108
Request 250 of 1108
Request 251 of 1108
Request 252 of 1108
Request 253 of 1108
Request 254 of 1108
Request 255 of 1108
Request 256 of 1108
Request 257 of 1108
Request 258 of 1108
Request 259 of 1108
Request 260 of 1108
Request 261 of 1108
Request 262 of 1108
Request 263 of 1108
Request 264 of 1108
Request 265 of 1108
Request 266 of 1108
Request 267 of 1108
Request 268 of 1108
Request 269 of 1108
Request 270 of 1108
Request 271 of 1108
Request 272 of 1108
Request 273 of 1108
Request 274 of 1108
Request 275 of 1108
Request 276 of 1108
Request 277 of 1108
Request 278 of 1108
Request 279 of 1108
Request 280 of 1108
Request 281 of 1108
Request 282 of 1108
Request 283 of 1108
Request 284 of 1108
Request 285 of 1108
Request 286 of 1108
Request 287 of 1108
Request 288 of 1108
Request 289 of 1108
Request 290 of 1108
Request 291 of 1108
Request 292 of 1108
Request 293 of 1108
Request 294 of 1108
Request 295 of 1108
Request 296 of 1108
Request 297 of 1108
Request 298 of 1108
Request 299 of 1108
Request 300 of 1108
Request 301 of 1108
Request 302 of 1108
Request 303 of 1108
Request 304 of 1108
Request 305 of 1108
Request 306 of 1108
Request 307 of 1108
Request 308 of 1108
Request 309 of 1108
Request 310 of 1108
Request 311 of 1108
Request 312 of 1108
Request 313 of 1108
Request 314 of 1108
Request 315 of 1108
Request 316 of 1108
Request 317 of 1108
Request 318 of 1108
Request 319 of 1108
Request 320 of 1108
Request 321 of 1108
Request 322 of 1108
Request 323 of 1108
Request 324 of 1108
Request 325 of 1108
Request 326 of 1108
Request 327 of 1108
Request 328 of 1108
Request 329 of 1108
Request 330 of 1108
Request 331 of 1108
Request 332 of 1108
Request 333 of 1108
Request 334 of 1108
Request 335 of 1108
Request 336 of 1108
Request 337 of 1108
Request 338 of 1108
Request 339 of 1108
Request 340 of 1108
Request 341 of 1108
Request 342 of 1108
Request 343 of 1108
Request 344 of 1108
Request 345 of 1108
Request 346 of 1108
Request 347 of 1108
Request 348 of 1108
Request 349 of 1108
Request 350 of 1108
Request 351 of 1108
Request 352 of 1108
Request 353 of 1108
Request 354 of 1108
Request 355 of 1108
Request 356 of 1108
Request 357 of 1108
Request 358 of 1108
Request 359 of 1108
Request 360 of 1108
Request 361 of 1108
Request 362 of 1108
Request 363 of 1108
Request 364 of 1108
Request 365 of 1108
Request 366 of 1108
Request 367 of 1108
Request 368 of 1108
Request 369 of 1108
Request 370 of 1108
Request 371 of 1108
Request 372 of 1108
Request 373 of 1108
Request 374 of 1108
Request 375 of 1108
Request 376 of 1108
Request 377 of 1108
Request 378 of 1108
Request 379 of 1108
Request 380 of 1108
Request 381 of 1108
Request 382 of 1108
Request 383 of 1108
Request 384 of 1108
Request 385 of 1108
Request 386 of 1108
Request 387 of 1108
Request 388 of 1108
Request 389 of 1108
Request 390 of 1108
Request 391 of 1108
Request 392 of 1108
Request 393 of 1108
Request 394 of 1108
Request 395 of 1108
Request 396 of 1108
Request 397 of 1108
Request 398 of 1108
Request 399 of 1108
Request 400 of 1108
Request 401 of 1108
Request 402 of 1108
Request 403 of 1108
Request 404 of 1108
Request 405 of 1108
Request 406 of 1108
Request 407 of 1108
Request 408 of 1108
Request 409 of 1108
Request 410 of 1108
Request 411 of 1108
Request 412 of 1108
Request 413 of 1108
Request 414 of 1108
Request 415 of 1108
Request 416 of 1108
Request 417 of 1108
Request 418 of 1108
Request 419 of 1108
Request 420 of 1108
Request 421 of 1108
Request 422 of 1108
Request 423 of 1108
Request 424 of 1108
Request 425 of 1108
Request 426 of 1108
Request 427 of 1108
Request 428 of 1108
Request 429 of 1108
Request 430 of 1108
Request 431 of 1108
Request 432 of 1108
Request 433 of 1108
Request 434 of 1108
Request 435 of 1108
Request 436 of 1108
Request 437 of 1108
Request 438 of 1108
Request 439 of 1108
Request 440 of 1108
Request 441 of 1108
Request 442 of 1108
Request 443 of 1108
Request 444 of 1108
Request 445 of 1108
Request 446 of 1108
Request 447 of 1108
Request 448 of 1108
Request 449 of 1108
Request 450 of 1108
Request 451 of 1108
Request 452 of 1108
Request 453 of 1108
Request 454 of 1108
Request 455 of 1108
Request 456 of 1108
Request 457 of 1108
Request 458 of 1108
Request 459 of 1108
Request 460 of 1108
Request 461 of 1108
Request 462 of 1108
Request 463 of 1108
Request 464 of 1108
Request 465 of 1108
Request 466 of 1108
Request 467 of 1108
Request 468 of 1108
Request 469 of 1108
Request 470 of 1108
Request 471 of 1108
Request 472 of 1108
Request 473 of 1108
Request 474 of 1108
Request 475 of 1108
Request 476 of 1108
Request 477 of 1108
Request 478 of 1108
Request 479 of 1108
Request 480 of 1108
Request 481 of 1108
Request 482 of 1108
Request 483 of 1108
Request 484 of 1108
Request 485 of 1108
Request 486 of 1108
Request 487 of 1108
Request 488 of 1108
Request 489 of 1108
Request 490 of 1108
Request 491 of 1108
Request 492 of 1108
Request 493 of 1108
Request 494 of 1108
Request 495 of 1108
Request 496 of 1108
Request 497 of 1108
Request 498 of 1108
Request 499 of 1108
Request 500 of 1108
Request 501 of 1108
Request 502 of 1108
Request 503 of 1108
Request 504 of 1108
Request 505 of 1108
Request 506 of 1108
Request 507 of 1108
Request 508 of 1108
Request 509 of 1108
Request 510 of 1108
Request 511 of 1108
Request 512 of 1108
Request 513 of 1108
Request 514 of 1108
Request 515 of 1108
Request 516 of 1108
Request 517 of 1108
Request 518 of 1108
Request 519 of 1108
Request 520 of 1108
Request 521 of 1108
Request 522 of 1108
Request 523 of 1108
Request 524 of 1108
Request 525 of 1108
Request 526 of 1108
Request 527 of 1108
Request 528 of 1108
Request 529 of 1108
Request 530 of 1108
Request 531 of 1108
Request 532 of 1108
Request 533 of 1108
Request 534 of 1108
Request 535 of 1108
Request 536 of 1108
Request 537 of 1108
Request 538 of 1108
Request 539 of 1108
Request 540 of 1108
Request 541 of 1108
Request 542 of 1108
Request 543 of 1108
Request 544 of 1108
Request 545 of 1108
Request 546 of 1108
Request 547 of 1108
Request 548 of 1108
Request 549 of 1108
Request 550 of 1108
Request 551 of 1108
Request 552 of 1108
Request 553 of 1108
Request 554 of 1108
Request 555 of 1108
Request 556 of 1108
Request 557 of 1108
Request 558 of 1108
Request 559 of 1108
Request 560 of 1108
Request 561 of 1108
Request 562 of 1108
Request 563 of 1108
Request 564 of 1108
Request 565 of 1108
Request 566 of 1108
Request 567 of 1108
Request 568 of 1108
Request 569 of 1108
Request 570 of 1108
Request 571 of 1108
Request 572 of 1108
Request 573 of 1108
Request 574 of 1108
Request 575 of 1108
Request 576 of 1108
Request 577 of 1108
Request 578 of 1108
Request 579 of 1108
Request 580 of 1108
Request 581 of 1108
Request 582 of 1108
Request 583 of 1108
Request 584 of 1108
Request 585 of 1108
Request 586 of 1108
Request 587 of 1108
Request 588 of 1108
Request 589 of 1108
Request 590 of 1108
Request 591 of 1108
Request 592 of 1108
Request 593 of 1108
Request 594 of 1108
Request 595 of 1108
Request 596 of 1108
Request 597 of 1108
Request 598 of 1108
Request 599 of 1108
Request 600 of 1108
Request 601 of 1108
Request 602 of 1108
Request 603 of 1108
Request 604 of 1108
Request 605 of 1108
Request 606 of 1108
Request 607 of 1108
Request 608 of 1108
Request 609 of 1108
Request 610 of 1108
Request 611 of 1108
Request 612 of 1108
Request 613 of 1108
Request 614 of 1108
Request 615 of 1108
Request 616 of 1108
Request 617 of 1108
Request 618 of 1108
Request 619 of 1108
Request 620 of 1108
Request 621 of 1108
Request 622 of 1108
Request 623 of 1108
Request 624 of 1108
Request 625 of 1108
Request 626 of 1108
Request 627 of 1108
Request 628 of 1108
Request 629 of 1108
Request 630 of 1108
Request 631 of 1108
Request 632 of 1108
Request 633 of 1108
Request 634 of 1108
Request 635 of 1108
Request 636 of 1108
Request 637 of 1108
Request 638 of 1108
Request 639 of 1108
Request 640 of 1108
Request 641 of 1108
Request 642 of 1108
Request 643 of 1108
Request 644 of 1108
Request 645 of 1108
Request 646 of 1108
Request 647 of 1108
Request 648 of 1108
Request 649 of 1108
Request 650 of 1108
Request 651 of 1108
Request 652 of 1108
Request 653 of 1108
Request 654 of 1108
Request 655 of 1108
Request 656 of 1108
Request 657 of 1108
Request 658 of 1108
Request 659 of 1108
Request 660 of 1108
Request 661 of 1108
Request 662 of 1108
Request 663 of 1108
Request 664 of 1108
Request 665 of 1108
Request 666 of 1108
Request 667 of 1108
Request 668 of 1108
Request 669 of 1108
Request 670 of 1108
Request 671 of 1108
Request 672 of 1108
Request 673 of 1108
Request 674 of 1108
Request 675 of 1108
Request 676 of 1108
Request 677 of 1108
Request 678 of 1108
Request 679 of 1108
Request 680 of 1108
Request 681 of 1108
Request 682 of 1108
Request 683 of 1108
Request 684 of 1108
Request 685 of 1108
Request 686 of 1108
Request 687 of 1108
Request 688 of 1108
Request 689 of 1108
Request 690 of 1108
Request 691 of 1108
Request 692 of 1108
Request 693 of 1108
Request 694 of 1108
Request 695 of 1108
Request 696 of 1108
Request 697 of 1108
Request 698 of 1108
Request 699 of 1108
Request 700 of 1108
Request 701 of 1108
Request 702 of 1108
Request 703 of 1108
Request 704 of 1108
Request 705 of 1108
Request 706 of 1108
Request 707 of 1108
Request 708 of 1108
Request 709 of 1108
Request 710 of 1108
Request 711 of 1108
Request 712 of 1108
Request 713 of 1108
Request 714 of 1108
Request 715 of 1108
Request 716 of 1108
Request 717 of 1108
Request 718 of 1108
Request 719 of 1108
Request 720 of 1108
Request 721 of 1108
Request 722 of 1108
Request 723 of 1108
Request 724 of 1108
Request 725 of 1108
Request 726 of 1108
Request 727 of 1108
Request 728 of 1108
Request 729 of 1108
Request 730 of 1108
Request 731 of 1108
Request 732 of 1108
Request 733 of 1108
Request 734 of 1108
Request 735 of 1108
Request 736 of 1108
Request 737 of 1108
Request 738 of 1108
Request 739 of 1108
Request 740 of 1108
Request 741 of 1108
Request 742 of 1108
Request 743 of 1108
Request 744 of 1108
Request 745 of 1108
Request 746 of 1108
Request 747 of 1108
Request 748 of 1108
Request 749 of 1108
Request 750 of 1108
Request 751 of 1108
Request 752 of 1108
Request 753 of 1108
Request 754 of 1108
Request 755 of 1108
Request 756 of 1108
Request 757 of 1108
Request 758 of 1108
Request 759 of 1108
Request 760 of 1108
Request 761 of 1108
Request 762 of 1108
Request 763 of 1108
Request 764 of 1108
Request 765 of 1108
Request 766 of 1108
Request 767 of 1108
Request 768 of 1108
Request 769 of 1108
Request 770 of 1108
Request 771 of 1108
Request 772 of 1108
Request 773 of 1108
Request 774 of 1108
Request 775 of 1108
Request 776 of 1108
Request 777 of 1108
Request 778 of 1108
Request 779 of 1108
Request 780 of 1108
Request 781 of 1108
Request 782 of 1108
Request 783 of 1108
Request 784 of 1108
Request 785 of 1108
Request 786 of 1108
Request 787 of 1108
Request 788 of 1108
Request 789 of 1108
Request 790 of 1108
Request 791 of 1108
Request 792 of 1108
Request 793 of 1108
Request 794 of 1108
Request 795 of 1108
Request 796 of 1108
Request 797 of 1108
Request 798 of 1108
Request 799 of 1108
Request 800 of 1108
Request 801 of 1108
Request 802 of 1108
Request 803 of 1108
Request 804 of 1108
Request 805 of 1108
Request 806 of 1108
Request 807 of 1108
Request 808 of 1108
Request 809 of 1108
Request 810 of 1108
Request 811 of 1108
Request 812 of 1108
Request 813 of 1108
Request 814 of 1108
Request 815 of 1108
Request 816 of 1108
Request 817 of 1108
Request 818 of 1108
Request 819 of 1108
Request 820 of 1108
Request 821 of 1108
Request 822 of 1108
Request 823 of 1108
Request 824 of 1108
Request 825 of 1108
Request 826 of 1108
Request 827 of 1108
Request 828 of 1108
Request 829 of 1108
Request 830 of 1108
Request 831 of 1108
Request 832 of 1108
Request 833 of 1108
Request 834 of 1108
Request 835 of 1108
Request 836 of 1108
Request 837 of 1108
Request 838 of 1108
Request 839 of 1108
Request 840 of 1108
Request 841 of 1108
Request 842 of 1108
Request 843 of 1108
Request 844 of 1108
Request 845 of 1108
Request 846 of 1108
Request 847 of 1108
Request 848 of 1108
Request 849 of 1108
Request 850 of 1108
Request 851 of 1108
Request 852 of 1108
Request 853 of 1108
Request 854 of 1108
Request 855 of 1108
Request 856 of 1108
Request 857 of 1108
Request 858 of 1108
Request 859 of 1108
Request 860 of 1108
Request 861 of 1108
Request 862 of 1108
Request 863 of 1108
Request 864 of 1108
Request 865 of 1108
Request 866 of 1108
Request 867 of 1108
Request 868 of 1108
Request 869 of 1108
Request 870 of 1108
Request 871 of 1108
Request 872 of 1108
Request 873 of 1108
Request 874 of 1108
Request 875 of 1108
Request 876 of 1108
Request 877 of 1108
Request 878 of 1108
Request 879 of 1108
Request 880 of 1108
Request 881 of 1108
Request 882 of 1108
Request 883 of 1108
Request 884 of 1108
Request 885 of 1108
Request 886 of 1108
Request 887 of 1108
Request 888 of 1108
Request 889 of 1108
Request 890 of 1108
Request 891 of 1108
Request 892 of 1108
Request 893 of 1108
Request 894 of 1108
Request 895 of 1108
Request 896 of 1108
Request 897 of 1108
Request 898 of 1108
Request 899 of 1108
Request 900 of 1108
Request 901 of 1108
Request 902 of 1108
Request 903 of 1108
Request 904 of 1108
Request 905 of 1108
Request 906 of 1108
Request 907 of 1108
Request 908 of 1108
Request 909 of 1108
Request 910 of 1108
Request 911 of 1108
Request 912 of 1108
Request 913 of 1108
Request 914 of 1108
Request 915 of 1108
Request 916 of 1108
Request 917 of 1108
Request 918 of 1108
Request 919 of 1108
Request 920 of 1108
Request 921 of 1108
Request 922 of 1108
Request 923 of 1108
Request 924 of 1108
Request 925 of 1108
Request 926 of 1108
Request 927 of 1108
Request 928 of 1108
Request 929 of 1108
Request 930 of 1108
Request 931 of 1108
Request 932 of 1108
Request 933 of 1108
Request 934 of 1108
Request 935 of 1108
Request 936 of 1108
Request 937 of 1108
Request 938 of 1108
Request 939 of 1108
Request 940 of 1108
Request 941 of 1108
Request 942 of 1108
Request 943 of 1108
Request 944 of 1108
Request 945 of 1108
Request 946 of 1108
Request 947 of 1108
Request 948 of 1108
Request 949 of 1108
Request 950 of 1108
Request 951 of 1108
Request 952 of 1108
Request 953 of 1108
Request 954 of 1108
Request 955 of 1108
Request 956 of 1108
Request 957 of 1108
Request 958 of 1108
Request 959 of 1108
Request 960 of 1108
Request 961 of 1108
Request 962 of 1108
Request 963 of 1108
Request 964 of 1108
Request 965 of 1108
Request 966 of 1108
Request 967 of 1108
Request 968 of 1108
Request 969 of 1108
Request 970 of 1108
Request 971 of 1108
Request 972 of 1108
Request 973 of 1108
Request 974 of 1108
Request 975 of 1108
Request 976 of 1108
Request 977 of 1108
Request 978 of 1108
Request 979 of 1108
Request 980 of 1108
Request 981 of 1108
Request 982 of 1108
Request 983 of 1108
Request 984 of 1108
Request 985 of 1108
Request 986 of 1108
Request 987 of 1108
Request 988 of 1108
Request 989 of 1108
Request 990 of 1108
Request 991 of 1108
Request 992 of 1108
Request 993 of 1108
Request 994 of 1108
Request 995 of 1108
Request 996 of 1108
Request 997 of 1108
Request 998 of 1108
Request 999 of 1108
Request 1000 of 1108
Request 1001 of 1108
Request 1002 of 1108
Request 1003 of 1108
Request 1004 of 1108

## 3. Data Wrangling

The first item of data wrangling is to extract and convert the floor area from its dictionary and convert to m^2 if necessary.

In [35]:
df_houses_wrangling['floorArea'].fillna(value = np.nan, inplace = True)
df_houses_wrangling['floor_area_amount'] = df_houses_wrangling['floorArea'].apply(lambda x: None if 
                                                                                  pd.isnull(x) 
                                                                        else x['value'])
df_houses_wrangling['floor_area_units'] = df_houses_wrangling['floorArea'].apply(lambda x: None if 
                                                                                  pd.isnull(x) 
                                                                        else x['unitsLabel'])
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: None if 
                                                                  pd.isnull(x['floor_area_amount']) else
                                                                  ((round(x['floor_area_amount']/10.7639)) 
                                                                  if (x['floor_area_units'] == 'sq. ft') 
                                                                  else x['floor_area_amount']), axis = 1)

Now, to extract some basic information such as amount of beds, baths, etc. from its dictionary.

In [39]:
# temporally to delete empty lines
df_houses_wrangling.drop(df_houses_wrangling[df_houses_wrangling['RoomCount'].isnull()].index, 
                         inplace = True, axis = 0)
df_houses_wrangling[df_houses_wrangling['RoomCount'].isnull()]

Empty DataFrame
Columns: [Link, Listed, Borough, date_listed, agency_name, agency_phone, chain_free, address, isRetirementHome, isSharedOwnership, listingCondition, listingStatus, RoomCount, price, propertyType, isAuction, priceHistory, floorArea, tenure, detailedDescription, features, furnishedState, title, latitude, longitude, statusSummary, floor_area_amount, floor_area_units, floor_area_msq]
Index: []

[0 rows x 29 columns]

In [41]:
df_houses_wrangling['numBedrooms'] = df_houses_wrangling['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(x['numBedrooms']) 
                                                                        else x['numBedrooms'])
df_houses_wrangling['numBathrooms'] = df_houses_wrangling['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(x['numBathrooms']) 
                                                                        else x['numBathrooms'])
df_houses_wrangling['numLivingRooms'] = df_houses_wrangling['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(x['numLivingRooms']) 
                                                                        else x['numLivingRooms'])

Next step is to extract historical information. In this case the dictionary varies depending on the information available, so it is important to avoid errors trying to use None values.

In [43]:
df_houses_wrangling['firstPublished'] = df_houses_wrangling['priceHistory'].apply(lambda x: None if 
                                                                                  pd.isnull(x) 
                                                                        else x['firstPublished'])
df_houses_wrangling['lastSale'] = df_houses_wrangling['priceHistory'].apply(lambda x: None if 
                                                                            pd.isnull(x) 
                                                                            else x['lastSale'])
df_houses_wrangling['firstPublishedDate'] = df_houses_wrangling['firstPublished'].apply(lambda x: None if 
                                                                                    pd.isnull(x) 
                                                                    else x['firstPublishedDate'])
df_houses_wrangling['firstPublishedPrice'] = df_houses_wrangling['firstPublished'].apply(lambda x: None 
                                                                                if pd.isnull(x) 
                                                                            else x['priceLabel'])
df_houses_wrangling['lastSaleDate'] = df_houses_wrangling['lastSale'].apply(lambda x: None 
                                                                            if pd.isnull(x) 
                                                                            else x['date'])
df_houses_wrangling['lastSaleNewBuild'] = df_houses_wrangling['lastSale'].apply(lambda x: None 
                                                                                if pd.isnull(x) 
                                                                            else x['newBuild'])
df_houses_wrangling['lastSalePrice'] = df_houses_wrangling['lastSale'].apply(lambda x: None 
                                                                             if pd.isnull(x) 
                                                                             else x['price'])
df_houses_wrangling['firstPublishedPrice'] = df_houses_wrangling['firstPublishedPrice'].apply(lambda x:None 
                                                                                              if pd.isnull(x)\
                                                                 else int(x.replace(',','').split('£')[-1]))

## 4. Feature Extraction

From features data we can try to extract floor are information, as currently this feature is full of empty records but it is very important.

I will use the functions I created to extract any feature that contains the words sq ft or sq m in some way.

In [49]:
df_houses_wrangling['sq_m_feat_from_ft'] = df_houses_wrangling['features'].apply(lambda x: None if np.all(pd.isnull(x))
                                                                                else sq_ft_features_find(" - ".join(x)))

df_houses_wrangling['sq_m_feat_from_m'] = df_houses_wrangling['features'].apply(lambda x: None if np.all(pd.isnull(x))
                                                                                else sq_m_features_find(" - ".join(x)))

In [50]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3096 entries, 0 to 3108
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 3096 non-null   object
 1   Listed               3096 non-null   object
 2   Borough              3096 non-null   object
 3   date_listed          3096 non-null   datetime64[ns]
 4   agency_name          3096 non-null   object
 5   agency_phone         3096 non-null   object
 6   chain_free           3096 non-null   object
 7   address              3096 non-null   object
 8   isRetirementHome     3096 non-null   object
 9   isSharedOwnership    3096 non-null   object
 10  listingCondition     3096 non-null   object
 11  listingStatus        3096 non-null   object
 12  RoomCount            3096 non-null   object
 13  price                3096 non-null   float64
 14  propertyType         3096 non-null   object
 15  isAuction            3096 non-null   object
 16  priceHistory         3056 non-null   object
 17  floorArea            966 non-null    object
 18  tenure               1971 non-null   object
 19  detailedDescription  3096 non-null   object
 20  features             3096 non-null   object
 21  furnishedState       224 non-null    object
 22  title                3096 non-null   object
 23  latitude             3096 non-null   float64
 24  longitude            3096 non-null   float64
 25  statusSummary        57 non-null     object
 26  floor_area_amount    963 non-null    float64
 27  floor_area_units     966 non-null    object
 28  floor_area_msq       963 non-null    float64
 29  numBedrooms          3096 non-null   int64
 30  numBathrooms         3096 non-null   int64
 31  numLivingRooms       3096 non-null   int64
 32  firstPublished       2966 non-null   object
 33  lastSale             937 non-null    object
 34  firstPublishedDate   2966 non-null   object
 35  firstPublishedPrice  2966 non-null   float64
 36  lastSaleDate         937 non-null    object
 37  lastSaleNewBuild     937 non-null    object
 38  lastSalePrice        937 non-null    float64
 39  sq_m_feat_from_ft    460 non-null    float64
 40  sq_m_feat_from_m     130 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(28)
memory usage: 1.1+ MB

One the difficulties I am finding is to fill the floor size feature, even though I believe it is a feature of great importance there is very little houses with that information as it is. In fact, just around the 20% so far.

I tried to extract this information from the features object by extracting any number related with sq ft or sq m, let's see how it improves the previous percentage.

In [51]:
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_ft'] 
                                                                     if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_m'] 
                                                                    if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)

In [52]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3096 entries, 0 to 3108
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 3096 non-null   object
 1   Listed               3096 non-null   object
 2   Borough              3096 non-null   object
 3   date_listed          3096 non-null   datetime64[ns]
 4   agency_name          3096 non-null   object
 5   agency_phone         3096 non-null   object
 6   chain_free           3096 non-null   object
 7   address              3096 non-null   object
 8   isRetirementHome     3096 non-null   object
 9   isSharedOwnership    3096 non-null   object
 10  listingCondition     3096 non-null   object
 11  listingStatus        3096 non-null   object
 12  RoomCount            3096 non-null   object
 13  price                3096 non-null   float64
 14  propertyType         3096 non-null   object
 15  isAuction            3096 non-null   object
 16  priceHistory         3056 non-null   object
 17  floorArea            966 non-null    object
 18  tenure               1971 non-null   object
 19  detailedDescription  3096 non-null   object
 20  features             3096 non-null   object
 21  furnishedState       224 non-null    object
 22  title                3096 non-null   object
 23  latitude             3096 non-null   float64
 24  longitude            3096 non-null   float64
 25  statusSummary        57 non-null     object
 26  floor_area_amount    963 non-null    float64
 27  floor_area_units     966 non-null    object
 28  floor_area_msq       1320 non-null   float64
 29  numBedrooms          3096 non-null   int64
 30  numBathrooms         3096 non-null   int64
 31  numLivingRooms       3096 non-null   int64
 32  firstPublished       2966 non-null   object
 33  lastSale             937 non-null    object
 34  firstPublishedDate   2966 non-null   object
 35  firstPublishedPrice  2966 non-null   float64
 36  lastSaleDate         937 non-null    object
 37  lastSaleNewBuild     937 non-null    object
 38  lastSalePrice        937 non-null    float64
 39  sq_m_feat_from_ft    460 non-null    float64
 40  sq_m_feat_from_m     130 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(28)
memory usage: 1.1+ MB

The situation has improved and now there is a better percentage (26%), even though still not great.

Let's try now with the description, applying a similar method.

In [53]:
df_houses_wrangling['sq_m_feat_from_dft'] = df_houses_wrangling['detailedDescription'].apply(lambda x: None 
                                                                                             if pd.isnull(x) 
                                                                                    else sq_ft_features_find(x))

df_houses_wrangling['sq_m_feat_from_dm'] = df_houses_wrangling['detailedDescription'].apply(lambda x: None 
                                                                                            if pd.isnull(x) 
                                                                                     else sq_m_features_find(x))

In [54]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3096 entries, 0 to 3108
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 3096 non-null   object
 1   Listed               3096 non-null   object
 2   Borough              3096 non-null   object
 3   date_listed          3096 non-null   datetime64[ns]
 4   agency_name          3096 non-null   object
 5   agency_phone         3096 non-null   object
 6   chain_free           3096 non-null   object
 7   address              3096 non-null   object
 8   isRetirementHome     3096 non-null   object
 9   isSharedOwnership    3096 non-null   object
 10  listingCondition     3096 non-null   object
 11  listingStatus        3096 non-null   object
 12  RoomCount            3096 non-null   object
 13  price                3096 non-null   float64
 14  propertyType         3096 non-null   object
 15  isAuction            3096 non-null   object
 16  priceHistory         3056 non-null   object
 17  floorArea            966 non-null    object
 18  tenure               1971 non-null   object
 19  detailedDescription  3096 non-null   object
 20  features             3096 non-null   object
 21  furnishedState       224 non-null    object
 22  title                3096 non-null   object
 23  latitude             3096 non-null   float64
 24  longitude            3096 non-null   float64
 25  statusSummary        57 non-null     object
 26  floor_area_amount    963 non-null    float64
 27  floor_area_units     966 non-null    object
 28  floor_area_msq       1320 non-null   float64
 29  numBedrooms          3096 non-null   int64
 30  numBathrooms         3096 non-null   int64
 31  numLivingRooms       3096 non-null   int64
 32  firstPublished       2966 non-null   object
 33  lastSale             937 non-null    object
 34  firstPublishedDate   2966 non-null   object
 35  firstPublishedPrice  2966 non-null   float64
 36  lastSaleDate         937 non-null    object
 37  lastSaleNewBuild     937 non-null    object
 38  lastSalePrice        937 non-null    float64
 39  sq_m_feat_from_ft    460 non-null    float64
 40  sq_m_feat_from_m     130 non-null    float64
 41  sq_m_feat_from_dft   956 non-null    float64
 42  sq_m_feat_from_dm    225 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(28)
memory usage: 1.1+ MB

In [55]:
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_dft'] 
                                                                     if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)
df_houses_wrangling['floor_area_msq'] = df_houses_wrangling.apply(lambda x: x['sq_m_feat_from_dm'] 
                                                                    if np.isnan(x['floor_area_msq'])
                                                                    else x['floor_area_msq'], axis = 1)

In [56]:
df_houses_wrangling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3096 entries, 0 to 3108
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Link                 3096 non-null   object
 1   Listed               3096 non-null   object
 2   Borough              3096 non-null   object
 3   date_listed          3096 non-null   datetime64[ns]
 4   agency_name          3096 non-null   object
 5   agency_phone         3096 non-null   object
 6   chain_free           3096 non-null   object
 7   address              3096 non-null   object
 8   isRetirementHome     3096 non-null   object
 9   isSharedOwnership    3096 non-null   object
 10  listingCondition     3096 non-null   object
 11  listingStatus        3096 non-null   object
 12  RoomCount            3096 non-null   object
 13  price                3096 non-null   float64
 14  propertyType         3096 non-null   object
 15  isAuction            3096 non-null   object
 16  priceHistory         3056 non-null   object
 17  floorArea            966 non-null    object
 18  tenure               1971 non-null   object
 19  detailedDescription  3096 non-null   object
 20  features             3096 non-null   object
 21  furnishedState       224 non-null    object
 22  title                3096 non-null   object
 23  latitude             3096 non-null   float64
 24  longitude            3096 non-null   float64
 25  statusSummary        57 non-null     object
 26  floor_area_amount    963 non-null    float64
 27  floor_area_units     966 non-null    object
 28  floor_area_msq       1822 non-null   float64
 29  numBedrooms          3096 non-null   int64
 30  numBathrooms         3096 non-null   int64
 31  numLivingRooms       3096 non-null   int64
 32  firstPublished       2966 non-null   object
 33  lastSale             937 non-null    object
 34  firstPublishedDate   2966 non-null   object
 35  firstPublishedPrice  2966 non-null   float64
 36  lastSaleDate         937 non-null    object
 37  lastSaleNewBuild     937 non-null    object
 38  lastSalePrice        937 non-null    float64
 39  sq_m_feat_from_ft    460 non-null    float64
 40  sq_m_feat_from_m     130 non-null    float64
 41  sq_m_feat_from_dft   956 non-null    float64
 42  sq_m_feat_from_dm    225 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(28)
memory usage: 1.1+ MB

Using the description feature, the situation improves to almost 40%, but I don't think it is possible to improve further. If that is the case, I will drop the rows without floor area information. 

In that case I will drop the null values rows. Between 15k and 20k is a good sample of houses to make a reliable study,

In [57]:
df_houses_wrangling2 = df_houses_wrangling.copy()

In [58]:
df_houses_wrangling2.columns

Index(['Link', 'Listed', 'Borough', 'date_listed', 'agency_name',
       'agency_phone', 'chain_free', 'address', 'isRetirementHome',
       'isSharedOwnership', 'listingCondition', 'listingStatus', 'RoomCount',
       'price', 'propertyType', 'isAuction', 'priceHistory', 'floorArea',
       'tenure', 'detailedDescription', 'features', 'furnishedState', 'title',
       'latitude', 'longitude', 'statusSummary', 'floor_area_amount',
       'floor_area_units', 'floor_area_msq', 'numBedrooms', 'numBathrooms',
       'numLivingRooms', 'firstPublished', 'lastSale', 'firstPublishedDate',
       'firstPublishedPrice', 'lastSaleDate', 'lastSaleNewBuild',
       'lastSalePrice', 'sq_m_feat_from_ft', 'sq_m_feat_from_m',
       'sq_m_feat_from_dft', 'sq_m_feat_from_dm'],
      dtype='object')

In [59]:
df_houses_wrangling2 = df_houses_wrangling2.drop(['Link','Listed','agency_phone','RoomCount','priceHistory',
                                                 'floorArea','floor_area_amount','floor_area_units',
                                                  'firstPublished','lastSale','sq_m_feat_from_ft',
                                                  'sq_m_feat_from_m','sq_m_feat_from_dft','sq_m_feat_from_dm'],
                                                axis = 1)
df_houses_wrangling2 = df_houses_wrangling2[df_houses_wrangling2['floor_area_msq'].notnull()].reset_index(drop = True)
df_houses_wrangling2

,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,listingStatus,price,...,statusSummary,floor_area_msq,numBedrooms,numBathrooms,numLivingRooms,firstPublishedDate,firstPublishedPrice,lastSaleDate,lastSaleNewBuild,lastSalePrice
0,Westminster,2021-10-26,SmoothSale,False,"Park West, London W2",False,False,pre-owned,for_sale,400000.0,...,Just added,26.0,1,1,0,2021-10-26T12:49:25,400000.0,2018-02-09,False,310000.0
1,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"Carrington Street, Mayfair W1J",False,False,pre-owned,for_sale,825000.0,...,Just added,41.0,1,1,1,2021-10-26T12:13:41,825000.0,1995-07-07,False,107500.0
2,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"Avery Row, Mayfair W1K",False,False,pre-owned,for_sale,850000.0,...,Just added,48.0,1,1,1,2021-10-26T12:06:47,850000.0,None,None,NaN
3,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"The Westmark, West End Gate, Paddington W2",False,False,pre-owned,for_sale,924050.0,...,Just added,543.0,1,1,1,2021-10-26T12:01:56,924050.0,None,None,NaN
4,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"The Westmark, West End Gate, Paddington W2",False,False,pre-owned,for_sale,930000.0,...,Just added,554.0,1,1,1,2021-10-26T11:49:48,930000.0,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1817,Westminster,2021-04-30,Knight Frank - Hyde Park Sales,False,"Craven Hill Mews, Bayswater, London W2",False,False,pre-owned,for_sale,2600000.0,...,NaN,155.0,4,2,2,2021-04-30 16:10:44,2600000.0,2011-05-13,False,1600000.0
1818,Westminster,2021-04-30,Lord Estates,False,"Blandford Street, London W1U",False,False,pre-owned,for_sale,6500000.0,...,NaN,288.0,4,5,1,2021-04-30 14:57:56,6500000.0,None,None,NaN
1819,Westminster,2021-04-30,Chancellors - St John's Wood,False,"Marylands Road, Maida Vale W9",False,False,pre-owned,for_sale,625000.0,...,NaN,51.0,2,1,1,2021-04-30T12:06:49,685000.0,2013-09-13,False,380000.0
1820,Westminster,2021-04-30,Wilfords London Ltd,False,"Vincent Square, Westminster SW1P",False,False,pre-owned,for_sale,2150000.0,...,NaN,4.0,3,2,1,2021-04-30T09:46:34,2150000.0,2008-01-07,False,965000.0
1821,Westminster,2021-04-30,Knight Frank - Marylebone Sales,False,"Marathon House, London NW1",False,False,pre-owned,for_sale,1200000.0,...,NaN,86.0,2,2,1,2021-04-30T09:35:34,1200000.0,2006-10-24,False,515000.0

In [60]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822 entries, 0 to 1821
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              1822 non-null   object
 1   date_listed          1822 non-null   datetime64[ns]
 2   agency_name          1822 non-null   object
 3   chain_free           1822 non-null   object
 4   address              1822 non-null   object
 5   isRetirementHome     1822 non-null   object
 6   isSharedOwnership    1822 non-null   object
 7   listingCondition     1822 non-null   object
 8   listingStatus        1822 non-null   object
 9   price                1822 non-null   float64
 10  propertyType         1822 non-null   object
 11  isAuction            1822 non-null   object
 12  tenure               1088 non-null   object
 13  detailedDescription  1822 non-null   object
 14  features             1822 non-null   object
 15  furnishedState       203 non-null    object
 16  title                1822 non-null   object
 17  latitude             1822 non-null   float64
 18  longitude            1822 non-null   float64
 19  statusSummary        40 non-null     object
 20  floor_area_msq       1822 non-null   float64
 21  numBedrooms          1822 non-null   int64
 22  numBathrooms         1822 non-null   int64
 23  numLivingRooms       1822 non-null   int64
 24  firstPublishedDate   1793 non-null   object
 25  firstPublishedPrice  1793 non-null   float64
 26  lastSaleDate         506 non-null    object
 27  lastSaleNewBuild     506 non-null    object
 28  lastSalePrice        506 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(19)
memory usage: 412.9+ KB

I will get rid of furnished state and status summary as they do not give much information and almost all records are missing.

In [61]:
df_houses_wrangling2 = df_houses_wrangling2.drop(['furnishedState','statusSummary'],
                                                axis = 1)

In [62]:
df_houses_wrangling2['listingStatus'].value_counts()

for_sale    1822
Name: listingStatus, dtype: int64

Listing status feature also gives very little information and completely useless for the purpose of the study.

In [63]:
df_houses_wrangling2 = df_houses_wrangling2.drop(['listingStatus'],
                                                axis = 1)

In [64]:
df_houses_wrangling2['propertyType'].value_counts()

flat              1500
terraced            90
studio              52
                    41
maisonette          40
mews                26
detached            23
semi_detached       18
town_house          14
end_terrace          9
block_of_flats       6
parking              2
equestrian           1
Name: propertyType, dtype: int64

I will complete the missing values of property type seting them as "Other".

In the future I will have to deal with the fact that there are many different categorical options.

In [65]:
df_houses_wrangling2['propertyType'].fillna(value = 'Other', inplace = True)

In [66]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822 entries, 0 to 1821
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              1822 non-null   object
 1   date_listed          1822 non-null   datetime64[ns]
 2   agency_name          1822 non-null   object
 3   chain_free           1822 non-null   object
 4   address              1822 non-null   object
 5   isRetirementHome     1822 non-null   object
 6   isSharedOwnership    1822 non-null   object
 7   listingCondition     1822 non-null   object
 8   price                1822 non-null   float64
 9   propertyType         1822 non-null   object
 10  isAuction            1822 non-null   object
 11  tenure               1088 non-null   object
 12  detailedDescription  1822 non-null   object
 13  features             1822 non-null   object
 14  title                1822 non-null   object
 15  latitude             1822 non-null   float64
 16  longitude            1822 non-null   float64
 17  floor_area_msq       1822 non-null   float64
 18  numBedrooms          1822 non-null   int64
 19  numBathrooms         1822 non-null   int64
 20  numLivingRooms       1822 non-null   int64
 21  firstPublishedDate   1793 non-null   object
 22  firstPublishedPrice  1793 non-null   float64
 23  lastSaleDate         506 non-null    object
 24  lastSaleNewBuild     506 non-null    object
 25  lastSalePrice        506 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(16)
memory usage: 370.2+ KB

In [67]:
df_houses_wrangling2['tenure'].value_counts()

leasehold            770
share_of_freehold    169
freehold             149
Name: tenure, dtype: int64

I will try now to complete tenure feature missing values using features and description features. This time will be more simple as we just need to find a mention to any of the 4 options.

In [7]:
patterns = [r'(leasehold)',
            r'(lease)',
            r'(freehold)',
            r'(share.of.freehold)',
            r'(feudal)',
            r'(leaseholder)',
            r'(freeholder)',
            r'(commonhold)']

df_houses_wrangling2['tenure_from_feat'] = df_houses_wrangling2['features'].apply(lambda x: None if np.any(pd.isnull(x)) 
                                                                                else extract_feature(" - ".join(x),patterns))
df_houses_wrangling2['tenure_from_desc'] = df_houses_wrangling2['detailedDescription'].apply(lambda x: None 
                                                                                             if np.any(pd.isnull(x)) 
                                                                                else extract_feature(" - ".join(x),patterns))
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1822 entries, 0 to 1821
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              1822 non-null   object
 1   date_listed          1822 non-null   object
 2   agency_name          1822 non-null   object
 3   chain_free           1822 non-null   bool
 4   address              1822 non-null   object
 5   isRetirementHome     1822 non-null   bool
 6   isSharedOwnership    1822 non-null   bool
 7   listingCondition     1822 non-null   object
 8   price                1822 non-null   float64
 9   propertyType         1781 non-null   object
 10  isAuction            1822 non-null   bool
 11  tenure               1088 non-null   object
 12  detailedDescription  1822 non-null   object
 13  features             1822 non-null   object
 14  title                1822 non-null   object
 15  latitude             1822 non-null   float64
 16  longitude            1822 non-null   float64
 17  floor_area_msq       1822 non-null   float64
 18  numBedrooms          1822 non-null   int64
 19  numBathrooms         1822 non-null   int64
 20  numLivingRooms       1822 non-null   int64
 21  firstPublishedDate   1793 non-null   object
 22  firstPublishedPrice  1793 non-null   float64
 23  lastSaleDate         506 non-null    object
 24  lastSaleNewBuild     506 non-null    object
 25  lastSalePrice        506 non-null    float64
 26  tenure_from_feat     0 non-null      object
 27  tenure_from_desc     0 non-null      object
dtypes: bool(4), float64(6), int64(3), object(15)
memory usage: 363.0+ KB

In [8]:
df_houses_wrangling2['tenure'] = df_houses_wrangling2.apply(lambda x: x['tenure_from_feat'] 
                                                                     if pd.isnull(x['tenure'])
                                                                    else x['tenure'], axis = 1)
df_houses_wrangling2['tenure'] = df_houses_wrangling2.apply(lambda x: x['tenure_from_desc'] 
                                                                     if pd.isnull(x['tenure'])
                                                                    else x['tenure'], axis = 1)
df_houses_wrangling2['tenure'].value_counts()

leasehold            770
share_of_freehold    169
freehold             149
Name: tenure, dtype: int64

In [9]:
tenure_map = {'lease':'leasehold','feudal':'Other'}
df_houses_wrangling2['tenure'].replace(tenure_map, inplace = True)
df_houses_wrangling2['tenure'] = df_houses_wrangling2['tenure'].fillna('Other')
df_houses_wrangling2['tenure'].value_counts()

leasehold            770
Other                734
share_of_freehold    169
freehold             149
Name: tenure, dtype: int64

In [10]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1822 entries, 0 to 1821
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              1822 non-null   object
 1   date_listed          1822 non-null   object
 2   agency_name          1822 non-null   object
 3   chain_free           1822 non-null   bool
 4   address              1822 non-null   object
 5   isRetirementHome     1822 non-null   bool
 6   isSharedOwnership    1822 non-null   bool
 7   listingCondition     1822 non-null   object
 8   price                1822 non-null   float64
 9   propertyType         1781 non-null   object
 10  isAuction            1822 non-null   bool
 11  tenure               1822 non-null   object
 12  detailedDescription  1822 non-null   object
 13  features             1822 non-null   object
 14  title                1822 non-null   object
 15  latitude             1822 non-null   float64
 16  longitude            1822 non-null   float64
 17  floor_area_msq       1822 non-null   float64
 18  numBedrooms          1822 non-null   int64
 19  numBathrooms         1822 non-null   int64
 20  numLivingRooms       1822 non-null   int64
 21  firstPublishedDate   1793 non-null   object
 22  firstPublishedPrice  1793 non-null   float64
 23  lastSaleDate         506 non-null    object
 24  lastSaleNewBuild     506 non-null    object
 25  lastSalePrice        506 non-null    float64
 26  tenure_from_feat     0 non-null      object
 27  tenure_from_desc     0 non-null      object
dtypes: bool(4), float64(6), int64(3), object(15)
memory usage: 363.0+ KB

In [11]:
patterns = [r'(terrace)',
            r'(balcony)',
            r'(roof.deck)']

df_houses_wrangling2['balcony_terrace'] = df_houses_wrangling2['features'].apply(lambda x: False if pd.isnull(x) 
                                                            else (True if pd.notnull(extract_feature(x,patterns)) 
                                                            else False))
df_houses_wrangling2['balcony_terrace'] = df_houses_wrangling2.apply(lambda x: False 
                                                if pd.isnull(x['detailedDescription']) 
                                                else (True if x['balcony_terrace'] == True 
                                                else (True 
                                                if pd.notnull(extract_feature(x['detailedDescription'],patterns)) 
                                                else False)), 
                                                axis = 1)
df_houses_wrangling2['balcony_terrace'].value_counts()

False    1036
True      786
Name: balcony_terrace, dtype: int64

In [12]:
patterns = [r'(car.park)',
            r'(carpark)',
            r'(parking)']

df_houses_wrangling2['parking'] = df_houses_wrangling2['features'].apply(lambda x: False if pd.isnull(x) 
                                                            else (True if pd.notnull(extract_feature(x,patterns)) 
                                                            else False))
df_houses_wrangling2['parking'] = df_houses_wrangling2.apply(lambda x: False 
                                                if pd.isnull(x['detailedDescription']) 
                                                else (True if x['parking'] == True 
                                                else (True 
                                                if pd.notnull(extract_feature(x['detailedDescription'],patterns)) 
                                                else False)), 
                                                axis = 1)
df_houses_wrangling2['parking'].value_counts()

False    1301
True      521
Name: parking, dtype: int64

In [13]:
patterns = [r'(garden)',
            r'(backyard)',
           r'(back.yard)',
           r'(patio)']

df_houses_wrangling2['garden'] = df_houses_wrangling2['features'].apply(lambda x: False if pd.isnull(x) 
                                                            else (True if pd.notnull(extract_feature(x,patterns)) 
                                                            else False))
df_houses_wrangling2['garden'] = df_houses_wrangling2.apply(lambda x: False 
                                                if pd.isnull(x['detailedDescription']) 
                                                else (True if x['garden'] == True 
                                                else (True 
                                                if pd.notnull(extract_feature(x['detailedDescription'],patterns)) 
                                                else False)), 
                                                axis = 1)
df_houses_wrangling2['garden'].value_counts()

False    966
True     856
Name: garden, dtype: int64

In [14]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1822 entries, 0 to 1821
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              1822 non-null   object
 1   date_listed          1822 non-null   object
 2   agency_name          1822 non-null   object
 3   chain_free           1822 non-null   bool
 4   address              1822 non-null   object
 5   isRetirementHome     1822 non-null   bool
 6   isSharedOwnership    1822 non-null   bool
 7   listingCondition     1822 non-null   object
 8   price                1822 non-null   float64
 9   propertyType         1781 non-null   object
 10  isAuction            1822 non-null   bool
 11  tenure               1822 non-null   object
 12  detailedDescription  1822 non-null   object
 13  features             1822 non-null   object
 14  title                1822 non-null   object
 15  latitude             1822 non-null   float64
 16  longitude            1822 non-null   float64
 17  floor_area_msq       1822 non-null   float64
 18  numBedrooms          1822 non-null   int64
 19  numBathrooms         1822 non-null   int64
 20  numLivingRooms       1822 non-null   int64
 21  firstPublishedDate   1793 non-null   object
 22  firstPublishedPrice  1793 non-null   float64
 23  lastSaleDate         506 non-null    object
 24  lastSaleNewBuild     506 non-null    object
 25  lastSalePrice        506 non-null    float64
 26  tenure_from_feat     0 non-null      object
 27  tenure_from_desc     0 non-null      object
 28  balcony_terrace      1822 non-null   bool
 29  parking              1822 non-null   bool
 30  garden               1822 non-null   bool
dtypes: bool(7), float64(6), int64(3), object(15)
memory usage: 368.3+ KB

First published date shows a small amount of missing values. I will fill them using its value in date_listed, basically asuming that the house is the first time published. I will do the same for price.

First I need to convert the feature in datetime of the same format as date_listed.

In [15]:
df_houses_wrangling2['firstPublishedDate'] = df_houses_wrangling2['firstPublishedDate'].apply(lambda x: None 
                                                                                              if pd.isnull(x)
                                                                                             else x.split(' ')[0])
df_houses_wrangling2['firstPublishedDate']

0       2021-10-26T12:49:25
1       2021-10-26T12:13:41
2       2021-10-26T12:06:47
3       2021-10-26T12:01:56
4       2021-10-26T11:49:48
               ...
1817             2021-04-30
1818             2021-04-30
1819    2021-04-30T12:06:49
1820    2021-04-30T09:46:34
1821    2021-04-30T09:35:34
Name: firstPublishedDate, Length: 1822, dtype: object

In [16]:
df_houses_wrangling2['firstPublishedDate'] = df_houses_wrangling2['firstPublishedDate'].fillna(df_houses_wrangling2['date_listed'])

In [17]:
df_houses_wrangling2['firstPublishedPrice'] = df_houses_wrangling2['firstPublishedPrice'].fillna(df_houses_wrangling2['price'])

In [20]:
df_houses_wrangling2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1822 entries, 0 to 1821
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Borough              1822 non-null   object
 1   date_listed          1822 non-null   object
 2   agency_name          1822 non-null   object
 3   chain_free           1822 non-null   bool
 4   address              1822 non-null   object
 5   isRetirementHome     1822 non-null   bool
 6   isSharedOwnership    1822 non-null   bool
 7   listingCondition     1822 non-null   object
 8   price                1822 non-null   float64
 9   propertyType         1781 non-null   object
 10  isAuction            1822 non-null   bool
 11  tenure               1822 non-null   object
 12  title                1822 non-null   object
 13  latitude             1822 non-null   float64
 14  longitude            1822 non-null   float64
 15  floor_area_msq       1822 non-null   float64
 16  numBedrooms          1822 non-null   int64
 17  numBathrooms         1822 non-null   int64
 18  numLivingRooms       1822 non-null   int64
 19  firstPublishedDate   1822 non-null   object
 20  firstPublishedPrice  1822 non-null   float64
 21  balcony_terrace      1822 non-null   bool
 22  parking              1822 non-null   bool
 23  garden               1822 non-null   bool
dtypes: bool(7), float64(5), int64(3), object(9)
memory usage: 268.7+ KB

Now I will drop the used features and also last sale, as it shows too many missing values and also it provides very little information.

In [19]:
df_houses_wrangling2.drop(['detailedDescription','features','lastSaleDate','lastSaleNewBuild',
                           'lastSalePrice','tenure_from_feat','tenure_from_desc'],
                         inplace = True,
                         axis = 1)
df_houses_wrangling2

,Borough,date_listed,agency_name,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,price,propertyType,...,longitude,floor_area_msq,numBedrooms,numBathrooms,numLivingRooms,firstPublishedDate,firstPublishedPrice,balcony_terrace,parking,garden
0,Westminster,2021-10-26,SmoothSale,False,"Park West, London W2",False,False,pre-owned,400000.0,flat,...,-0.164999,26.0,1,1,0,2021-10-26T12:49:25,400000.0,False,False,False
1,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"Carrington Street, Mayfair W1J",False,False,pre-owned,825000.0,flat,...,-0.146775,41.0,1,1,1,2021-10-26T12:13:41,825000.0,False,False,False
2,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"Avery Row, Mayfair W1K",False,False,pre-owned,850000.0,flat,...,-0.145757,48.0,1,1,1,2021-10-26T12:06:47,850000.0,False,False,False
3,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"The Westmark, West End Gate, Paddington W2",False,False,pre-owned,924050.0,flat,...,-0.173794,543.0,1,1,1,2021-10-26T12:01:56,924050.0,True,False,True
4,Westminster,2021-10-26,Benham and Reeves - Kensington,False,"The Westmark, West End Gate, Paddington W2",False,False,pre-owned,930000.0,flat,...,-0.173794,554.0,1,1,1,2021-10-26T11:49:48,930000.0,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1817,Westminster,2021-04-30,Knight Frank - Hyde Park Sales,False,"Craven Hill Mews, Bayswater, London W2",False,False,pre-owned,2600000.0,terraced,...,-0.181232,155.0,4,2,2,2021-04-30,2600000.0,True,False,False
1818,Westminster,2021-04-30,Lord Estates,False,"Blandford Street, London W1U",False,False,pre-owned,6500000.0,flat,...,-0.156816,288.0,4,5,1,2021-04-30,6500000.0,True,True,False
1819,Westminster,2021-04-30,Chancellors - St John's Wood,False,"Marylands Road, Maida Vale W9",False,False,pre-owned,625000.0,flat,...,-0.193717,51.0,2,1,1,2021-04-30T12:06:49,685000.0,False,False,False
1820,Westminster,2021-04-30,Wilfords London Ltd,False,"Vincent Square, Westminster SW1P",False,False,pre-owned,2150000.0,flat,...,-0.136655,4.0,3,2,1,2021-04-30T09:46:34,2150000.0,True,True,False
1821,Westminster,2021-04-30,Knight Frank - Marylebone Sales,False,"Marathon House, London NW1",False,False,pre-owned,1200000.0,flat,...,-0.160800,86.0,2,2,1,2021-04-30T09:35:34,1200000.0,False,True,False

In [21]:
engine = create_engine('mysql+mysqldb://root:d12d12@127.0.0.1/zoopla_houses', echo=False)

In [22]:
df_houses_wrangling2.to_sql('zoopla_houses_westminster', con=engine)