In [178]:
import requests
from bs4 import BeautifulSoup as soup
import numpy as np
import pandas as pd
import math
import json
import time
from datetime import datetime, date, timedelta

In [3]:
# Function to get the number of pages of an specific borough
def number_of_search_pages(url):
    page = requests.get(url)
    if page.status_code != 200:
        print('Url provided not valid')
    else:
        bsobj = soup(page.content, 'html5lib')
        pages_html = bsobj.find('p',{'data-testid':'total-results'})
        pages = pages_html.get_text().split()
        house_num = int(pages[0])
        pages = math.ceil(int(pages[0])/25)
        return pd.Series((pages, house_num))

In [77]:
# Function to build the url for each borough
def get_borough_url(link1,link2):
    url = 'https://www.zoopla.co.uk/for-sale/property/' + link1 + '/?page_size=25&q='\
    + link2 + '&radius=0&results_sort=newest_listings&pn=1'
    return url

In [80]:
# Function to scrape links and other details from main search page of each house
def get_main_house_details(url_initial, pages, house_num):
    url_initial = url_initial[:-1]
    link = []
    listed = []
    for i in range(1,pages+1):
        url = url_initial + str(i)
        page = requests.get(url)
        bsobj = soup(page.content, 'html5lib')
        for j in bsobj.findAll('a',{'data-testid':'listing-details-link'}, href=True):
            link.append(j.get('href'))
        for j in bsobj.findAll('span',{'data-testid':'date-published'}):
            listed.append(j.text)
        print('Request {0} of {1}'.format(i,pages))
        time.sleep(1)
    return link, listed

In [173]:
def get_house_inner_details(link,listed,borough):
    borough = []
    agency_name = []
    agency_phone = []
    chain_free = []
    address = []
    isRetirementHome = []
    isSharedOwnership = []
    listingCondition = []
    listingStatus = []
    RoomCount = []
    price = []
    propertyType = []
    floorArea = []
    tenure = []
    detailedDescription = []
    features = []
    furnishedState = []
    title = []
    latitude = []
    longitude = []
    statusSummary = []
    isAuction = []
    priceHistory = []
    columns = ['agency_name','agency_phone','chain_free','address','isRetirementHome','isSharedOwnership',
              'listingCondition','listingStatus','RoomCount','price','propertyType','isAuction','priceHistory',
              'floorArea','tenure','detailedDescription','features','furnishedState','title','latitude',
              'longitude','statusSummary']
    for index, value in enumerate(link):
        url = 'https://www.zoopla.co.uk' + value
        page = requests.get(url)
        bsobj = soup(page.content, 'html5lib')
        main_json = bsobj.find('script',{'id':'__NEXT_DATA__'})
        parsed_json = json.loads(main_json.text)
        borough.append(borough)
        try:
            agency_name.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                           ['branch']['name'])
        except TypeError:
            agency_name.append(np.nan)
        except KeyError:
            agency_name.append(np.nan)
        try:
            agency_phone.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                            ['branch']['phone'])
        except TypeError:
            agency_phone.append(np.nan)
        except KeyError:
            agency_phone.append(np.nan)
        try:
            chain_free.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                          ['adTargeting']['chainFree'])
        except TypeError:
            chain_free.append(np.nan)
        except KeyError:
            chain_free.append(np.nan)
        try:
            address.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                       ['adTargeting']['displayAddress'])
        except TypeError:
            address.append(np.nan)
        except KeyError:
            address.append(np.nan)
        try:
            isRetirementHome.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                                ['adTargeting']['isRetirementHome'])
        except TypeError:
            isRetirementHome.append(np.nan)
        except KeyError:
            isRetirementHome.append(np.nan)
        try:
            isSharedOwnership.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                                 ['adTargeting']['isSharedOwnership'])
        except TypeError:
            isSharedOwnership.append(np.nan)
        except KeyError:
            isSharedOwnership.append(np.nan)
        try:
            listingCondition.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                                ['adTargeting']['listingCondition'])
        except TypeError:
            listingCondition.append(np.nan)
        except KeyError:
            listingCondition.append(np.nan)
        try:
            listingStatus.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                             ['adTargeting']['listingStatus'])
        except TypeError:
            listingStatus.append(np.nan)
        except KeyError:
            listingStatus.append(np.nan)
        try:
            RoomCount.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                        ['counts'])
        except TypeError:
            RoomCount.append(np.nan)
        except KeyError:
            RoomCount.append(np.nan)
        try:
            price.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                     ['adTargeting']['price'])
        except TypeError:
            price.append(np.nan)
        except KeyError:
            price.append(np.nan)
        try:
            propertyType.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                            ['adTargeting']['propertyType'])
        except TypeError:
            propertyType.append(np.nan)
        except KeyError:
            propertyType.append(np.nan)
        try:
            floorArea.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                          ['floorArea'])
        except TypeError:
            floorArea.append(np.nan)
        except KeyError:
            floorArea.append(np.nan)
        try:
            tenure.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                      ['adTargeting']['tenure'])
        except TypeError:
            tenure.append(np.nan)
        except KeyError:
            tenure.append(np.nan)
        try:
            detailedDescription.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                                   ['detailedDescription'])
        except TypeError:
            detailedDescription.append(np.nan)
        except KeyError:
            detailedDescription.append(np.nan)
        try:
            features.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                        ['features']['bullets'])
        except TypeError:
            features.append(np.nan)
        except KeyError:
            features.append(np.nan)
        try:
            furnishedState.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                              ['features']['flags']['furnishedState'])
        except TypeError:
            furnishedState.append(np.nan)
        except KeyError:
            furnishedState.append(np.nan)
        try:
            title.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                         ['title'])
        except TypeError:
            title.append(np.nan)
        except KeyError:
            title.append(np.nan)
        try:
            latitude.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                        ['location']['coordinates']['latitude'])
        except TypeError:
            latitude.append(np.nan)
        except KeyError:
            latitude.append(np.nan)
        try:
            longitude.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                         ['location']['coordinates']['longitude'])
        except TypeError:
            longitude.append(np.nan)
        except KeyError:
            longitude.append(np.nan)
        try:
            statusSummary.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                             ['statusSummary']['label'])
        except TypeError:
            statusSummary.append(np.nan)
        except KeyError:
            statusSummary.append(np.nan)
        try:
            isAuction.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                         ['pricing']['isAuction'])
        except TypeError:
            isAuction.append(np.nan)
        except KeyError:
            isAuction.append(np.nan)
        try:
            priceHistory.append(parsed_json['props']['initialProps']['pageProps']['data']['listing']\
                            ['priceHistory'])
        except TypeError:
            priceHistory.append(np.nan)
        except KeyError:
            priceHistory.append(np.nan)
        print('Request {0} of {1}'.format(index,len(link)-1))
        time.sleep(1)
    df_result = pd.DataFrame({'agency_name':agency_name,'agency_phone':agency_phone,
                              'chain_free':chain_free,'address':address,'isRetirementHome':isRetirementHome,
                              'isSharedOwnership':isSharedOwnership,'listingCondition':listingCondition,
                              'listingStatus':listingStatus,'RoomCount':RoomCount,'price':price,
                              'propertyType':propertyType,'isAuction':isAuction,'priceHistory':priceHistory,
                              'floorArea':floorArea,'tenure':tenure,'detailedDescription':detailedDescription,
                              'features':features,'furnishedState':furnishedState,'title':title,
                              'latitude':latitude,'longitude':longitude,'statusSummary':statusSummary},
                            columns = columns)
    return df_result

In [140]:
def data_wrangle(data):
    data['floorArea'].fillna(value = np.nan, inplace = True)
    data['floor_area_amount'] = data['floorArea'].apply(lambda x: x['value'] if type(x) == dict else np.nan)
    data['floor_area_units'] = data['floorArea'].apply(lambda x: x['unitsLabel'] if type(x) == dict else np.nan)
    data['floor_area_msq'] = data.apply(lambda x: (round(x['floor_area_amount']/10.7639))\
                                        if (x['floor_area_units'] == 'sq. ft') else x['floor_area_amount'],
                                        axis = 1)
    data['numBedrooms'] = data['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(x['numBedrooms']) else x['numBedrooms'])
    data['numBathrooms'] = data['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(x['numBathrooms']) else x['numBathrooms'])
    data['numLivingRooms'] = data['RoomCount'].apply(lambda x: 0\
                                                  if pd.isnull(x['numLivingRooms']) else x['numLivingRooms'])
    data['firstPublished'] = data['priceHistory'].apply(lambda x: None if pd.isnull(x) else x['firstPublished'])
    data['lastSale'] = data['priceHistory'].apply(lambda x: None if pd.isnull(x) else x['lastSale'])
    data['firstPublishedDate'] = data['firstPublished'].apply(lambda x: None if pd.isnull(x)\
                                                              else x['firstPublishedDate'])
    data['firstPublishedPrice'] = data['firstPublished'].apply(lambda x: None if pd.isnull(x)\
                                                              else x['priceLabel'])
    data['lastSaleDate'] = data['lastSale'].apply(lambda x: None if pd.isnull(x) else x['date'])
    data['lastSaleNewBuild'] = data['lastSale'].apply(lambda x: None if pd.isnull(x) else x['newBuild'])
    data['lastSalePrice'] = data['lastSale'].apply(lambda x: None if pd.isnull(x) else x['price'])
    data['firstPublishedPrice'] = data['firstPublishedPrice'].apply(lambda x:None if pd.isnull(x)\
                                                                    else int(x.replace(',','').split('Â£')[-1]))
    return data

In [ ]:
def extract_size(feature_series):
    result = []
    for values in enumerate(feature_series):
        result.append(values)

In [92]:
# List of London Boroughs
london_borough = ['Camden','Greenwich','Hackney','Hammersmith','Islington','Kensington and Chelsea',
                 'Lambeth','Lewisham','Southwark','Tower Hamlets','Wandsworth','Westminster','Barking',
                 'Barnet','Bexley','Brent','Bromley','Croydon','Ealing','Enfield','Haringey','Harrow',
                 'Havering','Hillingdon','Hounslow','Kingston upon Thames','Merton','Newham','Redbridge',
                 'Richmond upon Thames','Sutton','Waltham Forest']
london_brough_links_1 = ['camden-london-borough','greenwich-royal-borough','hackney-london-borough',
                         'hammersmith-and-fulham-london-borough',
                        'islington-london-borough','kensington-and-chelsea-royal-borough','lambeth-london-borough',
                         'lewisham-london-borough','southwark-london-borough','tower-hamlets-london-borough',
                        'wandsworth-london-borough','westminster-london-borough',
                         'barking-and-dagenham-london-borough','barnet-london-borough','bexley-london-borough',
                        'brent-london-borough','bromley-london-borough','croydon-london-borough',
                        'ealing-london-borough','enfield-london-borough','haringey-london-borough',
                         'harrow-london-borough','havering-london-borough','hillingdon-london-borough',
                        'hounslow-london-borough','kingston-upon-thames-royal-borough','merton-london-borough',
                         'newham-london-borough','redbridge-london-borough','richmond-upon-thames-london-borough',
                        'sutton-london-borough','waltham-forest-london-borough']
london_brough_links_2 = ['Camden (London Borough)','Greenwich (Royal Borough)%2C London',
                         'Hackney (London Borough)%2C London','Hammersmith and Fulham (London Borough)%2C London',
                        'Islington (London Borough)%2C London','Kensington and Chelsea (Royal Borough)%2C London',
                         'Lambeth (London Borough)%2C London',
                         'Lewisham (London Borough)%2C London','Southwark (London Borough)%2C London',
                         'Tower Hamlets (London Borough)%2C London','Wandsworth (London Borough)%2C London',
                        'Westminster (London Borough)%2C London','Barking and Dagenham (London Borough)%2C London',
                        'Barnet (London Borough)%2C London','Bexley (London Borough)%2C London',
                         'Brent (London Borough)%2C London','Bromley (London Borough)%2C London',
                         'Croydon (London Borough)%2C London','Ealing (London Borough)%2C London',
                        'Enfield (London Borough)%2C London','Haringey (London Borough)%2C London',
                         'Harrow (London Borough)%2C London','havering-london-borough',
                         'Hillingdon (London Borough)%2C London',
                        'Hounslow (London Borough)%2C London','Kingston upon Thames (Royal Borough)%2C London',
                        'Merton (London Borough)%2C London','Newham (London Borough)%2C London',
                        'Redbridge (London Borough)%2C London','Richmond upon Thames (London Borough)%2C London',
                        'Sutton (London Borough)%2C London','Waltham Forest (London Borough)%2C London']
df_dict = {'borough_name':london_borough,'london_brough_links_1':london_brough_links_1,
           'london_brough_links_2':london_brough_links_2}

In [93]:
df_boroughs = pd.DataFrame(df_dict)
df_boroughs['borough_url'] = df_boroughs.apply(lambda x: get_borough_url(x['london_brough_links_1']\
                                                                         ,x['london_brough_links_2']), 
                                               axis = 1)
df_boroughs[['pages','house_num']] = df_boroughs['borough_url'].apply(lambda x: number_of_search_pages(x))
df_boroughs

,borough_name,london_brough_links_1,london_brough_links_2,borough_url,pages,house_num
0,Camden,camden-london-borough,Camden (London Borough),https://www.zoopla.co.uk/for-sale/property/cam...,115,2855
1,Greenwich,greenwich-royal-borough,Greenwich (Royal Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/gre...,68,1679
2,Hackney,hackney-london-borough,Hackney (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/hac...,77,1911
3,Hammersmith,hammersmith-and-fulham-london-borough,Hammersmith and Fulham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/ham...,90,2238
4,Islington,islington-london-borough,Islington (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/isl...,105,2616
5,Kensington and Chelsea,kensington-and-chelsea-royal-borough,Kensington and Chelsea (Royal Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/ken...,157,3907
6,Lambeth,lambeth-london-borough,Lambeth (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/lam...,135,3360
7,Lewisham,lewisham-london-borough,Lewisham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/lew...,81,2001
8,Southwark,southwark-london-borough,Southwark (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/sou...,105,2610
9,Tower Hamlets,tower-hamlets-london-borough,Tower Hamlets (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/tow...,167,4172
10,Wandsworth,wandsworth-london-borough,Wandsworth (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wan...,177,4425
11,Westminster,westminster-london-borough,Westminster (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wes...,229,5710
12,Barking,barking-and-dagenham-london-borough,Barking and Dagenham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bar...,16,399
13,Barnet,barnet-london-borough,Barnet (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bar...,142,3532
14,Bexley,bexley-london-borough,Bexley (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bex...,27,654
15,Brent,brent-london-borough,Brent (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bre...,125,3120
16,Bromley,bromley-london-borough,Bromley (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/bro...,55,1355
17,Croydon,croydon-london-borough,Croydon (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/cro...,107,2652
18,Ealing,ealing-london-borough,Ealing (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/eal...,123,3068
19,Enfield,enfield-london-borough,Enfield (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/enf...,54,1335
20,Haringey,haringey-london-borough,Haringey (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/har...,56,1398
21,Harrow,harrow-london-borough,Harrow (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/har...,61,1505
22,Havering,havering-london-borough,havering-london-borough,https://www.zoopla.co.uk/for-sale/property/hav...,39,970
23,Hillingdon,hillingdon-london-borough,Hillingdon (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/hil...,70,1745
24,Hounslow,hounslow-london-borough,Hounslow (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/hou...,78,1928
25,Kingston upon Thames,kingston-upon-thames-royal-borough,Kingston upon Thames (Royal Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/kin...,52,1281
26,Merton,merton-london-borough,Merton (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/mer...,60,1476
27,Newham,newham-london-borough,Newham (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/new...,72,1786
28,Redbridge,redbridge-london-borough,Redbridge (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/red...,47,1167
29,Richmond upon Thames,richmond-upon-thames-london-borough,Richmond upon Thames (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/ric...,73,1819
30,Sutton,sutton-london-borough,Sutton (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/sut...,32,780
31,Waltham Forest,waltham-forest-london-borough,Waltham Forest (London Borough)%2C London,https://www.zoopla.co.uk/for-sale/property/wal...,41,1002

In [ ]:
for i in range(0,df_boroughs.shape[0]):
    data_link, data_listed = get_main_house_details(df_boroughs['borough_url'][i],df_boroughs['pages'][i],
                                                    df_boroughs['house_num'][i])
    print(len(data_link))
    if i == 0:
        df_houses = pd.DataFrame({'Link':data_link,'Listed':data_listed},
                     columns = ['Link','Listed'])
        df_houses['Borough'] = df_boroughs['borough_name'][i]
    else:
        df_houses_temp = pd.DataFrame({'Link':data_link,'Listed':data_listed},
                     columns = ['Link','Listed'])
        df_houses_temp['Borough'] = df_boroughs['borough_name'][i]
        df_houses = df_houses.append(df_houses_temp)

df_houses['date_listed'] = df_houses['Listed'].apply(lambda x: datetime.strptime(x.split(' ')[-3][:-2]\
                                                                                 + '-' + x.split(' ')[-2]\
                                                                                 + '-' + x.split(' ')[-1],
                                                                                 '%d-%b-%Y'))
df_houses_to_get = df_houses[df_houses['date_listed'] > pd.to_datetime(date.today() - timedelta(days=180))]        
df_houses_details = get_house_inner_details(df_houses_to_get['Link'],
                                            df_houses_to_get['date_listed'],
                                            df_houses_to_get['Borough'])
df_houses_result = df_houses.join(df_houses_details)

Request 1 of 115
Request 2 of 115
Request 3 of 115
Request 4 of 115
Request 5 of 115
Request 6 of 115
Request 7 of 115
Request 8 of 115
Request 9 of 115
Request 10 of 115
Request 11 of 115
Request 12 of 115
Request 13 of 115
Request 14 of 115
Request 15 of 115
Request 16 of 115
Request 17 of 115
Request 18 of 115
Request 19 of 115
Request 20 of 115
Request 21 of 115
Request 22 of 115
Request 23 of 115
Request 24 of 115
Request 25 of 115
Request 26 of 115
Request 27 of 115
Request 28 of 115
Request 29 of 115
Request 30 of 115
Request 31 of 115
Request 32 of 115
Request 33 of 115
Request 34 of 115
Request 35 of 115
Request 36 of 115
Request 37 of 115
Request 38 of 115
Request 39 of 115
Request 40 of 115
Request 41 of 115
Request 42 of 115
Request 43 of 115
Request 44 of 115
Request 45 of 115
Request 46 of 115
Request 47 of 115
Request 48 of 115
Request 49 of 115
Request 50 of 115
Request 51 of 115
Request 52 of 115
Request 53 of 115
Request 54 of 115
Request 55 of 115
Request 56 of 115
Request 57 of 115
Request 58 of 115
Request 59 of 115
Request 60 of 115
Request 61 of 115
Request 62 of 115
Request 63 of 115
Request 64 of 115
Request 65 of 115
Request 66 of 115
Request 67 of 115
Request 68 of 115
Request 69 of 115
Request 70 of 115
Request 71 of 115
Request 72 of 115
Request 73 of 115
Request 74 of 115
Request 75 of 115
Request 76 of 115
Request 77 of 115
Request 78 of 115
Request 79 of 115
Request 80 of 115
Request 81 of 115
Request 82 of 115
Request 83 of 115
Request 84 of 115
Request 85 of 115
Request 86 of 115
Request 87 of 115
Request 88 of 115
Request 89 of 115
Request 90 of 115
Request 91 of 115
Request 92 of 115
Request 93 of 115
Request 94 of 115
Request 95 of 115
Request 96 of 115
Request 97 of 115
Request 98 of 115
Request 99 of 115
Request 100 of 115
Request 101 of 115
Request 102 of 115
Request 103 of 115
Request 104 of 115
Request 105 of 115
Request 106 of 115
Request 107 of 115
Request 108 of 115
Request 109 of 115
Request 110 of 115
Request 111 of 115
Request 112 of 115
Request 113 of 115
Request 114 of 115
Request 115 of 115
2859
Request 1 of 68
Request 2 of 68
Request 3 of 68
Request 4 of 68
Request 5 of 68
Request 6 of 68
Request 7 of 68
Request 8 of 68
Request 9 of 68
Request 10 of 68
Request 11 of 68
Request 12 of 68
Request 13 of 68
Request 14 of 68
Request 15 of 68
Request 16 of 68
Request 17 of 68
Request 18 of 68
Request 19 of 68
Request 20 of 68
Request 21 of 68
Request 22 of 68
Request 23 of 68
Request 24 of 68
Request 25 of 68
Request 26 of 68
Request 27 of 68
Request 28 of 68
Request 29 of 68
Request 30 of 68
Request 31 of 68
Request 32 of 68
Request 33 of 68
Request 34 of 68
Request 35 of 68
Request 36 of 68
Request 37 of 68
Request 38 of 68
Request 39 of 68
Request 40 of 68
Request 41 of 68
Request 42 of 68
Request 43 of 68
Request 44 of 68
Request 45 of 68
Request 46 of 68
Request 47 of 68
Request 48 of 68
Request 49 of 68
Request 50 of 68
Request 51 of 68
Request 52 of 68
Request 53 of 68
Request 54 of 68
Request 55 of 68
Request 56 of 68
Request 57 of 68
Request 58 of 68
Request 59 of 68
Request 60 of 68
Request 61 of 68
Request 62 of 68
Request 63 of 68
Request 64 of 68
Request 65 of 68
Request 66 of 68
Request 67 of 68
Request 68 of 68
1667
Request 1 of 77
Request 2 of 77
Request 3 of 77
Request 4 of 77
Request 5 of 77
Request 6 of 77
Request 7 of 77
Request 8 of 77
Request 9 of 77
Request 10 of 77
Request 11 of 77
Request 12 of 77
Request 13 of 77
Request 14 of 77
Request 15 of 77
Request 16 of 77
Request 17 of 77
Request 18 of 77
Request 19 of 77
Request 20 of 77
Request 21 of 77
Request 22 of 77
Request 23 of 77
Request 24 of 77
Request 25 of 77
Request 26 of 77
Request 27 of 77
Request 28 of 77
Request 29 of 77
Request 30 of 77
Request 31 of 77
Request 32 of 77
Request 33 of 77
Request 34 of 77
Request 35 of 77
Request 36 of 77
Request 37 of 77
Request 38 of 77
Request 39 of 77
Request 40 of 77
Request 41 of 77
Request 42 of 77
Request 43 of 77
Request 44 of 77
Request 45 of 77
Request 46 of 77
Request 47 of 77
Request 48 of 77
Request 49 of 77
Request 50 of 77
Request 51 of 77
Request 52 of 77
Request 53 of 77
Request 54 of 77
Request 55 of 77
Request 56 of 77
Request 57 of 77
Request 58 of 77
Request 59 of 77
Request 60 of 77
Request 61 of 77
Request 62 of 77
Request 63 of 77
Request 64 of 77
Request 65 of 77
Request 66 of 77
Request 67 of 77
Request 68 of 77
Request 69 of 77
Request 70 of 77
Request 71 of 77
Request 72 of 77
Request 73 of 77
Request 74 of 77
Request 75 of 77
Request 76 of 77
Request 77 of 77
1917
Request 1 of 90
Request 2 of 90
Request 3 of 90
Request 4 of 90
Request 5 of 90
Request 6 of 90
Request 7 of 90
Request 8 of 90
Request 9 of 90
Request 10 of 90
Request 11 of 90
Request 12 of 90
Request 13 of 90
Request 14 of 90
Request 15 of 90
Request 16 of 90
Request 17 of 90
Request 18 of 90
Request 19 of 90
Request 20 of 90
Request 21 of 90
Request 22 of 90
Request 23 of 90
Request 24 of 90
Request 25 of 90
Request 26 of 90
Request 27 of 90
Request 28 of 90
Request 29 of 90
Request 30 of 90
Request 31 of 90
Request 32 of 90
Request 33 of 90
Request 34 of 90
Request 35 of 90
Request 36 of 90
Request 37 of 90
Request 38 of 90
Request 39 of 90
Request 40 of 90
Request 41 of 90
Request 42 of 90
Request 43 of 90
Request 44 of 90
Request 45 of 90
Request 46 of 90
Request 47 of 90
Request 48 of 90
Request 49 of 90
Request 50 of 90
Request 51 of 90
Request 52 of 90
Request 53 of 90
Request 54 of 90
Request 55 of 90
Request 56 of 90
Request 57 of 90
Request 58 of 90
Request 59 of 90
Request 60 of 90
Request 61 of 90
Request 62 of 90
Request 63 of 90
Request 64 of 90
Request 65 of 90
Request 66 of 90
Request 67 of 90
Request 68 of 90
Request 69 of 90
Request 70 of 90
Request 71 of 90
Request 72 of 90
Request 73 of 90
Request 74 of 90
Request 75 of 90
Request 76 of 90
Request 77 of 90
Request 78 of 90
Request 79 of 90
Request 80 of 90
Request 81 of 90
Request 82 of 90
Request 83 of 90
Request 84 of 90
Request 85 of 90
Request 86 of 90
Request 87 of 90
Request 88 of 90
Request 89 of 90
Request 90 of 90
2239
Request 1 of 105
Request 2 of 105
Request 3 of 105
Request 4 of 105
Request 5 of 105
Request 6 of 105
Request 7 of 105
Request 8 of 105
Request 9 of 105
Request 10 of 105
Request 11 of 105
Request 12 of 105
Request 13 of 105
Request 14 of 105
Request 15 of 105
Request 16 of 105
Request 17 of 105
Request 18 of 105
Request 19 of 105
Request 20 of 105
Request 21 of 105
Request 22 of 105
Request 23 of 105
Request 24 of 105
Request 25 of 105
Request 26 of 105
Request 27 of 105
Request 28 of 105
Request 29 of 105
Request 30 of 105
Request 31 of 105
Request 32 of 105
Request 33 of 105
Request 34 of 105
Request 35 of 105
Request 36 of 105
Request 37 of 105
Request 38 of 105
Request 39 of 105
Request 40 of 105
Request 41 of 105
Request 42 of 105
Request 43 of 105
Request 44 of 105
Request 45 of 105
Request 46 of 105
Request 47 of 105
Request 48 of 105
Request 49 of 105
Request 50 of 105
Request 51 of 105
Request 52 of 105
Request 53 of 105
Request 54 of 105
Request 55 of 105
Request 56 of 105
Request 57 of 105
Request 58 of 105
Request 59 of 105
Request 60 of 105
Request 61 of 105
Request 62 of 105
Request 63 of 105
Request 64 of 105
Request 65 of 105
Request 66 of 105
Request 67 of 105
Request 68 of 105
Request 69 of 105
Request 70 of 105
Request 71 of 105
Request 72 of 105
Request 73 of 105
Request 74 of 105
Request 75 of 105
Request 76 of 105
Request 77 of 105
Request 78 of 105
Request 79 of 105
Request 80 of 105
Request 81 of 105
Request 82 of 105
Request 83 of 105
Request 84 of 105
Request 85 of 105
Request 86 of 105
Request 87 of 105
Request 88 of 105
Request 89 of 105
Request 90 of 105
Request 91 of 105
Request 92 of 105
Request 93 of 105
Request 94 of 105
Request 95 of 105
Request 96 of 105
Request 97 of 105
Request 98 of 105
Request 99 of 105
Request 100 of 105
Request 101 of 105
Request 102 of 105
Request 103 of 105
Request 104 of 105
Request 105 of 105
2618
Request 1 of 157
Request 2 of 157
Request 3 of 157
Request 4 of 157
Request 5 of 157
Request 6 of 157
Request 7 of 157
Request 8 of 157
Request 9 of 157
Request 10 of 157
Request 11 of 157
Request 12 of 157
Request 13 of 157
Request 14 of 157

Request 15 of 157
Request 16 of 157
Request 17 of 157
Request 18 of 157
Request 19 of 157
Request 20 of 157
Request 21 of 157
Request 22 of 157
Request 23 of 157
Request 24 of 157
Request 25 of 157
Request 26 of 157
Request 27 of 157
Request 28 of 157
Request 29 of 157
Request 30 of 157
Request 31 of 157
Request 32 of 157
Request 33 of 157
Request 34 of 157
Request 35 of 157
Request 36 of 157
Request 37 of 157
Request 38 of 157
Request 39 of 157
Request 40 of 157
Request 41 of 157
Request 42 of 157
Request 43 of 157
Request 44 of 157
Request 45 of 157
Request 46 of 157
Request 47 of 157
Request 48 of 157
Request 49 of 157
Request 50 of 157
Request 51 of 157
Request 52 of 157
Request 53 of 157
Request 54 of 157
Request 55 of 157
Request 56 of 157
Request 57 of 157
Request 58 of 157
Request 59 of 157
Request 60 of 157
Request 61 of 157
Request 62 of 157
Request 63 of 157
Request 64 of 157
Request 65 of 157
Request 66 of 157
Request 67 of 157
Request 68 of 157
Request 69 of 157
Request 70 of 157
Request 71 of 157
Request 72 of 157
Request 73 of 157
Request 74 of 157
Request 75 of 157
Request 76 of 157
Request 77 of 157
Request 78 of 157
Request 79 of 157
Request 80 of 157
Request 81 of 157
Request 82 of 157
Request 83 of 157
Request 84 of 157
Request 85 of 157
Request 86 of 157
Request 87 of 157
Request 88 of 157
Request 89 of 157
Request 90 of 157
Request 91 of 157
Request 92 of 157
Request 93 of 157
Request 94 of 157
Request 95 of 157
Request 96 of 157
Request 97 of 157
Request 98 of 157
Request 99 of 157
Request 100 of 157
Request 101 of 157
Request 102 of 157
Request 103 of 157
Request 104 of 157
Request 105 of 157
Request 106 of 157
Request 107 of 157
Request 108 of 157
Request 109 of 157
Request 110 of 157
Request 111 of 157
Request 112 of 157
Request 113 of 157
Request 114 of 157
Request 115 of 157
Request 116 of 157
Request 117 of 157
Request 118 of 157
Request 119 of 157
Request 120 of 157
Request 121 of 157
Request 122 of 157
Request 123 of 157
Request 124 of 157

In [176]:
df_houses

                             Link                   Listed         Borough
0     /for-sale/details/59013561/  Listed on 26th Jun 2021          Camden
1     /for-sale/details/59012418/  Listed on 26th Jun 2021          Camden
2     /for-sale/details/59012325/  Listed on 25th Jun 2021          Camden
3     /for-sale/details/59011798/  Listed on 25th Jun 2021          Camden
4     /for-sale/details/59010843/  Listed on 25th Jun 2021          Camden
...                           ...                      ...             ...
996   /for-sale/details/52150228/  Listed on 19th Jul 2019  Waltham Forest
997   /for-sale/details/52123874/  Listed on 17th Jul 2019  Waltham Forest
998   /for-sale/details/51323281/   Listed on 3rd May 2019  Waltham Forest
999   /for-sale/details/49748817/  Listed on 21st Nov 2018  Waltham Forest
1000  /for-sale/details/47238550/  Listed on 11th Apr 2018  Waltham Forest

[70196 rows x 3 columns]

In [182]:
df_houses['date_listed'] = df_houses['Listed'].apply(lambda x: datetime.strptime(x.split(' ')[-3][:-2]\
                                                                                 + '-' + x.split(' ')[-2]\
                                                                                 + '-' + x.split(' ')[-1],
                                                                                 '%d-%b-%Y'))
df_houses_to_get = df_houses[df_houses['date_listed'] > pd.to_datetime(date.today() - timedelta(days=180))]
df_houses_to_get

,Link,Listed,Borough,date_listed
0,/for-sale/details/59013561/,Listed on 26th Jun 2021,Camden,2021-06-26
1,/for-sale/details/59012418/,Listed on 26th Jun 2021,Camden,2021-06-26
2,/for-sale/details/59012325/,Listed on 25th Jun 2021,Camden,2021-06-25
3,/for-sale/details/59011798/,Listed on 25th Jun 2021,Camden,2021-06-25
4,/for-sale/details/59010843/,Listed on 25th Jun 2021,Camden,2021-06-25
...,...,...,...,...
820,/for-sale/details/41238265/,Listed on 8th Jan 2021,Waltham Forest,2021-01-08
821,/for-sale/details/57347147/,Listed on 8th Jan 2021,Waltham Forest,2021-01-08
822,/for-sale/details/46899547/,Listed on 5th Jan 2021,Waltham Forest,2021-01-05
823,/for-sale/details/57318745/,Listed on 5th Jan 2021,Waltham Forest,2021-01-05
824,/for-sale/details/57308398/,Listed on 4th Jan 2021,Waltham Forest,2021-01-04

In [174]:
df_prueba = df_houses.iloc[:40]
df_prueba_results = get_house_inner_details(df_prueba['Link'],df_prueba['Listed'],df_prueba['Borough'])
df_total = df_prueba.join(df_prueba_results)
df_total

Request 0 of 39
Request 1 of 39
Request 2 of 39
Request 3 of 39
Request 4 of 39
Request 5 of 39
Request 6 of 39
Request 7 of 39
Request 8 of 39
Request 9 of 39
Request 10 of 39
Request 11 of 39
Request 12 of 39
Request 13 of 39
Request 14 of 39
Request 15 of 39
Request 16 of 39
Request 17 of 39
Request 18 of 39
Request 19 of 39
Request 20 of 39
Request 21 of 39
Request 22 of 39
Request 23 of 39
Request 24 of 39
Request 25 of 39
Request 26 of 39
Request 27 of 39
Request 28 of 39
Request 29 of 39
Request 30 of 39
Request 31 of 39
Request 32 of 39
Request 33 of 39
Request 34 of 39
Request 35 of 39
Request 36 of 39
Request 37 of 39
Request 38 of 39
Request 39 of 39

,Link,Listed,Borough,agency_name,agency_phone,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,listingStatus,RoomCount,price,propertyType,isAuction,priceHistory,floorArea,tenure,detailedDescription,features,furnishedState,title,latitude,longitude,statusSummary
0,/for-sale/details/59012418/,Listed on 26th Jun 2021,Camden,Foxtons - Camden,020 3463 6980,False,"North Villas, Camden, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",850000.0,maisonette,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,A well presented 3 bedroom maisonette situated...,"[Stunning 3 bedroom maisonette, Period convers...",NaN,3 bed maisonette for sale,51.546375,-0.130763,Just added
1,/for-sale/details/59012325/,Listed on 25th Jun 2021,Camden,AbbeySpring London,020 3544 2531,True,"Goldhurst Terrace, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",1100000.0,maisonette,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,<strong>Description</strong><br><br>This brigh...,"[Flooded with natural light, Terrace, Underflo...",NaN,3 bed maisonette for sale,51.541782,-0.183490,Just added
2,/for-sale/details/59011798/,Listed on 25th Jun 2021,Camden,Hunters - West Hampstead,020 3542 2160,False,"Kylemore Road, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 6, ...",2350000.0,,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,Tenure: Freehold<br><br>A stunning six bedroom...,NaN,NaN,6 bed property for sale,51.545166,-0.194838,Just added
3,/for-sale/details/59010843/,Listed on 25th Jun 2021,Camden,Hamptons - City Sales,020 3463 2556,True,"Woburn Court, Bernard Street, London WC1N",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",1250000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,The apartment retains many charming period fea...,"[1171 Sq Ft, First Floor, Period Mansion Block...",NaN,3 bed flat for sale,51.523102,-0.125512,Just added
4,/for-sale/details/59010666/,Listed on 25th Jun 2021,Camden,Savills - Marylebone & Fitzrovia,020 8022 3384,False,"Goodge Street, Fitzrovia, London W1T",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",1350000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,A fabulous two bedroom split level apartment i...,"[Superb private roof terrace, Contemporary fee...",NaN,2 bed flat for sale,51.519069,-0.136125,Just added
5,/for-sale/details/59010250/,Listed on 25th Jun 2021,Camden,Niche Estates,020 8033 4236,True,"Prince Of Wales Road, London NW5",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",1200000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,Niche Estates are delighted to offer this Luxu...,"[Luxurious 6th floor apartment, Three bedrooms...",NaN,3 bed flat for sale,51.546913,-0.147117,Just added
6,/for-sale/details/59010209/,Listed on 25th Jun 2021,Camden,Foxtons - Clerkenwell,020 3463 2552,False,"Kings Cross Road, King's Cross, London WC1X",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",575000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,A stunning 1 bedroom flat is set above excelle...,[Refurbished 2nd Floor flat in a shop conversi...,NaN,1 bed flat for sale,51.529302,-0.116297,Just added
7,/for-sale/details/59010195/,Listed on 25th Jun 2021,Camden,Foxtons - Camden,020 3463 6980,False,"Queens Crescent, Camden, London NW5",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",775000.0,maisonette,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,This 3 bedroom apartment benefits from a stunn...,"[Stunning 3 bedroom apartment, Fabulous contem...",NaN,3 bed maisonette for sale,51.547566,-0.154249,Just added
8,/for-sale/details/59010194/,Listed on 25th Jun 2021,Camden,Foxtons - Camden,020 3463 6980,False,"Euston Street, Euston, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 5, ...",799950.0,maisonette,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,"With a central location, this excellent 5 bedr...","[Excellent 5 bedroom town house, Including a s...",NaN,5 bed maisonette for sale,51.526559,-0.136548,Just added
9,/for-sale/details/59010164/,Listed on 25th Jun 2021,Camden,Hamptons - West Hampstead Sales,020 3463 2723,False,"Alexandra Mansions, 347 West End Lane, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",625000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,An exceptional two double bedroom ground floor...,"[Two Double Bedroom, Ground Floor, Mansion Blo...",NaN,2 bed flat for sale,51.552231,-0.192260,Just added
10,/for-sale/details/59009838/,Listed on 25th Jun 2021,Camden,Dexters - Cricklewood,020 7794 7710,True,"Shoot Up Hill, London NW2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",500000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,A bright and unique top floor flat within peri...,"[Two Bedrooms, Private Balcony, Communal Garde...",NaN,2 bed flat for sale,51.551823,-0.209028,Just added
11,/for-sale/details/59009776/,Listed on 25th Jun 2021,Camden,The Cloister,020 8115 9868,False,"Warren Street, London W1T",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 5, ...",1450000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,The Cloister presents this triplex maisonette ...,"[Flat, 5 Beds, 1 Reception, 3 Bathrooms]",NaN,5 bed flat for sale,51.524190,-0.138640,Just added
12,/for-sale/details/59008485/,Listed on 25th Jun 2021,Camden,Keatons - Kentish Town,020 8033 5916,False,"Rhyl Street, London NW5",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",475000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,Set on the ground floor of this Victorian conv...,None,NaN,1 bed flat for sale,51.547714,-0.150589,Just added
13,/for-sale/details/59007814/,Listed on 25th Jun 2021,Camden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,/for-sale/details/59008310/,Listed on 25th Jun 2021,Camden,Vita Properties,020 3463 0656,False,"Priory Terrace, South Hampstead, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",775000.0,land,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,freehold,New with Planning Permission! Permission has b...,[New with Planning Permission! Permission has ...,NaN,Land for sale,51.539833,-0.189541,Just added
15,/for-sale/details/59007933/,Listed on 25th Jun 2021,Camden,Dexters - Dartmouth Park,020 7284 0101,False,"North Road, London N7",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",400000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,A two double bedroom apartment on the sixth fl...,"[Two Double Bedrooms, Open Plan, Leasehold, Se...",NaN,2 bed flat for sale,51.546934,-0.126048,Just added
16,/for-sale/details/59007507/,Listed on 25th Jun 2021,Camden,Compass Residential,020 8115 2259,False,"Malden Road, Chalk Farm NW5",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",550000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,A recently converted 2 bedroom raised ground f...,"[Period connversion, Raised ground floor, 2 be...",NaN,2 bed flat for sale,51.548450,-0.152398,Just added
17,/for-sale/details/59007318/,Listed on 25th Jun 2021,Camden,Portico - Highbury,020 3641 5352,True,"Portpool Lane, London EC1N",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",580000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,A fantastic two double bedroom apartment in he...,"[2 Bedrooms, Two Double Bedrooms, Ample Storag...",NaN,2 bed flat for sale,51.521070,-0.111639,Just added
18,/for-sale/details/59006889/,Listed on 25th Jun 2021,Camden,Chestertons - Kentish Town,020 8115 2496,False,"Bartholomew Villas, London NW5",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",595000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,A stylish one bedroom apartment of the raised ...,"[Stylish one bedroom apartment, Large light fi...",NaN,1 bed flat for sale,51.546476,-0.140514,Just added
19,/for-sale/details/59006789/,Listed on 25th Jun 2021,Camden,Hamptons - West Hampstead Sales,020 3463 2723,False,"Shoot Up Hill, London NW2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 7, ...",2500000.0,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,freehold,Rare to the market is this bright and airy 7 b...,"[House, Split Over Three Floors, Large Private...",NaN,7 bed terraced house for sale,51.551777,-0.208860,Just added
20,/for-sale/details/59006541/,Listed on 25th Jun 2021,Camden,Wayne and Silver,020 3641 4279,False,"Redington Gardens, London NW3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",1450000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",None,Offered for sale is this bright and spacious 3...,"[Roof Terrace, Balcony]",NaN,4 bed flat for sale,51.558259,-0.186817,Just added
21,/for-sale/details/59006217/,Listed on 25th Jun 2021,Camden,Winkworth - Kentish Town,020 8115 4640,False,"Beacon Hill, London N7",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",425000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,"The flat, which has its own private entrance, ...",None,NaN,1 bed flat for sale,51.552279,-0.123762,Just added
22,/for-sale/details/59006191/,Listed on 25th Jun 2021,Camden,Strettons Auctions,020 8022 5209,False,"153B Sumatra Road, West Hampstead, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",620000.0,flat,True,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,Location &amp; Description<br>A self-contained...,None,NaN,4 bed flat for sale,51.549000,-0.195000,Just added
23,/for-sale/details/59006154/,Listed on 25th Jun 2021,Camden,Foxtons - Camden,020 3463 6980,False,"Carlow Street, Camden, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': Non...",525000.0,studio,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,This is a stylish and bright studio apartment ...,"[Brand new studio apartment, Bright and spacio...",NaN,Studio for sale,51.535372,-0.140331,Just added
24,/for-sale/details/59006085/,Listed on 25th Jun 2021,Camden,Willtons Estates,020 8022 1826,False,"Fellows Road, London NW3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",510000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,We are proud to offer this delightful 3 bedroo...,"[Central heating, Double glazing, 0.2 miles to...",NaN,3 bed flat for sale,51.543593,-0.166432,Just added
25,/for-sale/details/59005994/,Listed on 25th Jun 2021,Camden,Keatons - Kentish Town,020 8033 5916,False,"Grafton Terrace, Kentish Town, London NW5",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",500000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,A one bedroom garden flat arranged over the gr...,"[Private South-Facing Garden, End-of-Terrace, ...",NaN,1 bed flat for sale,51.549714,-0.154229,Just added
26,/for-sale/details/59005934/,Listed on 25th Jun 2021,Camden,TK International,020 3478 2905,False,"Spaniards End, Hampstead NW3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 5, ...",7750000.0,,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,"A unique detached two storey, five bedroom mod...","[Detached, Separate gym/studio, Breathtaking g...",NaN,5 bed property for sale,51.570152,-0.175911,Just added
27,/for-sale/details/59005710/,Listed on 25th Jun 2021,Camden,Sandfords - Regent's Park,020 3463 9600,False,"Park Road, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",1495000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,"A rarely available, first floor, three bedroom...",None,NaN,3 bed flat for sale,51.525255,-0.160004,Just added
28,/for-sale/details/59005253/,Listed on 25th Jun 2021,Camden,Parkheath - West & South Hampstead,020 3478 2902,False,"Fairhazel Gardens, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",900000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",None,"Spacious split level 3 bedroom, 2 bathroom apa...","[Spacious split level 3 bedroom, 2 bathroom ap...",NaN,3 bed flat for sale,51.542114,-0.180440,Just added
29,/for-sale/details/59005173/,Listed on 25th Jun 2021,Camden,Gravitas Residential,020 3641 3563,False,"Princess Park Apartments, Prince Of Wales Road...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",485000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",None,An elegant one double bedroom contemporary apa...,"[One bedroom luxury apartment, Open plan recep...",NaN,1 bed flat for sale,51.546398,-0.146726,Just added
30,/for-sale/details/56749885/,Listed on 25th Jun 2021,Camden,Naylius McKenzie,020 3463 2625,True,"Haverstock Hill, Belsize Park, London NW3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",700000.0,maisonette,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,This unique two double bedroom duplex apartmen...,"[Two double bedrooms, Fully fitted &amp; equip...",NaN,2 bed maisonette for sale,51.546400,-0.157002,Just added
31,/for-sale/details/59004742/,Listed on 25th Jun 2021,Camden,Paramount,020 8166 7708,False,"Shoot Up Hill, Mapesbury NW2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",550000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,The seller loves the beautiful view from the b...,None,NaN,2 bed flat for sale,51.551069,-0.208989,Just added
32,/for-sale/details/59004585/,Listed on 25th Jun 2021,Camden,Mile Kensal Rise,020 8115 8759,True,"Minster Road, London NW2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",835000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,"<em></em> Offered in pristine condition, the p...","[Garden apartment, Two bedrooms, Excellent con...",NaN,2 bed flat for sale,51.553256,-0.203764,Just added
33,/for-sale/details/59003328/,Listed on 25th Jun 2021,Camden,Dexters - Hampstead,020 7435 9822,False,"Hermitage Gardens, London NW2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 5, ...",1750000.0,semi_detached,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,freehold,An unusually spacious semi detached family hom...,"[Two/Three Reception Rooms, Four/Five Bedrooms...",NaN,5 bed semi-detached house for sale,51.562829,-0.195369,Just added
34,/for-sale/details/59003204/,Listed on 25th Jun 2021,Camden,House Collective,020 3641 6615,False,"Eton Avenue, Belsize Park, London NW3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",2500000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,"Set over 2 floors, spanning c1736 sq ft / (161...",None,NaN,3 bed flat for sale,51.544542,-0.168936,Just added
35,/for-sale/details/59002605/,Listed on 25th Jun 2021,Camden,Robert Cooper & Co,020 8128 4968,False,"Rochester Road, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",1599950.0,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,Property located in<br><br><em></em> A well pr...,"[Freehold, 4 Bedrooms, Potential to extend, Wa...",NaN,4 bed terraced house for sale,51.544498,-0.141035,Just added
36,/for-sale/details/58999571/,Listed on 24th Jun 2021,Camden,Hunters - West Hampstead,020 3542 2160,False,"Gascony Avenue, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",825000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,A stunning three bedroom two bathroom duplex a...,"[Stunning three bedroom split level apartment,...",NaN,3 bed flat for sale,51.542742,-0.194501,Just added
37,/for-sale/details/58999297/,Listed on 24th Jun 2021,Camden,Jorgensen Turner,020 3544 6129,True,"Snowman House, London NW6",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",275000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,leasehold,A conveniently located and well laid out large...,"[Stunning views of london, Huge bedroom, Brigh...",NaN,1 bed flat for sale,51.540574,-0.188026,Just added
38,/for-sale/details/58998715/,Listed on 24th Jun 2021,Camden,Chestertons - St John's Wood,020 8115 2475,False,"Balcombe Street, Marylebone, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",565000.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,share_of_freehold,"Sole Agent. A bright and very well-presented, ...",None,NaN,1 bed flat for sale,51.524564,-0.162382,Just added
39,/for-sale/details/58998206/,Listed on 24th Jun 2021,Camden,Foxtons - Camden,020 3463 6980,False,"William Road, Euston, London NW1",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",699995.0,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",None,None,"With an ideal location in Euston, this bright ...","[Well proportioned 2 bedroom first floor flat,...",NaN,2 bed flat for sale,51.526754,-0.140331,Just added

In [141]:
pd.set_option('display.max_columns', None)
df_greenwich_results_w = data_wrangle(df_greenwich_results)
df_greenwich_results_w

,agency_name,agency_phone,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,listingStatus,RoomCount,price,propertyType,isAuction,priceHistory,floorArea,tenure,detailedDescription,features,furnishedState,title,latitude,longitude,statusSummary,floor_area_amount,floor_area_units,floor_area_msq,numBedrooms,numBathrooms,numLivingRooms,firstPublished,lastSale,priceChanges,firstPublishedDate,firstPublishedPrice,lastSaleDate,lastSaleNewBuild,lastSalePrice
0,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",637500,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,South 220 is a two bedroom apartment which fea...,"[Spacious south facing balcony, Modern interio...",NaN,2 bed flat for sale,51.487877,0.002851,Just added,1025.0,sq. ft,95.0,2,2,0,None,None,None,None,NaN,None,None,NaN
1,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",635000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,"Located on the sixth floor, this two bedroom a...","[Allocated parking space included, Open plan l...",NaN,2 bed flat for sale,51.487829,0.002809,Just added,765.0,sq. ft,71.0,2,2,0,None,None,None,None,NaN,None,None,NaN
2,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",630000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,South 200 is a two bedroom apartment which fea...,"[Brand new with 10 year NHBC warranty, Open pl...",NaN,2 bed flat for sale,51.487877,0.002851,Just added,758.0,sq. ft,70.0,2,2,0,None,None,None,None,NaN,None,None,NaN
3,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",630000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,These two bedroom apartments feature an open p...,"[Hyperoptic broadband, Open plan living, kitch...",NaN,2 bed flat for sale,51.487830,0.002797,Just added,789.0,sq. ft,73.0,2,2,0,None,None,None,None,NaN,None,None,NaN
4,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",605000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,This two bedroom apartment features an open pl...,"[On-site gym, concierge and swimming pool, Hyp...",NaN,2 bed flat for sale,51.487877,0.002851,Just added,799.0,sq. ft,74.0,2,2,0,None,None,None,None,NaN,None,None,NaN
5,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",575000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,These one bedroom apartments all feature an op...,"[<b>Help to Buy available*</b>, South facing b...",NaN,1 bed flat for sale,51.487834,0.002769,Just added,547.0,sq. ft,51.0,1,1,0,None,None,None,None,NaN,None,None,NaN
6,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",595995,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,This two bedroom apartment features an open pl...,"[Allocated parking space included, Open plan l...",NaN,2 bed flat for sale,51.487829,0.002809,Just added,761.0,sq. ft,71.0,2,2,0,None,None,None,None,NaN,None,None,NaN
7,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",501000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,These one bedroom apartments are spread over 6...,"[Phase 2 now released!, Modern interiors throu...",NaN,1 bed flat for sale,51.487852,0.002754,Just added,612.0,sq. ft,57.0,1,1,0,None,None,None,None,NaN,None,None,NaN
8,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",500000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,These one bedroom apartments are located on th...,"[Phase 2 now released!, Modern interior throug...",NaN,1 bed flat for sale,51.487830,0.002797,Just added,547.0,sq. ft,51.0,1,1,0,None,None,None,None,NaN,None,None,NaN
9,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",485000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,"A one bedroom apartment, located on the first ...","[Phase 2 now released!, Dual access balcony sp...",NaN,1 bed flat for sale,51.487834,0.002769,Just added,547.0,sq. ft,51.0,1,1,0,None,None,None,None,NaN,None,None,NaN
10,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",488000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,These one bedroom apartments can be found from...,"[Phase 2 now released!, Help To Buy available ...",NaN,1 bed flat for sale,51.487829,0.002809,Just added,539.0,sq. ft,50.0,1,1,0,None,None,None,None,NaN,None,None,NaN
11,Greenwich Peninsula - Sales,020 8128 9392,True,"No. 1, 18 Cutter Lane, Upper Riverside, Greenw...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",750000,,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,"What lovely home! This 9th floor, 2 bedroom ho...","[Luxury 9th Floor Apartment, Private Balcony w...",NaN,2 bed property for sale,51.501662,0.007097,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 10:59:08,750000.0,None,None,NaN
12,Chestertons - Canary Wharf,020 8115 2494,True,"Lambarde Square, Greenwich, London SE10",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",500000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"EWS1 form now available.<br><br>A spacious, st...","[2 Bedrooms, Over 900 sq ft, Fourth Floor, Bal...",NaN,2 bed flat for sale,51.486070,0.008553,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 10:25:26,500000.0,None,None,NaN
13,Your Move - Blackheath,020 3542 2145,True,"Mandeville Close, Vanbrugh Park, London SE3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",375000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"Guide price Â£375,000 to Â£400,000<br>Located in...","[Arranged over 2 floors, Views over the Heath,...",NaN,2 bed flat for sale,51.476566,0.013700,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 10:06:54,375000.0,2016-05-13,False,365700.0
14,JT Clarke London,020 3544 5903,False,"Bloomfield Road, Woolwich, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",200000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,Making for A great first time purchase or inve...,"[Close to Public Transport, Shops and Amenitie...",NaN,1 bed flat for sale,51.486373,0.072275,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 09:55:47,200000.0,None,None,NaN
15,JLL - Greenwich,020 8115 3660,True,"Dowells Street, London SE10",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",525000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,JLL are delighted to present to market this fa...,"[2 Bedrooms, 1 Bathroom, 3rd Floor, Balcony, S...",NaN,2 bed flat for sale,51.482936,-0.017596,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 09:41:35,525000.0,2014-02-07,True,445000.0
16,John Payne - Greenwich East,020 3641 3728,False,"Lambarde Square, London SE10",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",575000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Virtual viewing available<br><br>***EWS1 Compl...,"[Two Bedroom, Two Bathroom, Top Floor (Sixth),...",NaN,2 bed flat for sale,51.486070,0.008553,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 08:57:03,575000.0,2017-10-13,False,535000.0
17,Chattertons,020 3551 4545,False,"Green Lane, London SE9",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",400000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,"Price band 400,000 to 425,000 This is a Charmi...","[Charming period house, Bare brick exterior, W...",NaN,2 bed terraced house for sale,51.440495,0.062902,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 08:57:03,400000.0,2007-12-06,False,244950.0
18,Robinson Jackson - Plumstead,020 3641 4994,False,"Jessup Close, Woolwich, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",275000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"***guide price Â£275,000 - Â£295,000***<br>A spa...","[Generous 16ft Living Room, Spacious Kitchen, ...",NaN,2 bed flat for sale,51.490510,0.074823,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 08:39:53,275000.0,None,None,NaN
19,British Homesellers,01727 294874,False,"Creek Road, Greenwich, London SE8",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",690000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Wonderfully presented 3 bed apartment located ...,None,NaN,3 bed flat for sale,51.481111,-0.019847,Just added,NaN,NaN,NaN,3,3,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 23:09:47,690000.0,2006-03-22,True,405000.0
20,Hi Residential,020 3641 3117,True,"Miles Drive, London SE28",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",260000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Hi Residential are pleased to offer to the mar...,"[First Floor Flat, Two Bedrooms, En Suite Show...",NaN,2 bed flat for sale,51.503475,0.088930,Just added,NaN,NaN,NaN,2,1,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 23:01:43,260000.0,2005-08-31,True,161995.0
21,Benham and Reeves - Kensington,020 3641 9704,True,"Building 50, Argyll Road, Royal Arsenal Rivers...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",455000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"** With Parking ** Modern two bedroom, two bat...","[Parking, Two Bedroom, Two Bathroom, Third Flo...",NaN,2 bed flat for sale,51.490622,0.068216,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 22:47:32,455000.0,None,None,NaN
22,Benham and Reeves - Kensington,020 3641 9704,True,"Duke Of Wellington Avenue, Royal Arsenal River...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",620000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"Modern two bedroom, two bathroom apartment loc...","[River Views, Two Bedrooms, Two Bathrooms, 7th...",NaN,2 bed flat for sale,51.494394,0.067193,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,"[{'__typename': 'PriceHistoryChange', 'isMinor...",2021-06-22 22:46:57,630000.0,None,None,NaN
23,Benham and Reeves - Kensington,020 3641 9704,False,"Building 50, Argyll Road, Royal Arsenal Rivers...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",400000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"Two bedroom, two bathroom apartment with situa...","[Two Bedroom, Two Bathroom, Upper Ground Floor...",NaN,2 bed flat for sale,51.495137,0.075006,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 22:46:57,400000.0,None,None,NaN
24,Benham and Reeves - Kensington,020 3641 9704,True,"Cadet House, Victory Parade, Plumstead Road, W...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",530000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"Spacious two bedroom, two bathroom apartment s...","[Two Double Bedrooms with Carpeting, Two Bathr...",NaN,2 bed flat for sale,51.491738,0.070401,Just added,NaN,NaN,NaN,2,2,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 22:46:57,530000.0,2015-02-09,True,396000.0
25,Benham and Reeves - Kensington,020 3641 9704,False,"Tyger House, New Warren Lane, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",565000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Spacious two bedroom apartment in the popular ...,"[Two Bedroom, Two Bathrooms, 770 Square Feet (...",NaN,2 bed flat for sale,51.493559,0.069158,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 22:46:57,565000.0,None,None,NaN
26,Benham and Reeves - Kensington,020 3641 9704,True,"Building 48, Marlborough Road, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",620000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,One of the few buildings to retain its period ...,"[Three Bedrooms, Two Bathrooms, 1072 Square Fe...",NaN,3 bed flat for sale,51.494993,0.073991,Just added,NaN,NaN,NaN,3,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 22:46:57,620000.0,None,None,NaN
27,Benham and Reeves - Kensington,020 3641 9704,True,"Drummond House, Victory Parade, Woolwich, Lond...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",375000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Modern one bedroom apartment located in Drummo...,"[One Bedroom, One Bathroom, Podium Level, 576 ...",NaN,1 bed flat for sale,51.491518,0.072162,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 22:46:57,375000.0,None,None,NaN
28,Benham and Reeves - Kensington,020 3641 9704,True,"Building 50, Argyll Road, Royal Arsenal Rivers...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",455000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"** With Parking ** Modern two bedroom, two bat...","[** With Parking **, River Views, Two Bedrooms...",NaN,2 bed flat for sale,51.495137,0.075006,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 22:46:56,455000.0,2005-10-03,True,235000.0
29,Benham and Reeves - Kensington,020 3641 9704,False,"Lariat Apartments, Cable Walk, Greenwich, Lond...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",500000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"One bedroom, one bathroom, 7th floor apartment...","[One Bedroom, One Bathroom, 7th Floor, 542 Squ...",NaN,1 bed flat for sale,51.489914,0.003032,Just added,NaN,NaN,NaN,1,1,0,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 22:46:56,500000.0,None,None,NaN
30,Hunters - Abbey Wood,020 3478 3345,True,"Abbey Grove, Co-Op Estate, Abbey Wood, London SE2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",450000,semi_detached,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,Location! Location! Location! Period Style Sem...,"[Period Semi-Detached House, Through Lounge, K...",NaN,3 bed semi-detached house for sale,51.490482,0.117074,Just added,NaN,NaN,NaN,3,0,0,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 22:12:02,450000.0,2015-02-20,False,310000.0
31,Harbour Residential Ltd,020 3463 7520,True,"Castleford Ave, Eltham, London SE9",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 6, ...",780000,semi_detached,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,We are pleased to offer this recently extended...,"[Newly Refurbished 6 Bedroom House, Well Locat...",NaN,6 bed semi-detached house for sale,51.440654,0.067154,Just added,NaN,NaN,NaN,6,0,0,"{'__typename': 'PriceHistoryFirstPublished', '...",None,"[{'__typename': 'PriceHistoryChange', 'isMinor...",2021-06-22 21:26:00,795000.0,None,None,NaN
32,Winkworth - Greenwich,020 8033 4601,False,"Charter Buildings, Catherine Grove, Greenwich,...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",560000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,A stunning and extremely stylish two bedroom a...,"[Split level flat, Ground and first floor, Two...",NaN,2 bed flat for sale,51.474030,-0.019033,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 20:03:00,560000.0,2002-06-14,False,240000.0
33,Winkworth - Greenwich,020 8033 4601,True,"Beacon Point, 12 Dowells Street, Greenwich, Lo...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",689000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,We are delighted to offer this hugely impressi...,"[Stunning apartment, 6th floor corner position...",NaN,2 bed flat for sale,51.482835,-0.016981,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 20:03:00,689000.0,2013-12-12,True,630000.0
34,Winkworth - Greenwich,020 8033 4601,True,"Crooms Hill, Greenwich, London SE10",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 6, ...",3250000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,Located on the most sought after road in West ...,None,NaN,6 bed terraced house for sale,51.477847,-0.006526,Just added,NaN,NaN,NaN,6,2,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-22 19:35:30,3250000.0,2004-06-22,False,1200000.0
35,City & Urban International Shoreditch,020 3463 9603,False,"Ashmore Road, London, Woolwich SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",465000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,An outstanding character property built around...,"[Period Features, High Ceilings, Unique design...",NaN,2 bed flat for sale,51.475408,0.059149,Just added,NaN,NaN,NaN,2,1,0,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-22 16:48:00,465000.0,None,None,NaN

In [117]:
df_greenwich_results_w.head(40)

,agency_name,agency_phone,chain_free,address,isRetirementHome,isSharedOwnership,listingCondition,listingStatus,RoomCount,price,propertyType,isAuction,priceHistory,floorArea,tenure,detailedDescription,features,furnishedState,title,latitude,longitude,statusSummary,floor_area_amount,floor_area_units,floor_area_msq,numBedrooms,numBathrooms,numLivingRooms,firstPublished,lastSale,priceChanges,firstPublishedDate,firstPublishedPrice,lastSaleDate,lastSaleNewBuild,lastSalePrice
0,Winkworth - Greenwich,020 8033 4601,True,"Gilbert House, Mcmillan Street, Deptford, Lond...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",300000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,We are pleased to offer this extremely well pr...,"[Superb on bedroom flat, Ground floor, Circa 4...",NaN,1 bed flat for sale,51.481725,-0.023654,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 13:51:44,"Â£300,000",None,None,NaN
1,Greenwich Peninsula - Sales,020 8128 9392,True,"No.5, 2 Cutter Lane, Upper Riverside, Greenwic...",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",1055000,,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,A super 3 bedroom home having floor to ceiling...,"[Chain Free New Home, Direct River Views, Luxu...",NaN,3 bed property for sale,51.500610,0.008234,Just added,NaN,NaN,NaN,3,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 13:00:58,"Â£1,055,000",None,None,NaN
2,Greenwich Peninsula - Sales,020 8128 9392,True,"No.5, 2 Cutter Lane, Upper Riverside, Greenwic...",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",910000,,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,A private decked balcony with views over the l...,"[Luxury Home, Private Balcony, Desk Space, The...",NaN,2 bed property for sale,51.500610,0.008234,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 12:59:07,"Â£910,000",None,None,NaN
3,Greenwich Peninsula - Sales,020 8128 9392,True,"No.5, 2 Cutter Lane, Upper Riverside, Greenwic...",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",612500,,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,A stylish and spacious one bedroom home in Bui...,"[Residents Roof Terraces, Landscaped Gardens, ...",NaN,1 bed property for sale,51.500610,0.008234,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 12:56:29,"Â£612,500",None,None,NaN
4,Greenwich Peninsula - Sales,020 8128 9392,True,"No.5, 2 Cutter Lane, Upper Riverside, Greenwic...",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': Non...",510000,studio,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,"Designed by world-famous architects som, the 5...","[Video Tour Available, Studio Apartment, 15th ...",NaN,Studio for sale,51.500610,0.008234,Just added,NaN,NaN,NaN,0,1,0,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 12:55:03,"Â£510,000",None,None,NaN
5,CKB Estates,020 8115 0399,True,"Crombie Road, Sidcup DA15",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",550000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,<strong>Detailed Description</strong><br><br>A...,"[Semi detached, Chain free, Three bedrooms, Of...",NaN,3 bed terraced house for sale,51.439307,0.081992,Just added,NaN,NaN,NaN,3,2,3,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 12:47:21,"Â£550,000",None,None,NaN
6,Auction House London,020 3641 1932,False,"Flat 17 Highview, 75 Eglinton Hill, Plumstead,...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",160000,flat,True,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,<strong></strong><strong>Guide Price =</strong...,None,NaN,2 bed flat for sale,51.477000,0.070000,Just added,NaN,NaN,NaN,2,0,0,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-24 12:39:15,"Â£160,000",2007-04-05,False,108000.0
7,Vanquish Real Estate,020 8022 5356,True,"Pavilion Square, Royal Arsenal Riverside SE18",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",395000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Royal Arsenal Riverside<br><br>Vanquish Real E...,"[Sun Deck Terrace, Concierge services, Floor A...",NaN,1 bed flat for sale,51.493945,0.069258,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 12:34:34,"Â£395,000",None,None,NaN
8,Yopa,01322 584475,False,"Rennie Street, London SE10",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",640000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,"A beautifully presented, two bedroom house, wh...","[Two double bedrooms, En suite, Ground floor w...",NaN,2 bed flat for sale,51.493840,0.017507,Just added,NaN,NaN,NaN,2,3,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...","[{'__typename': 'PriceHistoryChange', 'isMinor...",2021-06-24 12:03:18,"Â£650,000",2018-09-18,True,600000.0
9,CKB Estates,020 8115 0399,False,"Middle Park Avenue, Eltham SE9",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",450000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,<strong>Detailed Description</strong><br><br>G...,"[In need of refurbishment, Four bedrooms, Thre...",NaN,4 bed terraced house for sale,51.449345,0.035946,Just added,NaN,NaN,NaN,4,3,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-24 11:52:54,"Â£450,000",2007-01-08,False,199000.0
10,Acorn - Plumstead High Street,020 3641 2219,False,"Mallard Path, London SE28",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",299950,end_terrace,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,Welcomed to the market is this great value one...,"[One Bedroom, End of Terrace, Close To Local A...",NaN,1 bed end terrace house for sale,51.492782,0.082059,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-24 10:58:25,"Â£299,950",2008-05-30,False,140000.0
11,Robinson Jackson - Plumstead,020 3641 4994,True,"Kirkham Street, Plumstead Common, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",350000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,"***guide price Â£350,000 - Â£360,000***<br>A two...","[14ft Master Bedroom, Two Reception Rooms, Fit...",NaN,2 bed terraced house for sale,51.479109,0.089384,Just added,NaN,NaN,NaN,2,1,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-24 10:03:10,"Â£350,000",2011-07-21,False,140000.0
12,Vanquish Real Estate,020 8022 5356,True,"Waterfront III, Royal Arsenal Riverside SE18",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': Non...",459950,studio,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,<strong>Royal Arsenal Riverside</strong><br><b...,"[Private Cinema, Sun Deck Terrace, Concierge s...",NaN,Studio for sale,51.494124,0.066920,Just added,NaN,NaN,NaN,0,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-24 09:45:46,"Â£459,950",None,None,NaN
13,Nested Ltd,020 8128 9373,False,"Humber Road, Blackheath, London SE3",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",1350000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,Enviably located in a popular residential area...,"[Stunning Period Style Family Home, 4 Double B...",NaN,4 bed terraced house for sale,51.483621,0.016609,Just added,NaN,NaN,NaN,4,2,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-24 09:27:14,"Â£1,300,000",2015-07-24,False,1198512.0
14,Hi Residential,020 3641 3117,False,"Elmdene Road, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",599995,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,Space is plentiful in this Victorian 4 bedroom...,"[Victorian End of Terrace House, Four Bedrooms...",NaN,4 bed terraced house for sale,51.483631,0.068202,Just added,NaN,NaN,NaN,4,2,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 23:01:57,"Â£599,995",2005-01-28,False,212000.0
15,Equity London,020 3463 0058,True,"Bexley Road, Eltham, London SE9",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",275000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,"Top floor, three bedroom, purpose built flat, ...","[Purpose Built Flat, Chain Free, Off Street Pa...",NaN,3 bed flat for sale,51.450242,0.082282,Just added,NaN,NaN,NaN,3,0,0,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 22:04:52,"Â£275,000",None,None,NaN
16,Savills - Canary Wharf RDS,020 8022 3229,True,"Courtyard, Greenwich Square, 1-3 Lambarde Squa...",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",650000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Courtyard at Greenwich Square offers the brigh...,"[Large two bedroom apartment, Available via He...",NaN,2 bed flat for sale,51.486070,0.008553,Just added,NaN,NaN,NaN,2,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 19:19:18,"Â£650,000",None,None,NaN
17,James Gorey Estate Agents - South East London ...,020 8128 4216,False,"Old Park Road, London SE2",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",675000,semi_detached,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,"Â£675,000 - Â£700,000.<br><br>Must be seen! Time...","[Guide Â£675,000 - Â£700,000, 4 Bed Extended Sem...",NaN,4 bed semi-detached house for sale,51.484100,0.106363,Just added,NaN,NaN,NaN,4,2,3,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 18:47:27,"Â£675,000",2002-10-11,False,275000.0
18,Foxtons - Greenwich,020 8128 2418,False,"Maidenstone Hill, Greenwich, London SE10",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",1400000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,Set in a period conversion near the renowned G...,[Gorgeous mid-terrace house arranged over 5 fl...,NaN,4 bed terraced house for sale,51.474077,-0.010829,Just added,NaN,NaN,NaN,4,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 18:10:33,"Â£1,400,000",None,None,NaN
19,Eden Estates,020 7768 0984,False,"Marlow Gardens, London SE9",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",304995,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Eden Estates are delighted to offer this virtu...,"[On street/residents parking, Central heating,...",NaN,1 bed flat for sale,51.450017,0.061403,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 16:39:30,"Â£304,995",None,None,NaN
20,jdm Estate Agents,020 8166 5334,True,"Bramhope Lane, Charlton SE7",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",700000,semi_detached,False,"{'__typename': 'PriceHistory', 'firstPublished...","{'__typename': 'FloorArea', 'unitsLabel': 'sq....",None,"<em></em> Guide Price Â£700,000-Â£720,000<br><br...","[Chain Free, Large Living Space, Great Locatio...",NaN,4 bed semi-detached house for sale,51.480468,0.029481,Just added,1504.0,sq. ft,140.0,4,2,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 16:23:08,"Â£700,000",2015-06-10,False,637000.0
21,Cockburn Estate Agents,020 3544 3920,False,"Margaret Gardner Drive, London SE9",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 4, ...",550000,detached,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,None,<em></em> Four bedroom detached house Situated...,"[Detached house, 4 bedrooms, Close to station,...",NaN,4 bed detached house for sale,51.435199,0.050201,Just added,NaN,NaN,NaN,4,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 15:50:47,"Â£550,000",2016-12-08,False,500000.0
22,Zuker Property Ltd,020 3641 0569,False,"Woolwich High St, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 1, ...",540000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Zuker Property is pleased to introduce this st...,"[One bedroom, One bathroom, 11th floor, Privat...",NaN,1 bed flat for sale,51.490622,0.068216,Just added,NaN,NaN,NaN,1,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,"[{'__typename': 'PriceHistoryChange', 'isMinor...",2021-06-23 15:47:56,"Â£535,000",None,None,NaN
23,James Gorey Estate Agents - South East London ...,020 8128 4216,True,"Kentmere Road, London SE18",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",400000,terraced,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,freehold,Chain free! An excellent opportunity to purcha...,"[Plumstead Train Station: 0.4 mile walk, Victo...",NaN,3 bed terraced house for sale,51.487948,0.092052,Just added,NaN,NaN,NaN,3,2,2,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 14:42:54,"Â£400,000",2002-11-29,False,143000.0
24,Savills - Canary Wharf,020 8022 3272,True,"Hampton Apartments, Duke Of Wellington Avenue,...",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",725000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,"A fantastic waterfront apartment, set within t...","[Stunning three bedroom apartment, Luxurious s...",NaN,3 bed flat for sale,51.494606,0.067923,Just added,NaN,NaN,NaN,3,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...",None,2021-06-23 14:06:19,"Â£725,000",2017-10-18,True,662625.0
25,Savills - Canary Wharf RDS,020 8022 3229,True,"Greenwich Square - Courtyard, Hawthrone Cresce...",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",699000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Superb new three bed apartment at Greenwich Sq...,"[Spacious south facing lateral apartment, Top ...",NaN,3 bed flat for sale,51.484423,0.008092,Just added,NaN,NaN,NaN,3,2,1,"{'__typename': 'PriceHistoryFirstPublished', '...",None,None,2021-06-23 14:04:46,"Â£699,000",None,None,NaN
26,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",770000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,West 80 is a modern three bedroom apartment wi...,"[Views towards the Thames and Canary Wharf, Pr...",NaN,3 bed flat for sale,51.487800,0.002891,Just added,1012.0,sq. ft,94.0,3,2,0,None,None,None,None,None,None,None,NaN
27,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",745000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,West90 is a three bedroom apartment with views...,[Enviable water views from the private balcony...,NaN,3 bed flat for sale,51.487824,0.002856,Just added,897.0,sq. ft,83.0,3,2,0,None,None,None,None,None,None,None,NaN
28,"Purplebricks, Head Office",024 7511 8874,True,"Miles Close, Thamesmead West SE28",False,False,pre-owned,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",280000,flat,False,"{'__typename': 'PriceHistory', 'firstPublished...",NaN,leasehold,Chain Free<br><br>A well-presented bedroom 2 b...,"[Two bedrooms, Two bathrooms, Private balcony,...",NaN,2 bed flat for sale,51.502558,0.087072,Just added,NaN,NaN,NaN,2,1,1,"{'__typename': 'PriceHistoryFirstPublished', '...","{'__typename': 'PriceHistoryLastSale', 'date':...","[{'__typename': 'PriceHistoryChange', 'isMinor...",2021-06-23 13:15:40,"Â£275,000",2006-05-05,True,249950.0
29,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",718000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,"This fifth floor, three bedroom apartment is c...","[Phase 2 now released!, Impressive wrap around...",NaN,3 bed flat for sale,51.487800,0.002891,Just added,1002.0,sq. ft,93.0,3,2,0,None,None,None,None,None,None,None,NaN
30,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",690000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,This three bedroom apartment boasts an open pl...,[Wrap around balcony with views North and East...,NaN,3 bed flat for sale,51.487774,0.002768,Just added,1002.0,sq. ft,93.0,3,2,0,None,None,None,None,None,None,None,NaN
31,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 2, ...",685000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,This impressive two bedroom apartment features...,"[Phase 2 now released!, Extraordinary wrap aro...",NaN,2 bed flat for sale,51.487877,0.002851,Just added,1025.0,sq. ft,95.0,2,1,0,None,None,None,None,None,None,None,NaN
32,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",665000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,This three bedroom apartment is located on the...,"[Phase 2 now released!, Modern interiors throu...",NaN,3 bed flat for sale,51.487823,0.002902,Just added,959.0,sq. ft,89.0,3,2,0,None,None,None,None,None,None,None,NaN
33,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",660000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,These three bedroom apartments are East facing...,"[Phase 2 now released!, Open plan living, kitc...",NaN,3 bed flat for sale,51.487774,0.002768,Just added,957.0,sq. ft,89.0,3,2,0,None,None,None,None,None,None,None,NaN
34,Bellway - The River Gardens,020 8033 1961,True,"Banning Street, Royal Greenwich, London SE10",False,False,new,for_sale,"{'__typename': 'RoomCount', 'numBedrooms': 3, ...",652000,flat,False,None,"{'__typename': 'FloorArea', 'unitsLabel': 'sq....",leasehold,This three bedroom apartment features an open ...,"[Two inset balconies, Open-plan kitchen, livin...",NaN,3 bed flat for sale,51.487761,0.002802,Just added,959.0,sq. ft,89.0,3,2,0,None,None,None,None,None,None,None,NaN

In [18]:
df_greenwich_results_w.iloc[16]['firstPublished']

{'__typename': 'PriceHistoryFirstPublished',
 'firstPublishedDate': '2021-06-24 12:03:18',
 'priceLabel': 'Â£650,000'}

In [128]:
for i in range(0, len(df_greenwich_results_w['priceHistory'])):
    print(df_greenwich_results_w['features'][i])

['Spacious south facing balcony', 'Modern interior throughout - no need to decorate', 'Open plan living, kitchen and dining', 'Selection of integrated kitchen appliances', 'Hyperoptic broadband, making home working easy', 'En suite to bedroom 1', 'Parking available to purchase', 'Brand new with 10 year NHBC warranty', 'On-site facilities including a gym, swimming pool and concierge service']
['Allocated parking space included', 'Open plan living, kitchen and dining', 'Modern interior throughout - no need to decorate', 'Selection of integrated kitchen appliances', 'Dual access balcony', 'Hyperoptics - ideal for working from home', 'En suite to bedroom 1', 'On-site gym, concierge and swimming pool', 'Chain free for an easy move']
['Brand new with 10 year NHBC warranty', 'Open plan living, kitchen and dining', 'Modern interior throughout - no need to decorate', 'Selection of integrated kitchen appliances', 'South facing balcony', 'Hyperoptics - ideal for working from home', 'En suite to bedroom 1', 'On-site gym, concierge and swimming pool', 'Chain free for an easy move']
['Hyperoptic broadband', 'Open plan living, kitchen and dining', 'Selection of integrated kitchen appliances', 'South facing balcony', 'En suite to bedroom 1', 'Modern interior throughout - no need to decorate', 'Chain free for an easy move', 'On-site facilities including a gym, swimming pool and concierge service', 'Enviable location for leisure and travel connections']
['On-site gym, concierge and swimming pool', 'Hyperoptics - ideal for working from home', 'Modern interior throughout - no need to decorate', 'Open plan living, kitchen and dining', 'Dual access balcony', 'Selection of integrated kitchen appliances', 'En suite to bedroom 1', 'On-site facilities including a gym, swimming pool and concierge service', 'Allocated parking space included']
['<b>Help to Buy available*</b>', 'South facing balcony', 'Open plan living, kitchen and dining', 'Selection of integrated kitchen appliances', 'Fitted wardrobe to bedroom', 'Parking available to purchase', 'Brand new with 10 year NHBC warranty', 'On-site facilities including a gym, swimming pool and concierge service', 'Enviable location for leisure and travel connections']
['Allocated parking space included', 'Open plan living, kitchen and dining', 'Modern interior throughout - no need to decorate', 'Selection of integrated kitchen appliances', 'Dual access balcony', 'Hyperoptics - ideal for working from home', 'En suite to bedroom 1', 'On-site gym, concierge and swimming pool', 'Chain free for an easy move']
['Phase 2 now released!', 'Modern interiors throughout', 'Chain free for an easy move', 'Brand new with 10 year NHBC warranty', 'Selection of integrated kitchen appliances', 'Private balcony', 'Hyperoptic Broadband', 'On-site facilities including a gym, swimming pool and concierge service', 'Help to Buy available on selected plots*']
['Phase 2 now released!', 'Modern interior throughout - no need to decorate', 'Hyperoptic broadband', 'Selection of integrated kitchen appliances', 'Open plan living, kitchen and dining', 'Private balcony', 'On-site facilities including a gym, swimming pool and concierge service', 'Help to Buy available on selected plots*']
['Phase 2 now released!', 'Dual access balcony space', 'Open plan living, kitchen and dining', 'Modern interior throughout - no need to decorate', 'Selection of integrated kitchen appliances', 'Chain free for an easy move', 'Brand new with 10 year NHBC warranty', 'On-site facilities including a gym, swimming pool and concierge service', 'Help to Buy available*']
['Phase 2 now released!', 'Help To Buy available - Only 5% deposit!', 'Open plan living, kitchen and dining', 'Modern interior throughout - no need to decorate', 'Selection of integrated kitchen appliances', 'Chain free for an easy move', 'Brand new with 10 year NHBC warranty', 'Hyperoptics - ideal for working from home', 'Private balcony']
['Luxury 9th Floor Apartment', 'Private Balcony with Views', 'Exclusive Upper Riverside Club with Residents Swimming Pool', 'Residents Terraces &amp; Gyms', '24 Hour Concierge', 'Cinema', 'North Greenwich Underground - Jubilee Line', '2 Mins to Canary Wharf', '8 Mins to London Bridge']
['2 Bedrooms', 'Over 900 sq ft', 'Fourth Floor', 'Balcony', 'Modern Development', '0.5 miles to Maze Hill Station']
['Arranged over 2 floors', 'Views over the Heath', 'Fully Refurbished', 'Modern Appliances', 'Great Transport Links', 'Proximity to Bars &amp; Restaurants']
['Close to Public Transport', 'Shops and Amenities Nearby', 'Offered in Good Condition', 'One Bedroom', 'Purpose Built', 'Investment Opportunity', 'Leasehold', 'Balcony', 'Great First Time Buy']
['2 Bedrooms', '1 Bathroom', '3rd Floor', 'Balcony', 'Stunning river views', 'Close to DLR &amp; mainline stations', 'Approx. 648 sq ft (60.2 sq m)', 'Concierge services', 'Waitrose', 'EPC: B']
['Two Bedroom', 'Two Bathroom', 'Top Floor (Sixth)', 'Beautifully Presented', 'Close to Superb Transportation', 'EWS1 Compliant', 'Underground Parking', 'Long Leasehold']
['Charming period house', 'Bare brick exterior', 'West facing garden', 'Backing onto Golf Course', '2 double bedrooms', 'Double glazed sash windows to the front', '2 receptions', 'Great for New Eltham mainline station']
['Generous 16ft Living Room', 'Spacious Kitchen', 'Two Double Bedrooms', 'Double Glazing', 'Central Heating', 'Close To Station']
None
['First Floor Flat', 'Two Bedrooms', 'En Suite Shower Room', 'Electric Heating', 'Double Glazed', 'Close to River Thamesmead', 'Close to Woolwich Rail Links', 'No Forward Chain']
['Parking', 'Two Bedroom', 'Two Bathroom', 'Third Floor', 'River Views', 'Residents Gym and Concierge', 'EWS1 Compliant', 'Crossrail Coming Soon', 'Chain Free']
['River Views', 'Two Bedrooms', 'Two Bathrooms', '7th Floor', '766 Square Feet (Approx.)', 'Residents Gym and Concierge', 'Integrated Appliances', 'Riverside Development', 'On-Site Crossrail Station']
['Two Bedroom', 'Two Bathroom', 'Upper Ground Floor', '765 Square Feet (Approx.)', 'Private Balcony', 'Open Plan', 'Riverside Development', 'Residents Amenities (Concierge and Gym)', 'Woolwich Arsenal Station (Crossrail On Site 2022)']
['Two Double Bedrooms with Carpeting', 'Two Bathrooms', 'Third Floor', '900 Square Feet (Approx.)', 'Balcony With Westerly Views', 'Open Plan', 'Breakfast Bar', 'Residents Gym and Concierge', 'On Site Crossrail Station (Due 2022)', 'Woolwich Overground and DLR Station']
['Two Bedroom', 'Two Bathrooms', '770 Square Feet (Approx.)', 'Access to Premium Residents Facilities', 'Second Floor', 'Perfect for ftb', 'Dual Aspect', 'High Specifications', 'Benham And Reeves Office On-site', 'Woolwich Arsenal Station (DLR, Overground and Crossrail Coming Soon)']
['Three Bedrooms', 'Two Bathrooms', '1072 Square Feet (Approx.)', 'Duplex Apartment', 'Exposed Brickwork', 'Warehouse Style Windows', 'Riverside Development', 'Residents Facilities', 'On Site Crossrail Station (Due 2022)']
['One Bedroom', 'One Bathroom', 'Podium Level', '576 Square Feet (Approx.)', 'Overlooking Landscaped Communal Gardens', "Resident's Gym (Â£27.50 per month Additional cost) and 24 Hour Concierge", 'Modern Apartment', 'Riverside Development', 'Benham and Reeves Office On-Site', 'Woolwich Arsenal Station (Zone 4)']
['** With Parking **', 'River Views', 'Two Bedrooms', 'Two Bathrooms', 'Gym and Concierge', 'Third Floor', 'Balcony', 'Chain Free', 'Woolwich Arsenal DLR and Rail Station (Crossrail Coming Soon)', 'EWS1 Compliant']
['One Bedroom', 'One Bathroom', '7th Floor', '542 Square Feet (Approx.)', 'Riverside Development', 'Open Plan', '24 Hour Concierge', 'North Greenwich Station (Zone 2)']
['Period Semi-Detached House', 'Through Lounge', 'Kitchen Breakfast Room', 'Three Double Bedrooms', '1st Floor Bathroom &amp; Separate WC', '0.2 Miles To Abbey Wood Station', 'Chain Free', 'Near Sought After Primary &amp; Secondary Schools']
['Newly Refurbished 6 Bedroom House', 'Well Located Quiet Residential Road', 'Three Bath/Shower Rooms With WCs', 'Fully Fitted Open Plan Kitchen', 'Gas Central Heating/Double Glazing', 'Low Maintenance Rear Garden', 'Off Street Parking', 'Close To Station &amp; Local Amenities', 'EPC -C No Onward Chain']
['Split level flat', 'Ground and first floor', 'Two bedrooms', 'High ceilings', 'Mezzanine bedroom', 'Two bathrooms', 'Converted school building', 'Ashburnham Triangle', 'West Greenwich', 'Quiet road']
['Stunning apartment', '6th floor corner position (with lift)', 'Circa 751 square foot', 'Outstanding view of river and Canary Wharf', 'Large winter garden balcony', 'Two bathrooms', 'Large open plan kitchen diner', 'Direct balcony access from all main rooms', 'Secure parking', 'New Capital Quay']
None
['Period Features', 'High Ceilings', 'Unique design', 'Historical significant', 'Concierge service', 'Parking Included']
['Residents Roof Terraces', 'River Views', 'Landscaped Gardens', 'North Greenwich Underground - Jubilee Line', '2 Mins to Canary Wharf', '8 Mins to London Bridge', '15th Floor Residents Swimming Pool', 'Residents Gyms and Spa Pool', 'Cinema &amp; Media Room', 'Residents Work Stations']
['Modern One Bedroom Apartment', 'Third Floor', 'Private Balcony', 'Beautifully Presented', 'Ideal First Time Buy', 'Communal Gardens', 'Close To Superb Transportation', 'Convenient Shopping Facilities']
['Call now 24/7 or book instantly online to View', 'Close to Excellent Local Amenities', 'Close to Excellent Local Shops', 'Close to Excellent Local Transport Links', 'Close to Local Park', 'Driveway for Off Road Parking', 'Excellent Commuter Links', 'Good Size Family Gardens', 'Very Popular Location', 'Wonderful Family Home']
nan
nan
['Fully-fitted kitchen with integrated appliances', 'London Help to Buy available', 'Master bedroom with en suite', 'Open-plan living area', 'Private Balcony', 'All flooring included', 'London Bridge in 16 minutes']
['2 Bedrooms', '1 Bathroom', '2 Reception rooms', 'Semi-detached house', 'East Greenwich location', 'Approx. 1,142 sq ft (106.1 sq m)', 'Secure rear garden', 'Close to Maze Hill mainline station', 'No onward chain', 'EPC: D']
['Two bedrooms apartment', 'Future cross rail site', 'Chain free', 'Very well presented', 'Gas central heating &amp; double glazed', 'Close to bostall woods and shops', 'Excellent transport links']
['* Exclusively for the over 60s', '* Lift to all floors', '* Communal Ownersâ Lounge with Coffee Bar', '* Secure video entry system', '* 24 hour Careline support system', '* Intruder alarm system', '* On-site Lodge Manager', '* Fully fitted kitchen with washer/dryer and fridge and freezer', '* Landscaped grounds', '* Free car parking']
['Chain free', 'Spacious bedrooms', 'Master with en-suite', 'Beautiful kitchen', 'Modern bathroom', 'Private balcony', '24 hour concierge', 'Residents gym and pool', 'EPC rating C']
['Beautifully Presented', 'Four Double Bedrooms', 'Two Bathrooms', 'Over Looking The Plesaunce', 'Halstow Catchment', 'Close To Superb Transportation', 'No Onward Chain', 'Convenient shopping Facilities']
['Modern apartment block on luxury development', '3 bedroom apartment with spacious interiors throughout', 'Open plan reception with an integrated kitchen', '3 spacious bedrooms, 1 with en suite', 'Sleek family bathroom', 'Private balcony with excellent views', 'On site gym and pool facilities', 'Concierge']
None
None
None
['Double Glazing', 'Fitted Kitchen', 'Off-street parking', 'Wooden Floors']
['Close To Amenities', 'Double Glazing', 'Ensuite Bathroom', 'Garden', 'No Onward Chain', 'Off-street parking', 'Wooden Floors']
['10-year NHBC Buildmark warranty', '2-year Fairview warranty', 'Fully-fitted kitchen with integrated appliances', 'Great local amenities', 'London Help to Buy available', 'Westcombe Park Overground (Zone 3) and Charlton Overground (Zone 3) are around a 10 minute walk away', 'Private Balcony', 'Open-plan living area', 'Storage', 'Master bedroom with en suite']
['Tenure: Leasehold']
['Ground Floor Maisonette', 'Two Double Bedrooms', 'Large Private Rear Garden', 'Chain Free', 'Double Glazing &amp; Gas Central Heating', '107 Year Lease Remaining', 'Off Road Parking Area', 'Viewings by Appointment on 29th June']
nan
['Close-to-local-amenities', 'Double-glazed-windows', 'Open-plan', 'En-suite']
['Chain Free', 'Newly Refurbished', 'Ample Storage Throughout', 'Private Decked Garden', 'Short Walk to The Town Centre', 'Just a Few Moments Away From Greenwich Mainline Station']
['Live in the Royal Borough of Greenwich', 'Shared Ownership available', 'Modern specification and design', 'Located close to North Greenwich station', 'Direct transport links to London Bridge', 'Live in Zone 2/3']

In [133]:
print(df_greenwich_results_w['features'][15])

['2 Bedrooms', '1 Bathroom', '3rd Floor', 'Balcony', 'Stunning river views', 'Close to DLR &amp; mainline stations', 'Approx. 648 sq ft (60.2 sq m)', 'Concierge services', 'Waitrose', 'EPC: B']

In [63]:
df_greenwich.head(40)

                            Link                   Listed    Borough
0    /for-sale/details/59006786/  Listed on 25th Jun 2021  Greenwich
1    /for-sale/details/59005972/  Listed on 25th Jun 2021  Greenwich
2    /for-sale/details/59005905/  Listed on 25th Jun 2021  Greenwich
3    /for-sale/details/59005916/  Listed on 25th Jun 2021  Greenwich
4    /for-sale/details/59005919/  Listed on 25th Jun 2021  Greenwich
5    /for-sale/details/59002806/  Listed on 25th Jun 2021  Greenwich
6    /for-sale/details/59002356/  Listed on 25th Jun 2021  Greenwich
7    /for-sale/details/58999206/  Listed on 24th Jun 2021  Greenwich
8    /for-sale/details/58998964/  Listed on 24th Jun 2021  Greenwich
9    /for-sale/details/58996132/  Listed on 24th Jun 2021  Greenwich
10   /for-sale/details/58995785/  Listed on 24th Jun 2021  Greenwich
11   /for-sale/details/58993945/  Listed on 24th Jun 2021  Greenwich
12  /new-homes/details/58993370/  Listed on 24th Jun 2021  Greenwich
13  /new-homes/details/58993354/  Listed on 24th Jun 2021  Greenwich
14  /new-homes/details/58993335/  Listed on 24th Jun 2021  Greenwich
15  /new-homes/details/56376097/  Listed on 24th Jun 2021  Greenwich
16   /for-sale/details/58182036/  Listed on 24th Jun 2021  Greenwich
17   /for-sale/details/58990699/  Listed on 24th Jun 2021  Greenwich
18  /new-homes/details/58987501/  Listed on 23rd Jun 2021  Greenwich
19   /for-sale/details/58987167/  Listed on 23rd Jun 2021  Greenwich
20  /new-homes/details/54690550/  Listed on 23rd Jun 2021  Greenwich
21  /new-homes/details/58982665/  Listed on 23rd Jun 2021  Greenwich
22  /new-homes/details/58982648/  Listed on 23rd Jun 2021  Greenwich
23  /new-homes/details/58982625/  Listed on 23rd Jun 2021  Greenwich
24  /new-homes/details/58982579/  Listed on 23rd Jun 2021  Greenwich
25   /for-sale/details/59006786/  Listed on 25th Jun 2021  Greenwich
26   /for-sale/details/59005972/  Listed on 25th Jun 2021  Greenwich
27   /for-sale/details/59005905/  Listed on 25th Jun 2021  Greenwich
28   /for-sale/details/59005916/  Listed on 25th Jun 2021  Greenwich
29   /for-sale/details/59005919/  Listed on 25th Jun 2021  Greenwich
30   /for-sale/details/59002806/  Listed on 25th Jun 2021  Greenwich
31   /for-sale/details/59002356/  Listed on 25th Jun 2021  Greenwich
32   /for-sale/details/58999206/  Listed on 24th Jun 2021  Greenwich
33   /for-sale/details/58998964/  Listed on 24th Jun 2021  Greenwich
34   /for-sale/details/58996132/  Listed on 24th Jun 2021  Greenwich
35   /for-sale/details/58995785/  Listed on 24th Jun 2021  Greenwich
36   /for-sale/details/58993945/  Listed on 24th Jun 2021  Greenwich
37  /new-homes/details/58993370/  Listed on 24th Jun 2021  Greenwich
38  /new-homes/details/58993354/  Listed on 24th Jun 2021  Greenwich
39  /new-homes/details/58993335/  Listed on 24th Jun 2021  Greenwich

In [47]:
prueba.iloc[1]

[{'__typename': 'PriceHistoryChange',
  'isMinorChange': False,
  'isPriceDrop': True,
  'isPriceIncrease': False,
  'percentageChangeLabel': '1.5',
  'priceChangeDate': '2021-06-24 13:13:29',
  'priceChangeLabel': 'Â£10,000',
  'priceLabel': 'Â£640,000'}]

In [52]:
df_boroughs['borough_url'][1]

'https://www.zoopla.co.uk/for-sale/property/Greenwich-london-borough/?page_size=25&q=greenwich&radius=0&results_sort=newest_listings&pn=1'